
.green {
    background: $green;
}
.grey {
    background: $grey;
}
.yellow {
    background: $yellow;
}
.orange {
    background: $orange;
}
.purple {
    background: $purple;
}
.cyan {
    background: $cyan;
}
.pink {
    background: $pink;
}
.red {
    background: $red;
}

div.background-material {
    position: absolute;
    background: linear-gradient(to bottom, $primary 0%, $primary 200px, $primary 200px, white 200px, white 100%);
}
