.exercizer{
    [drag-item]{
        cursor: move;
    }
    image-zone{
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        float: left;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        margin: 8px;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        img{
            border-radius: 3px;
        }
        &.error::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(236, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
        }
        &.success::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(32, 204, 36, 0.4);
        }
        i.close{
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        }
        .actions{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 14px;
            padding-left: 11px;
            background: rgba(0,0,0,0.5);
            height: 35px;
            line-height: 35px;
            color: #fff;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            i{
                padding-right: 3px;
                margin-top: 1px;
            }
            &:hover{
                color: $accent;
            }
        }
    }
    .base-image{
        width: 760px;
        height: 600px;
        margin: auto;
        background: #efefef;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: visible;

        article{
            background: transparent;
            padding: 0;
        }

        .image-container{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        > img{
            width: 100%;
            height: auto;
        }
    }

    .options{
        ul{
            padding: 0;
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: center;
            display: flex;
            li{
                background: #fff;
                margin: 5px;
                box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
                padding: 8px;
                color: #666;
                cursor: pointer;
                width: 200px;
                &.selected{
                    background: $primary;
                }
            }
        }
        
        background: #eee;
        padding: 8px;
        border-radius: 3px;
    }

    .add-option{
        input[type=text], button{
            float: left;
        }
        input[type=text]{
            border: 1px solid #ddd;
        }
        button{
            border-radius:0;
            box-shadow: none;
            width: 32px;
            padding: 5px;
            margin-left: 0;
            height: 29px;
        }
    }

    text-zone{
        background: rgba(255,255,255,0.6);
        padding: 8px;
        color: #666;
        border: 1px solid #fff;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
        box-sizing: border-box;
        width: 150px;
        display: block;
        height: 30px;

        .drop-zone{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;
            line-height: 30px;
            text-align: center;
        }

        &.error{
            background: rgba(236, 0, 0, 0.33);
            border: rgba(236, 0, 0, 0.38) 1px solid;
            color: #e8e8e8;
        }

        &.success{
            background: rgba(32, 204, 36, 0.29);
            border: 1px solid rgba(32, 204, 36, 0.48);
            color: #fff;
        }

        > i{
            margin-right: 5px;
            display: inline-block;
            height: 29px;
            vertical-align: middle;
        }
        > input{
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            display: block;
        }
    }

    nav{
        padding-right: 35px;
    }
}