
@font-face {
	font-family: "Roboto";
	src: url(../../../entcore-css-lib/font/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto";
	src: url(../../../entcore-css-lib/font/Roboto/Roboto-Italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: "Roboto";
	src: url(../../../entcore-css-lib/font/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: "Roboto";
	src: url(../../../entcore-css-lib/font/Roboto/Roboto-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}



@font-face {
	font-family: "OpenDyslexic";
	src: url(../../../entcore-css-lib/font/OpenDyslexic3-Regular.ttf);
}

@font-face {
    font-family: 'generic-icons';
    src: url(../../../generic-icons/fonts/generic-icons.ttf);
    font-weight: normal;
    font-style: normal;
}
.fonticon {
    @include fonticon;
}
i{
    @include fonticon;
}
