
$wide-screen: 1200px;
$small-screen: 959px;

@media screen and (max-width: $wide-screen){
	.login{
		h1{
			display: none;
		}
	}
}
@media screen and (max-width: $small-screen) {

	//workspace carousel
	.rigid-grid .margin-four carousel.slide{
		.image.previous, .image.next{
			width: 0;
			height: 0;
			padding: 0;
			border: none;
		}
		.image.next{
			margin-left: 100%;
		}
		.image.current{
			width: 80%;
			margin-left: 10%;
		}
		//arrow bg
		.image.previous::before, .image.next::before{
		  top: -20px;
		}
		//arrow shape & color
		.image.previous::after, .image.next::after{
		  top: -10px;
		}
	}

	.main-col .checkbox-filters{
		float: none;
		height: auto;
	}
	div.checkbox-filters{
		display: block;

		ul{
			padding: 0;
		}
	}
	//label "filtrer"
	div.checkbox-filters div.cell:not(.checkbox-filters){
	  float: none;
	  padding-bottom: 10px;
	}

}


@media screen and (max-width: $tablette){

	body.point-out{
		cursor: pointer!important;
	}

	body{

		.application-title{
			i.blog, i.wiki{
				display: inline-block!important;
			}
		}

		nav.vertical[side-nav]{
			background-color: $primary;
			border-left: 10px solid $accent;
			padding-left: 0;
			ul{
				border-left: none !important;
				li{
					a.selected{
						background: rgba(255,255,255, 0.2)
					}
					a{
						color: #fff;
					}
				}
			}
			a.classic-link{
				background: #fff;
				&:hover{
					color: $accent;
				}
			}

		}
		.mobile-nav-opener{
			font-family: fontello;
			background: none;
			&::before{
				content: '\e84f';
				font-size: 28px;
				color: $accent;
				position: absolute;
				top: 11px;
				left: 10px;
			}
		}
	}
	h1{
		font-size: 18px;
		margin-bottom: 9px;
		line-height: 30px;
	}
	h1.application-title{
		color: transparent;
		span{
			color: $white;
		}
		span + span{
			display: block;
			background: $primary;
			width: 100%;
			margin: auto;
			position: fixed;
			left: 0;
			text-align: center;
			font-size: 17px;
			height: 35px;
			line-height: 35px;
			cursor: default;
		}
	}
	section.subtitle-push{
		margin-top: 40px;
	}
	.panel{
		box-sizing: border-box;
		background: $primary;
		input-password{
			button{
				padding: 5px 0;
				&::before{
					position: relative;
					line-height: 23px;
					font-size: 16px;
					left: 0;
				}
			}
		}
	}
	.navbar{
		height: 50px;
	}
	nav.vertical[side-nav]{
		top: 60px;
	}
	nav.horizontal{
		right: 0;
		height: 50px;
		#my-photo{
			width: 25px;
			margin-top: 7px;
		}
		> a, > popover a{
			font-size: 14px;
			margin-left: 0;
			height: 50px;
			line-height: 50px;
		}
		i.disconnect{
			width: 22px !important;
			margin-right: 0;
			margin-left: 0;
		}
		> a i::before, popover > a i::before{
			font-size: 25px;
		}
	}
	nav.vertical.half-stamps{
		& > div{
			width: 520px;
    		margin: 10px auto;
		}
		article{
			width: auto;
    		float: none!important;
		}
		article.selected{
			background: $primary-light;
		}
		input[type=checkbox] {
			position: absolute;
			left: 70px;
			z-index: 2;
		}
	}
	.previews{
		width: 95%;
		margin: auto;
	}
	body{
		font-size: 14px;
		.material section.main{
			padding: 8px 15px;
			padding-bottom: 100px;
			top: 52px;
		}
	}
	.forgot.panel{
		h1{
			width: 100%;
			text-align: center;
			font-size: 40px;
		}
	}
	.toggle-panel{
		right: -15px;
		top: 52px;
	}
	.notification article .notification-date{
		right: 10px;
		top: 8px;
	}
	body{
		.mobile-nav-opener{
			background-image: none;
			font-family: fontello;
			padding: 15px;
			&::before{
				color: $accent;
				content: '\e84f';
				font-size: 28px;
			}
		}
	}
	h2 + article.rigid-grid .three-mobile + .margin-two{
		margin-left: 25%;
		form{
			.bottom-locked input{
				margin-bottom: 10px;
				font-size: 13px;
			}
		}
	}
	.twelve-mobile input[type=search]{
		margin-top: 15px;
	}

	article form .rigid-grid > .margin-two{
		margin-left: 25%;
		input[type=text]{
			font-size: 13px;
		}
		.bottom-locked > .right-magnet {
		    margin-bottom: 10px;
		}
	}

	.rigid-grid{
		.side-col{
			nav.vertical{
				.illustration{
					img{
						margin: 0;
					}
					input[type=checkbox]{
						left: 5px;
				    }
				}
			}

		}

		.side-col + .main-col{
			overflow: hidden;
			text-align: center;

			container{
				float: none;
				text-align: left;

				& > div > .checkbox-filters{
					padding: 0px 20px 5px;
				}
			}

		}
		.side-col + .main-col + .main-col > div{
			margin-top: 20px;
		}
	}
}
@media screen and (max-width: $fat-mobile){
	body{

		h1.application-title{
			span + span{
				font-size: 15px;
				height: 25px;
				line-height: 25px;
			}
		}
		section.subtitle-push{
			margin-top: 30px;
		}

		.notification{
			.content {
				margin: 20px 10px 5px;
			}
		}
		.previews .preview-wrapper{
			//date
			em.metadata {
				top: 160px;
				font-size: 10px;
			}
		}

		.previews article.preview{
			label {
			    top: 27px;
			}
			//img
			.one.horizontal-spacing{
			    width: 70px;
			}
			.margin-three {
			    margin-left: 95px;
				h2{
					font-size: 14px;
					line-height: 17px;
					max-height: 35px;
					span{
						display: block;
					}
				}
				.margin-three {
					margin: 0 5px 0 5px;
					line-height: 17px;
					font-size: 13px
				}
				//preview part
				.margin-three > div:first-child .twelve.cell{
					max-height: 50px;
				}
			}

		}

		nav.vertical.half-stamps{
			& > div{
				width: 300px;
			}
			input[type=checkbox] {
				left: 75px;
			}
		}

	}

}
@media screen and (max-width: $small-mobile){
	body{
		.side-col + .main-col{
			clear: both;
			overflow: auto;
			float: none;
		}
	}


}
