
$wide-screen: 1200px;
$small-screen: 959px;

@media screen and (max-width: $wide-screen){
	.login{
		h1{
			display: none;
		}
	}

	//actu createinfo
	container article form{
		& > .three.cell{
			width: 100%;
			& + .nine.cell{
				width: 100%;
			}
		}
	}
	//actu editinfo
	.previews container[template=infoEdit] article.preview{
		& > .three.cell{
			width: 100%;
			& + .nine.cell{
				width: 100%;
			}
		}
	}

	//forum
	body{
		//reset rules
		nav.illustrated-links ul ul.secondary-list li > *{
			display: block;
			overflow: hidden;

			height: 30px;
		    padding: 5px 5px 0px 5px;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    vertical-align: middle;
		    border-bottom: none; //eee
		}

		nav.illustrated-links ul li{
			display: block;
			overflow: hidden;
			padding: 0;
			background: $white;

			.tiny-illustration{
				display: block;
				float: left;
			}
			.tiny-illustration + .content{
				padding-left: 5px;
				display: block;
				box-sizing: border-box;
				background: transparent;

				resource-right{
					float: left;
					min-width: 10px;
					display: block!important;
					border: 1px solid transparent;
					//to keep gap if no checkbox
				}
				h1{
					padding-top: 1px;
					font-size: 18px;
					width: calc(100% - 95px);
					overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
			}
		}

		nav.illustrated-links{
			padding-top: 10px;

			ul.secondary-list{
				padding-left: 62px;
				li{
					position: relative;
					display: block;
					//checkbox
					resource-right.fixed-tiny{
						float: left;
						width: auto;
						padding: 0 10px;
						height: 114px;
						line-height: 114px;
					    text-align: center;
						border-top: 1px solid #eee;
						border-right: 1px solid #ddd;
					}
					//title
					h4.fixed-large{
						width: auto;
						margin: 0;
						padding-right: 40px;
						padding-left: 15px;
						height: 36px;
						font-size: 16px;
						border-top: 1px solid #eee;
					}
					//num posts
					em.fixed-regular{
						position: absolute;
						right: 7px;
						top: 7px;
						width: 25px;
						height: 25px;
						line-height: 26px;
						text-align: center;
						font-style: normal;
						font-size: 12px!important;
						border-radius: 50%;
						border: 1px solid #bbb;
						background-color: $white;
						padding: 0;
						i18n{
							display: none;
						}
					}
					//when
					div.fixed-regular{
						position: absolute;
						width: auto;
						padding: 0;
						height: auto;
						bottom: 0;
						right: 20px;
						z-index: 1;
						em{
							font-size: 11px;
						}
						span{
							display: none;
						}
					}
					//pic
					div.fixed-small{
						float: left;
						padding: 6px;
						height: auto;
						padding-left: 13px;
						img{
							border-radius: 50%;
							height: 55px;
							width: 55px;
						}
					}
					//last post
					.bubble-container{
						height: auto;
	    				padding: 15px 0px 25px;
						&::after{
							top: 26px;
						}
						.bubble-small{
							max-width: calc(100% - 60px);
							margin-left: 20px;
						}
					}
				}//li
			}//ul
		}//nav
	}//end forum

}//end wide-screen

@media screen and (max-width: $small-screen) {
    // drop transitions for better perfs
    button, input[type=button], a.button, input[type=submit], .drop-down-button label, .drop-down-button.hidden label{
        transition: none;
    }
	//workspace carousel
	.rigid-grid .margin-four carousel.slide{
		.image.previous, .image.next{
			width: 0;
			height: 0;
			padding: 0;
			border: none;
		}
		.image.next{
			margin-left: 100%;
		}
		.image.current{
			width: 80%;
			margin-left: 10%;
		}
		//arrow bg
		.image.previous::before, .image.next::before{
		  top: -20px;
		}
		//arrow shape & color
		.image.previous::after, .image.next::after{
		  top: -10px;
		}
	}

	.main-col .checkbox-filters{
		float: none;
		height: auto;
	}
	div.checkbox-filters{
		display: block;

		ul{
			padding: 0;
		}
	}
	//label "filtrer"
	div.checkbox-filters div.cell:not(.checkbox-filters){
	  float: none;
	  padding-bottom: 10px;
	}


}


@media screen and (max-width: $tablette){

	body.point-out{
		cursor: pointer!important;
	}

	body{
		nav.vertical[side-nav].slide{
			padding-bottom: 70px;
		}
		nav.vertical[side-nav]{
			background-color: $primary;
			border-left: 10px solid $accent;
			padding-left: 0;
			padding-bottom: 70px;
			h2{
				color: $white;
				font-size: 18px;
			}
			ul{
				border-left: none !important;
				li{
					a.selected{
						background: rgba(255,255,255, 0.2)
					}
					a{
						color: #fff;
						padding-right: 20px;
					    padding-top: 8px;
					    padding-bottom: 8px;
						i.close, i.edit{
							display: none;
						}
					}
				}
			}
			a.classic-link{
				background: #fff;
				&:hover{
					color: $accent;
				}
			}

		}
		.mobile-nav-opener{
			font-family: fontello;
			background: none;
			background-image: none;
			padding: 15px;

			&::before{
				content: '\e84f';
				font-size: 21px;
				color: $white;
				position: absolute;
				top: 13px;
				left: 10px;
			}
			&::before:hover{
				color: $accent;
			}
		}

	}
	.application-title{
		i.blog, i.wiki{
			display: inline-block!important;
		}
	}
	h1{
		font-size: 18px;
		margin-bottom: 9px;
		line-height: 30px;
	}
	h1.application-title{
		color: transparent;
		font-size: 16px;
		span{
			color: $white;
		}
	}
	[subtitle]{
		display: block;
		background: $primary;
		width: 100%;
		margin: auto;
		padding: 0 20px;
		position: fixed;
		left: 0;
		text-align: center;
		font-size: 17px;
		height: 35px;
		line-height: 35px;
		cursor: default;
		overflow: hidden;
		color: $white;
	}
	h2[subtitle]{
		text-align: left;
	}
	.subtitle-item{
		color: $white;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    max-width: 40%;
	    display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
	.subtitle-item:first-child {
	    text-align: right;
	}

	section.subtitle-push{
		margin-top: 40px;
	}
	.panel{
		box-sizing: border-box;
		background: $primary;
		h1{
			margin: 20px auto;
			font-size: 26px;
		}
		input-password{
			button{
				padding: 5px 0;
				&::before{
					position: relative;
					line-height: 23px;
					font-size: 16px;
					left: 0;
				}
			}
		}
	}
	.navbar{
		height: 50px;
	}
	nav.vertical[side-nav]{
		top: 60px;
	}
	nav.horizontal{
		right: 0;
		height: 50px;
		#my-photo{
			width: 25px;
			margin-top: 7px;
		}
		> a, > popover a{
			font-size: 14px;
			margin-left: 2px;
			height: 50px;
			line-height: 50px;
		}
		> popover a{
			display: block;
		}

		i.mail span.new-mails{
		    font-size: 10px;
		    top: -43px;
		    left: 15px;
		}
		i.disconnect{
			width: 22px !important;
			margin-right: 0;
			margin-left: 0;
		}
		> a i::before, popover > a i::before{
			font-size: 25px;
		}
	}
	nav.vertical.half-stamps{
		& > div{
			width: 520px;
    		margin: 10px auto;
		}
		article{
			width: auto;
    		float: none!important;
		}
		article.selected{
			background: $primary-light;
		}
		input[type=checkbox] {
			position: absolute;
			left: 70px;
			z-index: 2;
		}
	}
	.previews{
		width: 95%;
		margin: auto;
	}
	body{
		font-size: 14px;
		.material section.main{
			padding: 8px 15px;
			padding-bottom: 100px;
			top: 52px;
		}
	}
	.forgot.panel{
		h1{
			width: 100%;
			text-align: center;
			font-size: 40px;
		}
	}
	.toggle-panel{
		right: -15px;
		top: 52px;
	}
	.notification article .notification-date{
		right: 10px;
		top: 8px;
	}

	h2 + article.rigid-grid .three-mobile + .margin-two{
		margin-left: 25%;
		form{
			.bottom-locked input{
				margin-bottom: 10px;
				font-size: 13px;
			}
		}
	}
	.twelve-mobile input[type=search]{
		margin-top: 15px;
	}

	article form .rigid-grid > .margin-two{
		margin-left: 25%;
		input[type=text]{
			font-size: 13px;
		}
		.bottom-locked > .right-magnet {
		    margin-bottom: 10px;
		}
	}

	.rigid-grid{
		.side-col{
			nav.vertical{
				.illustration{
					img{
						margin: 0;
					}
					input[type=checkbox]{
						left: 5px;
				    }
				}
			}
		}

		.side-col + .main-col{
			overflow: hidden;
			.cell button.microbox{
				float: right;
			}
			.cell{
				margin: 10px 0;
				a.button, button{
					float: none;
					display: inline-block;
				}
			}
			//comments on actu
			.cell.right-magnet{
				margin: 0 0 10px;
				//create blog button
				a.button{
					float: right;
				}
			}
		}
		.side-col + .main-col + .main-col > div{
			//postslist
		}
	}

	image-select > div::before{
		@include fonticon;
		//content: '\E84A';
		content: '\E83F';
		font-size: 40px;
		line-height: 62px;
        display: none;
	}
	nav.vertical.half-stamps{
		image-select > div::before{
			line-height: 47px;
		}
	}
	article form{
		image-select > div::before{
			line-height: 128px;
		}
	}

	//home filters
	.widgets-friend app-title + div{
		margin-top: 15px;
		filters{
			width: calc(100% - 80px);
			margin-top: 5px;
			i{
				margin-bottom: 5px;
			}
		}
	}
	ul.icons-tabs{
		top: 40px;
	}


	.account{
		.avatar{
			position: absolute;
			top: 15px;
			left: 15px;
			width: 90px;
			height: 90px;
			padding: 0;
			border-radius: 50%;
			overflow: hidden;

		}
		.avatar + h2{
			margin: 25px 0 45px 100px;
		}
		.sheet h2{
			margin: 25px 0 0 100px;
		}

		.mood icons-select{
			.options-list.icons-view{
				width: auto;
			}
			.options-list.icons-view.toggle-visible{
				box-shadow: 0px 3px 2px 1px #E1E1E1;
			}

		}
		.icons-select .options-list.toggle-visible{
			height: auto;
		}

	}

//mailbox
	article.list-view.mailbox{
		thead{
			display: none;
		}
		table, tbody, tr, td{
			display: block;
		}
		tbody{
			tr:first-of-type{
				border-top: 1px solid $shadow-light;
			}
			tr{
				position: relative;
				overflow: hidden;
				min-height: 70px;
			}

			td{
				width: auto;
				max-width: none;
			}
			td.icon{
				position: absolute;
				padding: 22px 0;
				height: 100%!important;
				width: 45px!important;
				text-align: center;
			}
			td.icon.sysmail{
				top: 0;
				right: -10px;
			}
			td.user{
				margin-left: 45px;
				padding-top: 15px;
				padding-bottom: 0;
				max-width: calc(70% - 45px);
			}
			td.content{
				margin-left: 45px;
				padding: 5px 15px 10px 12px;
				font-size: 12px;
				max-width: calc(80% - 45px);
			}
			td.attach{
				position: absolute;
				right: 8px;
				bottom: 7px;
				padding: 0;
				i.attachment{
					width: 12px;
					height: 12px;
				}
			}
			td.date{
				position: absolute;
				right: 0;
				top: 2px;
				padding: 0;
				padding-right: 5px;
				font-size: 11px;
			}
		}

	}
	//write mail
	article.solid form .right-magnet{
		margin: 10px
	}

	section.main-col{
		nav.contextual-buttons{
			float: right;
			width: auto;
			.action-buttons{
			}
		}
	}
	h3.whereami{
		display: block;
		float: left;
	    margin-top: 5px;
	    margin-bottom: 0;
	    font-size: 15px;
	    font-weight: bold;
	}


	//forum
	body{
		nav.illustrated-links ul li{
			.tiny-illustration + .content{
				padding-left: 5px;

				h1{
					padding-top: 5px;
				}
			}
		}

		nav.illustrated-links{
			ul.secondary-list{
				padding-left: 62px;
			}
		}

		.whose-bubble{
			text-align: left!important;
			margin-bottom: 10px;
			.image{
				margin: 0;
				padding: 0;
				img{
					position: absolute;
					left: 0;
					bottom: -60px;
					width: 50px;
					height: 50px;
				}
			}
		}
		.whose-bubble + article.bubble{
			margin-left: 60px;
		}
		.bubble-container.alternate-container + resource-right{
			margin-top: 30px;
    		display: block;
		}
	}

	.microbox-content container{
		float: none;
		text-align: left;

		.checkbox-filters{
			height: auto;
			ul li{
				display: block;
				padding: 20px;
			}
		}
	}

	//for lightbox medialib in side nav
	body nav.vertical[side-nav] .lightbox{
		 ul li a{
			color: $primary;
		}
		 ul li a.selected{
			color: $accent;
		}
		h2{
			color: $primary;
		}
	}

	body{
		.lightbox-window .tabs, .lightbox .content .tabs{
			header{
				background: #F0F0F0;
			}
		}
	}


// end tablettes
}

@media screen and (max-width: $fat-mobile){
	body{

		h1.application-title{
			span + span{
				font-size: 15px;
				height: 25px;
				line-height: 25px;
			}
		}
		section.subtitle-push{
			margin-top: 30px;
		}

		.notification{
			min-height: 95px;
			.avatar{
				width: 50px;
				height: 50px;
				margin-left: 0;
    			margin-top: 5px;
				margin-right: 12px;
				i.system-avatar, img{
					width: 50px;
					height: 50px;
				}
			}
			.content {
				margin: 7px 10px 5px;
			}
			.notification-date em{
				font-size: 10px!important;
				line-height: 7px;
			}
		}

		.previews .preview-wrapper{
			//date
			em.metadata {
				top: 155px;
				font-size: 10px;
				width: 100px;
				max-height: 60px;
			}
		}

		.previews article.preview{
			label {
			    top: 27px;
			}
			//img
			.one.horizontal-spacing{
			    width: 70px;
			}
			.margin-three {
			    margin-left: 95px;
				h2{
					font-size: 14px;
					line-height: 17px;
					max-height: 35px;
				}
				.margin-three {
					margin: 0 5px 0 5px;
					line-height: 17px;
					font-size: 13px
				}
				//preview part actu
				.margin-three > div:first-child .twelve.cell{
					max-height: 35px;
				}
			}

		}
		.icons-view.apps{
			text-align: center;
			.element{
				margin: auto 4%;
			}
		}

		nav.vertical.half-stamps{
			& > div{
				width: 300px;
			}
			input[type=checkbox] {
				left: 75px;
			}
		}
		h2 span.warning-text{
			display: block;
		}

	}
	.account{
		.user-infos .sheet{
			.four.cell{
				width: 100%;
				font-weight: bold;
			    padding-top: 15px;
			}
			.seven.cell{
				width: calc(100% - 30px);
				font-weight: normal;
				font-style: normal;
			    font-size: 12px;
				color: $grey;
			}
			//mode view
			em.eight{
				width: calc(100% - 30px);
				font-weight: normal;
				font-style: normal;
				font-size: 12px;
				color: $grey;
			}
			form .row{
				i::before{
					font-size: 18px;
				}
			}

		}
		.user-book{
			article .row{
				.two.cell{
					width: 100%;
					font-weight: bold;
					padding: 0;
					padding-top: 15px;
				}
				.nine.cell{
					width: calc(100% - 40px);
					font-weight: normal;
					font-style: normal;
					font-size: 12px;
					color: $grey;
				}
				.one.cell{
					float: right;
					i::before{
						font-size: 18px;
					}
				}
			}
		}
		//mode view > hobbies
		h1.horizontal-spacing + article{
			.medium-text.line{
				.two{
					width: 100%;
					font-weight: bold;
				    padding-top: 15px;
				}
				.ten{
					width: calc(100% - 30px);
					font-weight: normal;
					font-style: normal;
					font-size: 12px;
					color: $grey;
				}
			}
		}
	}// end account

	//forum
	body{
		nav.illustrated-links ul li{
		}

		nav.illustrated-links{
			ul.secondary-list{
				padding-left: 15px;
			}
		}

	}//end forum

	//share table
	.table-mobile{
		ul{
			background: $white;
			box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
		}
		li{
			border-top: 1px solid #eee;
		}
		.drop-line{
			background-color: #F0F0F0;
			box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
			&:before{
				color: $accent;
			}
		}
		.drop-line:hover{
			background: $accent;
			&:before{
				color: $white;
			}
		}
	} //end share table
	.sharing-option{
		label{
			display: block;
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: $small-mobile){
	body{

		popover popover-content.right {
		    left: -190px;
		}
		popover popover-content.right::before{
			left: 80%;
		}

		.rigid-grid > .side-col.three{
			width: 55%;
		}

		.icons-view.apps{
			.element{
				margin: auto 5px;
			}
		}

		article.list-view.mailbox{
			tbody{
				td.date{
					font-size: 10px;
				}
			}
		}
		.share{
			.autocomplete > em{
				em.low-importance{
					display: block;
		    		float: none;
				}
			}
		}

		.mood icons-select{
			.current.editing{
				span{
					padding-top: 5px;
				}
				i::before{
					font-size: 30px;
					line-height: 38px;
				}
			}
		}
	}//body


}
