//$primary-dark: #209dcc !default;
//$dark-orange: #B25D00 !default;
//$primary-light: #7ad9ff !default;
// links = primary
$cyan: #4bafd5 !default;
$green: #46bfaf !default;
$yellow: #ecbe30 !default;
$orange: #FF8500 !default;
$red: #e13a3a !default;
$pink: #b930a2 !default;
$purple: #763294 !default;
$indigo: #1a22a2 !default;
$white: #FFFFFF !default;
$lightest-grey: #f9f9f9 !default;
$light-grey: #F0F0F0 !default;
$middle-grey: #DDD !default;
$medium-grey: #CCC !default;
$solid-grey: #AAA !default;
$disable-grey: #888 !default;
$darkest-grey: #333 !default;
$grey: #555 !default;
$black: #222 !default;
$shadow-light: rgba(0, 0, 0, 0.1) !default;
$shadow: rgba(0, 0, 0, 0.26) !default;
$shadow-dark: rgba(0, 0, 0, 0.4) !default;
$shadow-darker: rgba(0, 0, 0, 0.6) !default;
$text-light: $grey !default;
$background: $lightest-grey !default;
///////
$primary: $cyan !default;
$primary-darkest: saturate(darken($primary, 40%), 10%);
$primary-dark: saturate(darken($primary, 9%), 3%);
$primary-light: saturate(lighten($primary, 17%), 85%);
$primary-lighter: desaturate(lighten($primary-light, 15%), 10%);
//Accent
$accent: $orange !default;
$dark-accent: darken($accent, 15%);

//FLASHMSG

$flash-red: $red;
$flash-orange: $accent;
$flash-green: $green;
$flash-blue: $primary-darkest;

//EXERCISER SPECIFIC
// $stroke-color: $black;
$fill-color: $white !default;
$stroke-color: $primary !default;
$header-height: 64px !default;
//specific breakpoints
$wide-screen: 1200px;
$small-screen: 959px;
@mixin material-card($shadow-size: 1px, $blur-size: 3px) {
    box-shadow: 0 $shadow-size $blur-size $shadow;
    border-radius: 2px;
}
@mixin message {
    color: $text-light;
    text-align: left;
    @include border-radius(0px);
    background: $light-grey;
    border-left: 10px solid $primary;
    margin: 5px 0 15px;
}
@mixin flat-button {
    border: none;
    box-shadow: none;
    color: $accent;
    background: $light-grey;
    &:hover {
        background: $accent;
        color: $white;
    }
}

// low gap # = hard shades
@mixin shade-colors($shadecolor, $gap) {
    @for $i from 0 through $gap {
        $pc: (100/$gap) * $i;
        $modColor: saturate(lighten($shadecolor,$pc * 1%), 15%);
        .shade-color-#{$i} {
            background-color: $modColor;
            //transition: all 0.15s linear;
            // &:hover {
            //     background-color: darken($modColor,10%);
            // }
        }
    }
}




/* font family */
@font-face {
    font-family: 'ong-icons';
    src: url(../font/ong-icons/fonts/ong-icons.woff);
    font-weight: normal;
    font-style: normal;
}
@mixin fonticon {
    font-family: "ong-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none;
}
.fonticon {
    @include fonticon;
}
i {
    @include fonticon;
}
