<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
Bienvenue dans la solution de gestion parentale : <b>[Firstname] [LastName]</b>
<br>Cette application vous permettra d'imposer les règles d'accès sur l'appareil de votre enfant conformément à la procédure fournie par l'établissement <b>[School]</b>.
<br>
<ul>
    <li>Téléchargement store Android : <a href="https://play.google.com/store/apps/details?id=com.jamf.parent">https://play.google.com/store/apps/details?id=com.jamf.parent</a></li>
    <li>Téléchargement store Apple : <a href="https://apps.apple.com/Jamf-parent/id1458797105">https://apps.apple.com/Jamf-parent/id1458797105</a></li>
</ul>
<br>Login : <b>[Login]</b>
<br>Mot de passe : <b>[Password]</b>
<br>Nous vous invitons à cliquer sur le lien suivant afin d’accéder au guide utilisateur : <a href="https://ent.ecollege78.fr/blog/id/f23b8273-606b-404d-a392-103453d0ab45/post/41b1f6d1-e02b-4b3c-a6c0-66d91c169fae">Jamf Parent - le Guide</a>
</body>
</html>