.table{
    margin: 0px;
    tbody{
        tr{
            border-color: #F2F2F2;
            &:hover {
                background: #f2f2f2!important;
            }
            &:first-child{
                border-top-width: 0px;
            }
            &:not(:first-child){
                border-top-width: 1px;
            }
        }
    }
    &.table-info{
        thead{
            th{
                background: #E4F4FF;
                color: #4A4A4A;
            }
        }
    }
}