@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import "./variables-open-ent";

/* OVERRIDE */
// @import "./overrides";
@import "./mixins";
/* ENTCORE CSS LIB */
@import "./entcore-css-lib/scss/index.scss";

@import "./colors";
@import "./fonts";
@import "./text";
@import "./layouts/layouts";
// @import "./modules";
@import "./modules/modules";
@import "./icons/icons";
@import "./applications/applications";
@import "./layout-styles";
@import "./mobile/mobile";
@import "./table";

@import "specifics/";

@import "_springboard-overrides.scss";
