<h1 class="centered-text">
    <i18n>assistant.teacher.title</i18n>
</h1>

<h4>
    <i18n>assistant.teacher.find</i18n>
</h4>

<hr>

<div class="flex-row align-start justify-center centered-text apps">
    <div class="container">
        <i class="cahier-textes-large"></i>
        <legend><i18n>homeworks</i18n></legend>
    </div>

    <div class="container">
        <i class="exercizer-large"></i>
        <legend><i18n>exercizer</i18n></legend>
    </div>

    <div class="container">
        <i class="maxicours-large"></i>
        <legend><i18n>assistant.maxicours</i18n></legend>
    </div>

    <div class="container">
        <i class="edumedia-large"></i>
        <legend><i18n>assistant.edumedia</i18n></legend>
    </div>

</div>
