<h1 class="centered-text">
    <i18n>assistant.teacher.title</i18n>
</h1>

<h4>
    <i18n>assistant.teacher.accompany</i18n>
</h4>

<hr>

<div class="flex-row align-start justify-center centered-text apps">
    <div class="container">
        <i class="exercizer-large"></i>
        <legend><i18n>exercizer</i18n></legend>
    </div>
    <div class="container">
        <i class="community-large"></i>
        <legend><i18n>community</i18n></legend>
    </div>
    <div class="container">
        <i class="workspace-large"></i>
        <legend><i18n>assistant.workspace</i18n></legend>
    </div>
    <div class="container">
        <i class="pages-large"></i>
        <legend><i18n>pages</i18n></legend>
    </div>

</div>
