<h1 class="centered-text">
    <i18n>assistant.teacher.title</i18n>
</h1>

<h4>
    <i18n>assistant.teacher.visibility</i18n>
</h4>

<hr>

<div class="flex-row align-start justify-center centered-text apps">
    <div class="container">
        <i class="blog-large"></i>
        <legend><i18n>blog</i18n></legend>
    </div>
    <div class="container">
        <i class="timelinegenerator-large"></i>
        <legend><i18n>timelinegenerator</i18n></legend>
    </div>
    <div class="container">
        <i class="pages-large"></i>
        <legend><i18n>pages</i18n></legend>
    </div>
    <div class="container">
        <div class="multi-apps">
            <i class="timelinegenerator-large"></i>
            <i class="rack-large"></i>
            <i class="rbs-large"></i>
            <i class="exercizer-large"></i>
            <i class="collaborative-wall-large"></i>
            <i class="dotsx3-h"></i>
        </div>
    </div>

</div>
