
@media screen and (max-width: $fat-mobile){
	body{

		h1.application-title{
			span + span{
				font-size: 15px;
				height: 25px;
				line-height: 25px;
			}
		}
		section.subtitle-push{
			margin-top: 30px;
		}


	///////

		.previews .preview-wrapper{
			//date
			em.metadata {
				top: 155px;
				font-size: 10px;
				width: 100px;
				max-height: 60px;
			}
		}

		.previews article.preview{
			label {
			    top: 27px;
			}
			//img
			.one.horizontal-spacing{
			    width: 70px;
			}
			.margin-three {
			    margin-left: 95px;
				h2{
					font-size: 14px;
					line-height: 17px;
					max-height: 35px;
				}
				.margin-three {
					margin: 0 5px 0 5px;
					line-height: 17px;
					font-size: 13px
				}
				//preview part actu
				.margin-three > div:first-child .twelve.cell{
					max-height: 35px;
				}
			}

		}


		.icons-view.apps{
			text-align: center;
			.element{
				margin: auto 4%;
			}
		}

		nav.vertical.half-stamps{
			& > div{
				width: 300px;
			}
			input[type=checkbox] {
				left: 75px;
			}
		}

		h2 span.warning-text{
			display: block;
		}

	}
////


	.account{
		//mode view > hobbies
		h1.horizontal-spacing + article{
			.medium-text.line{
				.two{
					width: 100%;
					font-weight: bold;
				    padding-top: 15px;
				}
				.ten{
					width: calc(100% - 30px);
					font-weight: normal;
					font-style: normal;
					font-size: 12px;
					color: $grey;
				}
			}
		}
	}// end account


	//forum
	body{
		nav.illustrated-links ul li{
		}

		nav.illustrated-links{
			ul.secondary-list{
				padding-left: 15px;
			}
		}

	}//end forum



	//responsive-table
	body{

		.responsive-table{
			border: none;
			table {
				td:first-child {
					border-bottom: 1px solid $middle-grey;
				}
			}

		}


		//specific share table
		.share .responsive-table{
			table{
				tr{
					box-shadow: 0px 1px 1px $shadow-dark;
					border-top: 1px solid $light-grey;
				}

				tr td.drop-line{
					background-color: $light-grey;
					box-shadow: 0px 0px 1px $shadow;
					&:before{
						color: $accent;
					}
				}
				tr td.drop-line:hover{
					background: $accent;
					&:before{
						color: $white;
					}
				}
			}
		}
	}

	

}
