i.support-large:before {
  content: " ";
  background-image: url(/assets/themes/na/img/illustrations/assistance-ent.svg);
  display: block;
  width: 117px;
  height: 117px;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: top center;
}

i.moodle-large:before {
  content: " ";
  background-image: url(/assets/themes/na/img/illustrations/moodle-logo.svg);
  display: block;
  width: 117px;
  height: 117px;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: top center;
}