body.calendar .sidebar-title {
  background-color: $primary;
}

body.calendar calendar legend, .legend>.month-day, button.cyan {
  background: $primary !important;
  background-color: $primary !important;
}

body.calendar .backgroundBlueTitle {
  background: $primary !important;
}