body.exercizer {

  @import './components/bs5-forms';
  
  input[type="checkbox"][id^="ck-no-err-allowed-"] {
    width: 17px;
    height: 17px;
    accent-color: #3e9abc;
    vertical-align: top;
  }

  .empty-state {
    min-height: 176px;
    img {
      height: 176px;
      width: 176px;
    }
  }

  .answer-choice{
    width: 72px;
  }

  .droppable {
    @include droppable;
    background: transparent;

    &.dragover {
      background: $light-grey;
    }
  }

  .helper-text {
    font-size: 12px;
    margin-top: 8px;
    display: block;
  }

  [contenteditable],
  [bind-html] {
    div[style*="width"] {
      width: 100% !important;
    }
  }

  .block-select-copy {
    @media only screen and (min-width: $fat-mobile) {
      display: flex;

      > div,
      > button {
        flex: 1;
        flex-basis: 0;
      }
    }
  }

  @media only screen and (max-width: $fat-mobile) {
    [contenteditable],
    [bind-html] {
      .image-container {
        padding: 0;
        width: 100% !important;
        height: auto !important;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .droppable {
      width: auto !important;
    }

    .simple-button {
      width: 100% !important;
    }
  }
}
