$purple: #a348c0;

:root {
  --font-primary: 'Work Sans';
  --font-secondary: 'Comfortaa', cursive;
}
body.exercizer {
  font-family: var(--font-primary);

  @import './components/bs5-forms';

  .new-title {
    font-family: var(--font-secondary);
  }

  input[type="checkbox"][id^="ck-no-err-allowed-"],
  input[type="checkbox"][class*="sized"] {
    display: inline-block !important;
    width: 16px;
    height: 16px;
    accent-color: #3e9abc;
    vertical-align: middle;

    +i18n {
      &::before {
        display: none;
      }
    }
  }

  .empty-state {
    min-height: 176px;

    img {
      height: 176px;
      width: 176px;
    }
  }

  .card-footer {
    background-color: #fafafa;
    border-top: 1px solid #f0f2f4;
  }

  .answer-choice {
    width: 72px;
  }

  .droppable {
    @include droppable;
    background: transparent;

    &.dragover {
      background: $light-grey;
    }
  }

  .helper-text {
    font-size: 12px;
    margin-top: 8px;
    display: block;
  }

  [contenteditable],
  [bind-html] {
    div[style*="width"] {
      width: 100% !important;
    }
  }

  .block-select-copy {
    @media only screen and (min-width: $fat-mobile) {
      display: flex;

      >div,
      >button {
        flex: 1;
        flex-basis: 0;
      }
    }
  }

  @media only screen and (max-width: $fat-mobile) {

    [contenteditable],
    [bind-html] {
      .image-container {
        padding: 0;
        width: 100% !important;
        height: auto !important;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .droppable {
      width: auto !important;
    }

    .simple-button {
      width: 100% !important;
    }
  }

  table {
    font-family: var(--font-primary);

    tr {
      &:first-child {
        border-top: 0;
      }
    }

    thead {
      tr {
        background-color: $pale-cyan;
        color: $grey-black;
        border: none;
      }

      th {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .btns {
    box-shadow: none;
  }

  .lightbox {
    .content {
      min-height: auto;
      padding: 24px;
      h2{
        margin-top: 0px;
      }
    }
    .close-lightbox{
      margin: 20px;
      i.close-2x:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='close' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.222 4.222a1.1 1.1 0 0 1 1.556 0l14 14a1.1 1.1 0 1 1-1.556 1.556l-14-14a1.1 1.1 0 0 1 0-1.556Z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.778 4.222a1.1 1.1 0 0 1 0 1.556l-14 14a1.1 1.1 0 1 1-1.556-1.556l14-14a1.1 1.1 0 0 1 1.556 0Z'/%3E%3C/svg%3E");
        display: block;
        width: 22px;
      }
    }
  }
}