.chip.selected,
.sticker.app,
.sniplets .sniplet {
  &.sharebigfiles, &.esidoc, &.pronote, &.cerise, &.scolinfo,
  &.paraschool, &.kne, &.picardie-cursus, &.award, &.bcdi,
  &.museefrancaisphoto, &.elyceepicardie, &.planetemetierspicardie, &.educagri, &.exercizer,
  &.wiki, &.community, &.stats, &.forms, &.formulaire {
    background: $purple;
  }

  &.agenda, &.lesitetv, &.vie-scolaire, &.madmagz, &.monorientationenligne,
  &.turboself, &.edutheque, &.archive, &.admin, &.timelinegenerator, 
  &.note, &.calendar, &.messagerie, &.library, &.presences, &.absences {
    background: $yellow;
  }

  &.absences, &.canal-numerique, &.admission-post-bac, &.charlemagne, &.suitcase,
  &.assr, &.glpi, &.chat, &.workspace, &.electron,
  &.pages, &.matholycee, &.notes, &.rack, &.competences, &.minibadge {
    background: $red;
  }

  &.edumedia, &.scolarite, &.td-base, &.universalis, &.webclasseur,
  &.pro-eps, &.onisep, &.banquesavoir, &.ressoucesdepartementale91, &.onisep2,
  &.cervoprint, &.gepi, &.monstageenligne, &.lesechos, &.europress,
  &.lemonde, &.connecteurgenerique1, &.connecteurgenerique2, &.pad, &.collaborativeeditor,
  &.news, &.mindmap, &.forum, &.poll, &.web-conference,
  &.website {
    background: $cyan;
  }

  &.maxicours, &.unstagepourtous, &.rbs {
    background: $pink;
  }

  &.sacoche, &.blog, &.my-network, &.timeline {
    background: $indigo;
  }

  &.aide-devoirs, &.bookmark-empty, &.cns, &.cidj, &.itopstore,
  &.netvibes, &.biblionisep, &.picardieregion, &.support, &.userbook,
  &.directory, &.collaborative-wall, &.collaborativewall, &.cahier-de-texte, &.homeworks,
  &.scrapbook, &.scrap-book, &.schoolbook {
    background: $green;
  }
}
