gradle:
  image: gradle:4.5-alpine
  working_dir: /home/gradle/project
  volumes:
    - ./:/home/gradle/project
    - ../entcore-css-lib:/home/gradle/entcore-css-lib
    - ~/.m2:/home/gradle/.m2
    - ~/.gradle:/home/gradle/.gradle

node:
  image: opendigitaleducation/node:12-alpine
  working_dir: /home/node/app
  net: host
  volumes:
    - ./:/home/node/app
    - ~/.npm:/.npm
    - ../entcore-css-lib:/home/node/entcore-css-lib