<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

	<div class="material main wrapper">
		<section class="main">
			<div id="directory"></div>
			<div ng-transclude  class="twelve cell"></div>
		</section>
	</div>

<header class="main height-marker" ng-controller="Account">
	<section class="navbar row">
		<div class="mobile-nav-opener"></div>
		<div class="cell">
			<i class="logo"></i>
		</div>
	</section>
	<section class="row">
		<nav class="horizontal">
			<a href="/timeline/timeline"><i class="home"></i></a>
			<a class="zero-mobile community-button" href="/community" ng-if="me.hasWorkflow('net.atos.entng.community.controllers.CommunityController|view')"><i class="community"></i></a>
			<popover>
				<a href="/welcome"
				pulsar="{ index: 1, i18n: 'portal.pulsar.apps', position: 'bottom center'}"
				popover-opener ng-click="openApps($event)">
					<i class="apps"></i>
				</a>
				<popover-content>
					<div class="content">
						<div class="my-apps row">
							<div ng-if="me.bookmarkedApps.length === 0">
								<i18n>navbar.myapps.more</i18n>
							</div>
							<div class="bookmarked-app" ng-repeat="app in me.bookmarkedApps">
								<a href="[[app.address]]" target="[[app.target]]">
									<i class="[[app.icon]]" ng-if="app.icon.indexOf('/') === -1" tooltip="[[app.displayName]]"></i>
									<img skin-src="[[app.icon]]" ng-if="app.icon.indexOf('/') !== -1" tooltip="[[app.displayName]]" />
								</a>
							</div>
						</div>
						<div class="more row">
							<a href="/welcome"><i18n>plus</i18n></a>
						</div>
					</div>
				</popover-content>
			</popover>
			<a href="/conversation/conversation" ng-if="me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')">
				<i class="mail"><span class="new-mails" ng-if="nbNewMessages">[[nbNewMessages]]</span></i>
			</a>
			<popover class="searchengine" ng-if="me.hasWorkflow('fr.openent.searchengine.controllers.SearchEngineController|view')">
				<a href="/searchengine" popover-opener ng-click="openApps($event)"
					pulsar="{ index: 2, i18n: 'portal.pulsar.search', position: 'bottom center', workflow: 'org.entcore.workspace.service.WorkspaceService|listFolders'}">
						<i class="searchengine"></i>
				</a>
				<popover-content class="searchPortal" ng-controller="SearchPortal">
					<div class="content searchContent">
						<div class="search-text row">
							<input type="text" class="searchInput" name="mysearch" ng-model="mysearch" ng-keyup="launchSearch($event);" />
							<button class="searchButton" ng-click="launchSearch('link');"><i18n>ok</i18n></button>
						</div>
					</div>
				</popover-content>
			</popover>
			<a class="zero-mobile" pulsar="{ index: 3, i18n: 'portal.pulsar.help', position: 'bottom center', workflow: 'org.entcore.workspace.service.WorkspaceService|listFolders'}">
				<i18n>help.icon</i18n>
			</a>
			<a href="/userbook/mon-compte"
				pulsar="{ index: 4, i18n: 'portal.pulsar.account', position: 'bottom center'}">
					<img data-ng-src="[[avatar ? avatar+'?thumbnail=48x48' : '']]" id="my-photo" />
			</a>
			<a logout><i class="disconnect"></i></a>
		</nav>
	</section>

</header>

<xiti></xiti>
