body.exercizer.dragging{
    [drop-item].drag-over{
        background: $orange;
        color: #fff;
    }
}

body.exercizer{
    .chip{
        &.selected{
            box-shadow: 2px 2px 1px 0px  $shadow;
            background: $primary;
            i{
                &:hover{
                    &:before{
                        color: $black!important;
                    }
                }
            }
        }

        &.deletable{
            box-shadow: 2px 2px 1px 0px  $shadow;
            background: $white;
            span {
                color: $black;
            }
            i {
                &:before{
                    color: $solid-grey!important;
                    @include run-transition;
                }
                &:hover {
                    &:before {
                        color: $red!important;
                    }
                }
            }
        }
    }

    .droppable{
        @include droppable;
        background: transparent;
        &.dragover{
            background: $light-grey;
        }
    }

    edit-fill-text{
        editor.edit, editor.both, editor.html{
            editor-toolbar{
                border-left: 52px #eee solid;
                .option.filltext{
                    position: absolute;
                    left: -52px;
                    box-sizing: border-box;
                    top: 0;
                    height: 100%;
                    width: 52px;
                    & > i{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        &::before{
                            font-size: 28px;
                            @include fonticon;
                            content: "\e858";
                            color: $orange;
                        }
                    }
                }
            }
            fill-zone{
                cursor: pointer;

                text-zone{
                    pointer-events: none;
                    user-select: none;
                     &::after{
                        content: " ";
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                }

            }
        }
    }

    [drag-item]{
        cursor: move;
    }

    image-zone{
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        float: left;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        margin: 8px;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        z-index: 20;
        overflow: hidden;
        img{
            border-radius: 3px;
            pointer-events: none;
        }
        button.add-answer{
            box-shadow: none;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
        }
        &.error::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: $red;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.success::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: $green;
            position: absolute;
            top: 0;
            left: 0;
        }
        i.close{
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            z-index: 3;
        }
        .actions{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 14px;
            padding-left: 11px;
            background: rgba(0,0,0,0.5);
            height: 35px;
            line-height: 35px;
            color: #fff;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            box-sizing: border-box;
            i{
                padding-right: 3px;
                margin-top: 1px;
            }
            &:hover{
                color: $orange;
            }
        }
    }
    .base-image{
        width: 760px;
        height: 600px;
        margin: auto;
        background: #efefef;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: visible;

        article{
            background: transparent;
        }

        .image-container{
            display: block;
            justify-content: center;
            vertical-align: middle;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            transition: border 250ms ease;
            border: 1px dashed transparent;
            border-radius: 5px;
            > img{
                width: 100%;
                max-height: 100%;
            }
            &:hover{
                border: 1px dashed $orange;
            }
            > image-select{
                width: 100%;
                height: 100%;
                > div{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    > img{
                        width: 100%;
                        max-height: 100%;
                        border: none;
                    }
                }
            }
        }

        > img{
            width: 100%;
            height: auto;
        }
    }

    .options{
        min-height: 150px;
        margin-bottom: 20px;
        ul{
            padding: 0;
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: center;
            display: flex;
            li{
                z-index: 20;
            }
        }
        background: $lightest-grey;
        padding: 10px;
        margin-top: 10px;
        border-radius: 3px;
        transition: background 250ms ease;
    }

    .add-option{
        input[type=text], button{
            float: left;
        }
        input[type=text]{
            border: 1px solid #ddd;
        }
        button{
            border-radius:0;
            box-shadow: none;
            width: 32px;
            padding: 5px;
            margin-left: 0;
            height: 29px;
        }
    }

    fill-zone{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        position: relative;
    }

    .options text-zone{
        width: auto;
    }

    text-zone{
        background: #fff;
        margin: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
        padding: 5px;
        color: #666;
        width: 150px;
        display: inline-block;
        position: relative;
        padding-left: 15px;
        box-sizing: border-box;
        height: 30px;
        line-height: 20px;
        transition: all 250ms ease;

        span{
            overflow: hidden;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 31px;
        }

        &.selected{
            background: $primary;
            color: #fff;
        }

        input[type=text], select{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            border-bottom: none;
        }
        input[type=text]{
            box-sizing: border-box;
        }
        input[type=text]:focus{
            border-bottom: 1px solid $orange;
        }
        [drop-item]{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            line-height: 33px;
            text-align: center;
            background: transparent;
            transition: background 250ms ease;
        }

        &.error{
            background: rgba($red, 0.3);
            color: #e8e8e8;
            border-left: 0;
        }

        &.success{
            background: rgba($green, 0.3);
            color: #fff;
            border-left: 0;
        }

        > i{
            margin-right: 5px;
            display: block;
            height: 23px;
            line-height: 23px;
            position: absolute;
            right: 0;
            transition: color 250ms ease;
            z-index: 300;
            pointer-events: all;
            &:hover{
                color: $orange;
            }
            &.edit{
                margin-right: 20px;
            }
        }
    }

    .order-index{
        height: 40px;
        width: 40px;
        margin-right: 25px;
        border-radius: 20px;
        background: $primary;
        color: #fff;
        float: left;
        font-size: 15px;
        text-align: center;
        line-height: 40px;
        transition: background 250ms ease;
    }

    ul.thought-out-actions li {
      padding: 15px;
      margin: 5px 0;
      &::after {
        @include fonticon;
        content: "\e847";
        font-size: 20px;
        position: absolute;
        right: 25px;
        top: calc(50% - 12px);
        opacity: .75;
      }
    }

    perform-order .answer{
        line-height: 25px;
        min-height: 40px;
    }

    edit-order input[type=text]{
        margin-bottom: 0;
        margin-top: 6px;
    }

    perform-order, edit-order{
        ul.thought-out-actions > li:hover{
            color: #fff;
            .order-index{
                background-color: white;
                color: $primary;
            }
        }
    }

    perform-qcm{
        .checkbox{
            margin-top: 6px;
            margin-right: 25px;
        }
        input[type=text]{
            border: none;
            margin-bottom: 0;
            height: 30px;
            line-height: 30px;
        }
        div[type=text]{
            line-height: 30px;
            font-size: 14px;
            word-break: break-word;
        }
    }

    view-qcm{
        div[type=text]{
            line-height: 30px;
            font-size: 14px;
            word-break: break-word;
            border-bottom: 1px solid #ddd;
        }
    }

    grain-copy-footer{
        display: block;
        position: relative;
        background: rgba($cyan, 0.1);
        border: 1px solid rgba($cyan, 0.25);
        padding: 15px;
        border-radius: 7px;
        min-height: 23px;
        margin-top: 15px;
    }

    .dominos.fallen{
    	.item{
            .domino{
                .bottom{
                    .content{
                        background: $white;
                        .buttons{
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            height: calc(100% - 20px);
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;
                            flex-direction: column;
                        }
                    }
                    .title-icon i{
                      color: $text-light;
                    }
                }
            }
        }
    }

    .flex-row.justify-center.centered > button.flat-button.five{
        span{
            float: none;
            display: inline-block;
            i{
                font-size: 25px;
                vertical-align: middle;
                padding-right: 8px;
            }
        }
    }

    .custom-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #555;
    }

}



/// TCM inner App css
body.exercizer{
    /*
    *   COLOR CORRECTED / CORRECTION ON GOING / HAS BEEN START / IS SUBMITTED
    */

    .background-color-corrected,
    .dominos .item .domino .bottom.background-color-corrected{
        background-color: $green;
        .content{
            width: calc(100% - 40px);
        }
    }
    .color-corrected{
        color: $green;
    }
    .background-color-is-correction-on-going,
    .dominos .item .domino .bottom.background-color-is-correction-on-going{
        background-color: $orange;
        .content{
            width: calc(100% - 20px);
        }
    }
    .color-is-correction-on-going{
        color: $orange;
    }
    .background-color-is-submitted,
    .dominos .item .domino .bottom.background-color-is-submitted{
        background-color: #00A4D3;
        .content{
            width: calc(100% - 20px);
        }
    }
    .color-is-submitted{
        color: #00A4D3;
    }
    .background-color-has-been-started,
    .dominos .item .domino .bottom.background-color-has-been-started{
        background-color: $orange;
        .content{
            width: calc(100% - 20px);
        }
    }
    .color-has-been-started{
        color: $orange;
    }

    .input-response-correct{
        color: $green !important;
        border: 1px solid $green !important;
        background-color: rgba($green, 0.1);
    }
    .input-response-incorrect{
        color: $red !important;
        border: 1px solid $red !important;
        background-color: rgba($red, 0.1);
    }

    /**
    *   FILTER STYLE
    */
    .custom-filter-button {
        margin-right: 20px;
        border: 1px solid lightgray;
        background-color: lightgray;
        border-radius: 2px;
        min-width: 150px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .custom-filter-button-library {
        border: 1px solid lightgray;
        padding: 5px;
        margin: 5px 0 5px 0;
        background-color: lightgray;
        border-radius: 2px;
        text-align: center;
        width: 100%;
    }
    .custom-filter-button-correction {
        border: 1px solid lightgray;
        padding: 5px;
        margin: 5px;
        background-color: lightgray;
        border-radius: 2px;
        text-align: center;
    }

    .custom-filter-button.custom-selected, .custom-filter-button-library.custom-selected, .custom-filter-button-correction.custom-selected {
        background-color  : $orange;
        color: white;
    }


    nav.floating-navigation, nav.vertical{
        padding-right: 35px;
    }

    /**
     * Floating nav selected
     */

    .floating-navigation li.selected {
        background: $orange;
        box-shadow: none;
    }
    .floating-navigation li.selected a {
        color: white;
    }

    /**
     * Custom tags for subject library list
     */

    .subject-library-tag {
        font-size: 12px;
        color: white;
        background-color: $orange;
        border-radius: 2px;
        padding: 1px 3px 1px 2px;
        margin: 5px 5px 0 0;
        display: inline-block;
    }

    /**
    *   OVERWRITE THEME
    */

    .tabs header.selected{
        background-color: transparent !important;
    }

    .down-open:hover{
        color: $orange;
    }

    .hover-orange:hover{
        color: $orange;
    }

    #surcharge-force-cursor-default:before{
        cursor: default !important;
    }
    #edit-subject .surcharge-force-margin-zero{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .association-possible-answer-left{
        border: 1px dashed $darkest-grey;
        padding: 5px 20px;
        margin: 10px;
        border-radius: 10px;
        background-color: $light-grey;
    }

    .association-possible-answer-left:hover{
        border: 1px dashed $orange;
        background-color: white;
    }

    .association-drop-hover{
        border: 1px dashed $orange!important;
        background-color: lighten($orange, 45%);
    }

    .subject-dragged-grain {
        z-index: 1000;
        width: 100%;
        border: 1px dashed $orange!important;
        background-color: white;
        cursor: move;
    }

    .row-like-input{
        line-height:25px;
        height:25px;
    }

    .import-files-custom{
        padding-top: 70px;
        padding-bottom: 100px;
    }

    /// & body

    editor.small-editor.edit > [contenteditable] {
        width: 100%;
        max-height: 100px!important;
        min-height: 100px!important;
        overflow-y: scroll;
    }

    editor.small-editor.edit > [contenteditable]:focus {
        width: 100%;
        max-height: none!important;
        min-height: 250px!important;
        overflow: visible;
    }

    table.scores{
         width:70%;
         overflow:hidden;
         float:left;
         border-left: 1px solid $cyan;

         tbody{
             max-height:450px;
             overflow:auto;
             overflow-x:hidden;
             display:block;
         }
    }

    table.infos{
         width:30%;
         overflow:hidden;
         float:left;

         tbody{
             max-height:450px;
             overflow:auto;
             overflow-x:hidden;
             display:block;
             margin-right:-30px;
         }
    }
    .small-cell{
        width: 10px;
    }

    th.nav{
        border-left: 1px solid;
        border-right: 1px solid;
        i{
            color: $white;
        }
    }

    tr.hover-hidden{
        background: $white;
    }

    .display-table{
        display:table;
        width:100%;
        table-layout:fixed;
    }

    textarea {
      background-color: white;
      border: 1px solid rgba(black, 0.1);
      font-family: sans-serif;
    }

    .good-answer {
      color: $green;
      background-color: rgba($green, 0.1);
    }

    .bad-answer {
      color: $red;
      background-color: rgba($red, 0.1);
    }

    .association {
      &__left {
        justify-content: flex-end;
        border-bottom: 1px solid $solid-grey;
        padding: 10px;
      }
      &__right {
        border: 1px dashed $solid-grey;
        border-radius: 10px;
        text-align: center;
        min-height: 50px;
        .close {
          padding: 15px;
        }
      }
      &__delete {
        padding: 15px;
        position: absolute;
        right: 0;
      }
    }

    .tap-tap {
      background-color: $primary;
      color: white;
      padding: 25px;
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 40vh;
      margin: 0!important;
      border: none;
      box-shadow: 0 -3px 10px rgba(0,0,0,0.2);
      &__item {
        cursor: pointer;
        display: inline-block;
        background-color: white;
        border: none;
        padding: 10px 30px;
        margin: 10px;
        color: $darkest-grey;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        &:hover,
        &:active {
          background-color: $orange;
          color: white;
          border: none;
        }
      }
      &__target {
        border-color: $orange;
      }
    }
    @media screen and (max-width: $tablette) {
      .main-col {
        padding-left: 0!important;
      }
      input {
        padding: 10px;
        height: inherit;
      }
      ul.thought-out-actions li {
        margin: 10px 0;
      }
    }
    @media screen and (max-width: $fat-mobile) {
      .association {
        flex-direction: column;
        padding: 10px;
      }
      .association__left {
        justify-content: center;
      }
    }
}
