body.wayf a.loginstudent {
  background: #4aae3d;
}
body.wayf a.student {
  background: #4aae3d;
}

body.wayf a.loginteacher {
  background: #f39233;
}
body.wayf a.teacher {
  background: #f39233;
}
body.wayf a.otherteacher {
  background: #f39233;
}

body.wayf a.loginrelative {
  background: #2db0e5;
}
body.wayf a.relative {
  background: #2db0e5;
}

body.wayf a.loginother {
  background: #e7323c;
}