<h1 class="centered-text">
    <i18n>assistant.2d.relative.title</i18n>
</h1>
<p class="centered-text"><i18n>assistant.2d.relative.message</i18n></p>
<div class="flex-row align-start justify-center centered-text apps">
    <div class="container top-spacing-four">
        <img skin-src="/img/assistant/education.png" alt="">
        <p><i18n>assistant.2d.relative.education</i18n></p>
    </div>
    <div class="container top-spacing-four">
        <img skin-src="/img/assistant/safespace.png" alt="">
        <p><i18n>assistant.2d.relative.safespace</i18n></p>
    </div>
    <div class="container top-spacing-four">
        <img skin-src="/img/assistant/puzzle.png" alt="">
        <p><i18n>assistant.2d.relative.tools</i18n></p>
    </div>
</div>
