<h1 class="centered-text">Parent avec LEO vous pourrez...</h1>

<h4>
    Communiquer avec les équipes du Lycée grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="conversation-large"></i>
        <legend>Messagerie</legend>
    </div>
    <div class="container">
        <i class="forum-large"></i>
        <legend>Forum</legend>
    </div>
    <div class="container">
        <div class="multi-apps">
            <i class="timelinegenerator-large"></i>
            <i class="rack-large"></i>
            <i class="rbs-large"></i>
            <i class="exercizer-large"></i>
            <i class="collaborative-wall-large"></i>
            <i class="dotsx3-h"></i>
        </div>
    </div>
</div>
