.workspace-share button.panel-button {
    position: absolute;
    top: -60px;
    right: 0;
}
.workspace-app {
    .material .main{
        padding-bottom: 0;
    }
    .toggle-buttons-spacer{
        margin-bottom: 0px;
    }
    article.icons-view>div {
        height: 100%;
        overflow-y: scroll;
    }
    .icons-view .element,
    .icons-view explorer {
        overflow: visible !important;
    }
    article.list-view, article.icons-view > div{
        padding-bottom: 50px;
    }
    share-panel td .tipbox .tipbox-content {
        min-width: 400px;
    }
}