.logo {
  background: url(../../img/logo.png) no-repeat;
  cursor: pointer;
  height: 85px !important;
  width: 400px !important;
}
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .logo{
    background: url(../../img/logo.png) no-repeat left;
  }
}
