/* .panel{
    background-size: 100px !important;
}
.login.panel{
    background-size: 280px !important;
} */
body.wayf a.otherrelative {
  background: #000091;
}
body.wayf a.otherteacher {
  background: #009899;
}
