<h1 class="centered-text">
    <i18n>assistant.personnel.title</i18n>
</h1>

<h4>
    <i18n>assistant.personnel.handle</i18n>
</h4>

<hr>

<div class="flex-row align-start justify-center centered-text apps">
    <div class="container">
        <i class="absences"></i>
        <legend><i18n>assistant.attendance</i18n></legend>
    </div>
    <div class="container">
        <i class="notes"></i>
        <legend><i18n>notes</i18n></legend>
    </div>
    <div class="container">
        <i class="cahier-textes-large"></i>
        <legend><i18n>homeworks</i18n></legend>
    </div>
    <div class="container">
        <i class="rbs-large"></i>
        <legend><i18n>rbs</i18n></legend>
    </div>

</div>
