<h1 class="centered-text">
  <i18n>assistant.2d.teaching.title</i18n>
</h1>
<p class="centered-text"><i18n>assistant.2d.teaching.message</i18n></p>
<div class="flex-row align-start justify-center centered-text apps">
  <div class="container top-spacing-four" style="width: 200px">
    <i class="exercizer-large"></i>
    <p><i18n>assistant.2d.teaching.create</i18n></p>
  </div>
  <div class="container top-spacing-four" style="width: 200px">
    <i class="conversation-large"></i>
    <p><i18n>assistant.2d.teaching.communicate</i18n></p>
  </div>
  <div class="container top-spacing-four" style="width: 200px">
    <i class="blog-large"></i>
    <p><i18n>assistant.2d.teaching.enhance</i18n></p>
  </div>
</div>
