<section class="main">
	<div class="forgot panel">
		<img class="logo absolute" src="/assets/themes/[[childTheme]]/img/illustrations/logo.png" alt="Logo de l'ENT">
		<h1 translate content="auth.forgot.header"></h1>
		<p class="warning" ng-if="error" translate content="[[error]]"></p>

		<div class="content">
			<h4><i18n>auth.forgot.text</i18n></h4>

			<h2 ng-click="showWhat = showWhat === 'forgotPassword' ? null : 'forgotPassword'"><a><i18n>auth.lost.password</i18n></a></h2>
			<div ng-if="showWhat === 'forgotPassword'" ng-init="initUser(); passwordChannels()">
				<p><i18n>auth.lost.password.text</i18n></p>
				<div class="row">
					<form class="nostyle rowstyle" name="forgotPasswordForm">
						<input type="text" translate attr="placeholder" placeholder="auth.email"
							name="login" ng-model="user.login" ng-keydown="noSpace($event)" ng-change="noUpperCase(); user.channels = {}" required/>
						<input type="submit" translate attr="value" ng-click="forgotPassword(user.login, 'mail')" value="auth.forgot.send.mail" ng-disabled="forgotPasswordForm.$invalid"/>
						<input ng-if="user.channels.mobile" type="submit" translate attr="value" ng-click="forgotPassword(user.login, 'mobile')" value="auth.forgot.send.sms" ng-disabled="forgotPasswordForm.$invalid"/>
					</form>
					<br>
				</div>
			</div>

			<h2 ng-click="showWhat = showWhat === 'forgotId' ? null : 'forgotId'"><a><i18n>auth.lost.id</i18n></a></h2>
			<div ng-if="showWhat === 'forgotId'" ng-init="initUser(); user.mode = 'id'">
				<p><i18n>auth.lost.id.text</i18n></p>
				<form class="nostyle rowstyle" method="post" name="forgotForm" ng-submit="forgot('mail')">
					<p>
						<label translate ng-if="user.mode === 'id'" content="auth.mail"></label>
						<label translate ng-if="user.mode === 'checkFirstName'" content="auth.info.firstName"></label>
						<label translate ng-if="user.mode === 'checkStructure'" content="auth.info.structure"></label>
						<input type="email" name="mail" ng-if="user.mode === 'id'" ng-model="user.mail" required/>
						<input type="text" name="firstName" ng-if="user.mode === 'checkFirstName'" ng-model="user.firstName" required/>
						<select ng-if="user.mode === 'checkStructure'" ng-options="structure.structureId as structure.structureName for structure in structures | orderBy: 'name'" ng-model="user.structureId" required></select>
					</p>
					<input type="submit" translate attr="value" value="auth.forgot.send" ng-disabled="forgotForm.$invalid"/>
				</form>
				<div class="card info row" ng-if="user.channels.mobile" >
					<a class="reduce-block-eight" ng-if="user.channels.mobile" ng-click="forgot('mobile')">
						<i18n>auth.click.to.send.sms</i18n>
					</a>
				</div>

			</div>
			<form class="row centered-text nostyle button-bar" method="get" action="/auth/login">
				<button class="right-magnet" translate content="auth.back.to.login"></button>
			</form>
		</div>
	</div>
</section>
