.icons-view.apps {
    padding: 25px;
    .element {
        padding: 0;
        height: 140px;
        width: 140px;
        &:hover {
            background: transparent !important;
            a {
                color: $yellow;
            }
        }
        &:hover {
            i::before,
            a {
                color: $accent !important;
            }
        }
        .container {
            width: 140px;
            height: 140px;
            padding: 0;
            font-size: 75px;
            line-height: 100px;
            text-align: center;
            i::before {
                @include run-transition(color);
            }
            img {
                max-width: 70%;
                max-height: 70%;
            }
        }
        legend {
            padding: 0 !important;
            box-sizing: border-box;
            width: 140px;
            background: none !important;
            a {
                max-width: 140px;
                vertical-align: middle;
                text-align: center;
                padding: 5px;
                line-height: 22px;
                box-sizing: border-box;
                color: $black;
                font-weight: normal;
            }
        }
    }
}
input[type="search"].apps-search {
    display: block;
    font-size: 18px;
    padding: 15px;
    height: inherit;
    width: 600px;
    margin: 0 auto;
}