article {
    background: $white;
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
}


article {
    @include material-card();
    article:not(.absolute-w) {
        box-shadow: none;
    }
}
article.list-view {
    padding: 0;
}

article.selected {
    background: $primary;
    color: $white;
    a {
        color: $white;
    }
}
