assistant{
    nav.dots{
        li.dot::before{
            border-color: $medium-grey;
        }
        li.dot.active::before{
            background: $accent;
        }
        li.dot:hover{
    		 &::before{
    			border-color: $primary;
    		}
    	}
        li.dot.active:hover{
             &::before{
                border-color: $accent;
                background: transparent;
            }
        }
    }

    lightbox .content{
        padding: 50px!important;
        padding-bottom: 30px!important;
        box-sizing: border-box;
        border: 10px solid $primary;

        .logo-quickstart{
            background-image: url(../../img/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        iframe{
            width: calc(100% - 20px);
        }

        h1 + p{
            margin-top: 45px;
        }
        h4{
            margin: 50px 0 20px;
            text-align: center;
        }

        p{
            line-height: 25px;
        }


        .apps{

            @for $i from 2 to 10 {

                .container:nth-child(#{$i}){
                    animation-delay: $i / 8 + s ;
                }
            }

            .container{
                width: 150px;
                margin: 0 10px;
                transform: scale(0);
                animation-duration: 0.4s;
                animation-name: bounce-pop-out;
                animation-fill-mode: forwards;
            }
            i{
                font-size: 65px;
            }
            legend{
                color: $black;
                margin: 20px auto 0;
                font-size: 13px;
            }
        }

        iframe{
            position: absolute;
            height: 100%;
        }
        .ratio-block{
            width: 100%;
            padding-bottom: 56%;
            background:transparent;
        }
        .multi-apps{
            position: relative;
            height: 100px;
            width: 125px;
            i{
                position: absolute;
                font-size: 30px;
                width: 50px;
                height: 50px;
                //background: $light-grey;
                border-radius: 3px;
                line-height: 50px;
                box-shadow: 0px 0px 15px 1px $shadow;
                &:before{
                    //color: $grey;
                    color: $white;
                }
            }

            i.collaborative-wall-large{
                background: $green;
                bottom: 0;
                right: 0;
                transform: scale(0.8);
            }
            i.rack-large{
                background: $red;
                top: -10px;
                left: 3px;
                transform: scale(0.5);
            }
            i.timelinegenerator-large{
                background: $yellow;
                top: -14px;
                right: 3px;
                transform: scale(0.6);
            }
            i.rbs-large{
                background: $pink;
                left: -15px;
                bottom: 13px;
                transform: scale(0.4);
            }
            i.exercizer-large{
                background: $purple;
                left: 8px;
                bottom: -6px;
                transform: scale(0.7);
            }
            i.dotsx3-h{
                background: $cyan;
                left: 37px;
                bottom: 33px;
            }
        }
    }
}
@media screen and (max-width: $tablette) {
    body {
        assistant{
            section.lightbox>div.content{
                .logo-quickstart{
                    height: 45px;
                    width: 110px;
                    margin-top: -45px;
                    margin-left: 10px;
                }
                h1{
                    font-weight: bold;
                    margin-top: 8px;
                }
                h4{
                    font-weight: normal;
                    margin: 20px 0 30px;
                    font-size: 15px;
                    padding: 0 15px;
                    line-height: 18px;
                }
                h4 + hr{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: $fat-mobile) {
    body {
        assistant{
            section.lightbox>div.content{
                .multi-apps{
                    transform: scale(0.8);
                    transform-origin: top left;
                }
            }
        }
    }
}
@media screen and (max-width: $small-mobile) {
    body {
        assistant{
            section.lightbox>div.content{
                .apps{
                    .container{
                        width: 80px;
                    }
                    i{
                        font-size: 45px;
                    }
                    legend{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
