.buttons-set {
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    &::first-child{
        margin-left: 0;
    }
    &::last-child{
        margin-right: 0;
    }
    button, .tip{
        border-right: 1px solid #ccc;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        &:first-child{
            padding-left: 15px;
        }
        &:last-child{
            padding-right: 15px;
        }
    }
    .tip{
        background-color: #eee;
        color: #666;
        float: left;
        height: 38px;
        line-height: 34px;
        i{
            font-size: 20px;
        }
    }
    button {
        box-shadow: none;
    }
}