.chip{
    padding-bottom: 2px;
    background: $medium-grey;
    box-shadow: 2px 2px 4px 0px $shadow-dark inset;
    @include run-transition(all);
    i{
        &::before{
            color: $white!important;
        }
    }
    span{
        color: $white;
    }
}
.chip.selected{
    box-shadow: 2px 2px 1px 0px  $shadow;
    background: $primary;
}

.chip:hover, .chip:active{
    box-shadow: 2px 2px 4px 0px $shadow-darker inset;
}
.chip.selected:hover{
    box-shadow: 2px 2px 1px 0px  $shadow-darker;
}

.chip.multiselect{
    background: $accent;
    box-shadow: 2px 2px 1px 0px  $shadow;
    &:active{
        box-shadow: 2px 2px 4px 0px $shadow-darker inset;
    }
}