.chip, contact-chip{
    padding-bottom: 2px;
    background: $medium-grey;
    box-shadow: 2px 2px 4px 0px $shadow-dark inset;
    @include run-transition(all);
    i{
        &::before{
            color: $white!important;
        }
    }
    span{
        color: $white;
    }
}

.chip.multiselect{
    background: $accent;
    box-shadow: 2px 2px 1px 0px  $shadow;
    &:active{
        box-shadow: 2px 2px 4px 0px $shadow-darker inset;
    }
}

/// REMOVABLES

.chip, contact-chip {
    &.removable{
        box-shadow: none;
    }
}

.chip.text{
  background: $white;
  box-shadow: none;
  text-shadow: none;
}

.chip-valide{ 
  border: 1px solid $green;
  span{
    color: $green;
  }
}
.chip-error{
  border: 1px solid $red;
  span{
    color: $red;
  }
}

.chip-warning{
  border: 1px solid $yellow;
  span{
    color: $yellow;
  }
}

.chip-default{
  border: 1px solid $grey;
  span{
    color: $grey;
  }
}

.chip-hide{
  border: 1px solid $white;
}
