.dominos {
    //domninos as folder
    .folder {
        .top {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
        }
        .content {
          display: flex;
          align-items: center;
        }
        strong {
            overflow: hidden;
            max-height: 100%;
            padding-left: 5px;
        }
        .illustration i, img {
            color: $primary;
        }
    }
    .item {
        width: 14%;
        border: 0;
        padding: 10px;
        margin: 1px;
        display: inline-block;

        .domino {
            @include box-shadow3(2px, 2px, 5px);
            border-radius: 2px;
            border: 0;
            .bottom {
                text-align: left;
                background: white;
                color: $primary;
                div.content {
                    em.smaller-text.block {
                        margin-top: -5px;
                    }
                    i.shared {
                        right: 8px;
                        top: 8px;
                    }
                    .icons {
                        position: absolute;
                        bottom: 5px;
                        right: 10px;
                        color: $medium-grey;
                        .inline {
                            padding: 0 5px;
                        }
                    }
                }
                i.send-mail:hover {
                    margin: 7px;
                }
            }
        }
    }
}

.dominos.centered-text {
    .item {
        padding: 0px;
        margin: 15px;
        max-width: 140px;
        min-width: 140px;
        &.user, &.group {
            padding: 2px;
        }
        .domino {
            .top {
                height: 136px;
                & + span{
                    color: $white;
                }
            }
            .bottom {
                margin-top: 0;
            }
        }
    }
    .bottom-locked {
        right: 10px;
    }
}

.dominos.fallen {
    .item {
        font-size: 12px;
        line-height: 21px;
        float: left;
    }
    .two-lines {
        max-height: 42px;
        overflow: hidden;
    }
}

sniplet .dominos .item {
    box-shadow: 2px 2px 5px $shadow-light;
}

@media screen and (max-width: $fat-mobile) {
	.dominos.centered-text{
        .item{
            margin: 5px;
            max-width: 120px;
            min-width: 120px;
            .domino .top{
                height: 116px;
            }
        }
    }
}

@media screen and (min-width: $wide-screen) {
    .user-infos {
        margin-top: 44px;
    }
    .dominos-infos {
        margin-top: 82px;
    }
    .group-infos {
        margin-top: 50px;
    }
    .favorite-infos {
        margin-top: 100px;
    }
}
