.dominos {
    .folder, 
    .item {
        @include box-shadow3(2px, 2px, 5px);
        .domino {
            border: none;
            .top {
                background-color: $grey;
            }
            .bottom {
                .content {
                    span {
                        color: $primary;
                    }
                    em.smaller-text {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
.dominos.centered-text {
    .item {
        padding: 0px;
        margin: 15px;
        max-width: 140px;
        min-width: 140px;
        &.user, &.group {
            padding: 2px;
        }
        .domino {
            .top {
                height: 136px;
                & + span{
                    color: $white;
                }
            }
            .bottom {
                margin-top: 0;
            }
        }
    }
    .bottom-locked {
        right: 10px;
    }
}

.dominos.fallen {
    .two-lines {
        max-height: 42px;
        overflow: hidden;
    }
}

sniplet .dominos .item {
    box-shadow: 2px 2px 5px $shadow-light;
}

@media screen and (max-width: $fat-mobile) {
	.dominos.centered-text{
        .item{
            margin: 5px;
            max-width: 120px;
            min-width: 120px;
            .domino .top{
                height: 116px;
            }
        }
    }
}

@media screen and (min-width: $wide-screen) {
    .user-infos {
        margin-top: 44px;
    }
    .dominos-infos {
        margin-top: 82px;
    }
    .group-infos {
        margin-top: 50px;
    }
    .favorite-infos {
        margin-top: 100px;
    }
}
