.drop-down-block{
    i.arrow{
        color: $accent;
    }
    .drop-down-label, .drop-up-label{
        border-bottom: 1px solid $disable-grey;
        @include run-transition(all);
        & > label{
            font-weight: bold;
            color: $grey;
            @include run-transition(all);

            &:hover{
                color: $black;
            }
        }
        &:hover {
            border-bottom: 1px solid $accent;
        }

    }
    .drop-down-label{
        i.arrow{
            @include run-transition(all);
        }
        &+.drop-down-info{
            color: $disable-grey;
        }
    }
}
