body.exercizer.dragging{
    [drop-item].drag-over{
        background: $accent;
        color: #fff;
    }
}

body.exercizer{
    edit-fill-text{
        editor.edit, editor.both, editor.html{
            editor-toolbar{
                border-left: 52px #eee solid;
                .option.filltext{
                    position: absolute;
                    left: -52px;
                    box-sizing: border-box;
                    top: 0;
                    height: 100%;
                    width: 52px;
                    & > i{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        &::before{
                            font-size: 28px;
                            @include fonticon;
                            content: "\e858";
                            color: $accent;
                        }
                    }
                }
            }
            fill-zone{
                cursor: pointer;
                
                text-zone{
                    pointer-events: none;
                    user-select: none;
                     &::after{
                        content: " ";
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }
                }
               
            }
        }
    }

    [drag-item]{
        cursor: move;
    }

    image-zone{
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        float: left;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
        margin: 8px;
        border-radius: 3px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        z-index: 20;
        overflow: hidden;
        img{
            border-radius: 3px;
            pointer-events: none;
        }
        button.add-answer{
            box-shadow: none;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
        }
        &.error::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(236, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
        }
        &.success::after{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(32, 204, 36, 0.4);
            position: absolute;
            top: 0;
            left: 0;
        }
        i.close{
            position: absolute;
            top: 5px;
            right: 5px;
            color: #fff;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            z-index: 3;
        }
        .actions{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 14px;
            padding-left: 11px;
            background: rgba(0,0,0,0.5);
            height: 35px;
            line-height: 35px;
            color: #fff;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            box-sizing: border-box;
            i{
                padding-right: 3px;
                margin-top: 1px;
            }
            &:hover{
                color: $accent;
            }
        }
    }
    .base-image{
        width: 760px;
        height: 600px;
        margin: auto;
        background: #efefef;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: visible;

        article{
            background: transparent;
            padding: 0;
        }

        .image-container{
            display: flex;
            justify-content: center;
            vertical-align: middle;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            > img{
                width: 100%;
            }
        }

        > img{
            width: 100%;
            height: auto;
        }
    }

    .options{
        min-height: 150px;
        margin-bottom: 20px;
        ul{
            padding: 0;
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: center;
            display: flex;
            li{
                z-index: 20;
            }
        }
        
        background: #eee;
        padding: 8px;
        border-radius: 3px;
        transition: background 250ms ease;
    }

    .add-option{
        input[type=text], button{
            float: left;
        }
        input[type=text]{
            border: 1px solid #ddd;
        }
        button{
            border-radius:0;
            box-shadow: none;
            width: 32px;
            padding: 5px;
            margin-left: 0;
            height: 29px;
        }
    }

    fill-zone{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        position: relative;
    }

    .options text-zone{
        width: auto;
    }

    text-zone{
        background: #fff;
        margin: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        padding: 5px;
        color: #666;
        width: 150px;
        display: inline-block;
        position: relative;
        padding-left: 12px;
        box-sizing: border-box;
        height: 33px;
        line-height: 23px;
        transition: all 250ms ease;

        span{
            overflow: hidden;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 31px;
        }

        &.selected{
            background: $primary;
            color: #fff;
        }

        input[type=text], select{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            border-bottom: none;
        }
        input[type=text]{
            box-sizing: border-box;    
        }
        input[type=text]:focus{
            border-bottom: 1px solid $accent;
        }
        [drop-item]{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            line-height: 33px;
            text-align: center;
            background: transparent;
            transition: background 250ms ease;
        }

        &.error{
            background: rgba(236, 0, 0, 0.33);
            color: #e8e8e8;
            border-left: 0;
        }

        &.success{
            background: rgba(32, 204, 36, 0.29);
            color: #fff;
            border-left: 0;
        }

        > i{
            margin-right: 5px;
            display: block;
            height: 23px;
            line-height: 23px;
            position: absolute;
            right: 0;
            transition: color 250ms ease;
            z-index: 300;
            pointer-events: all;
            &:hover{
                color: $accent;
            }
            &.edit{
                margin-right: 20px;
            }
        }
    }

    .order-index{
        height: 40px;
        width: 40px;
        margin-right: 25px;
        border-radius: 20px;
        background: $primary;
        color: #fff;
        float: left;
        text-align: center;
        line-height: 40px;
        transition: background 250ms ease;
    }

    perform-order .answer{
        line-height: 40px;
        height: 40px;
    }

    edit-order input[type=text]{
        margin-bottom: 0;
        margin-top: 6px;
    }

    perform-order, edit-order{
        ul.thought-out-actions > li:hover{
            color: #fff;
            .order-index{
                background-color: $accent;
            }
        }
    }

    perform-qcm{
        .checkbox{
            margin-top: 6px;
            margin-right: 25px;
        }
        input[type=text]{
            border: none;
            margin-bottom: 0;
            height: 30px;
            line-height: 30px;
        }
    }

    nav{
        padding-right: 35px;
    }

    grain-copy-footer{
        display: block;
        position: relative;
        background: #f5f5f5;
        padding: 15px;
        border-radius: 7px;
        min-height: 23px;
    }
}
