explorer{
    transition: background 250ms ease;
    .container{
        transition: background 250ms ease;
    }
}

explorer.card{
    .illustration i, img{
        position: absolute;
        color: $primary;
        width: 100%;
        height: 100%;
    }
    &.folder{
        background: $primary;
        color: #fff;
        h3{
            color: #fff;
            line-height: 75px;
            margin: 0;
        }
        .illustration i, img{
            color: #fff;
        }
    }
}

.dominos{
    explorer.item{
        .domino, .content{
            transition: background 250ms ease;
            cursor: pointer;
        }
        &.folder{
            .content, .domino{
                background: $primary;
            }
            .folder-large{
                top: 22px;
                position: relative;
            }
            color: #fff;
            h3{
                color: #fff;
                line-height: 111px;
                margin: 0;
            }
            .illustration i, img{
                color: #fff;
            }
        }
    }
}

explorer.selected{
    &.card{
        background-color: $primary-light;
        img {
            opacity: 0.4;
        }
        h3, span{
            color: #fff;
        }
    }
    &.item, &.item.folder{
        .domino, .content{
            background-color: $primary-light;
            strong, .shared{
                opacity: 0.4
            }
        }
        
        img {
            opacity: 0.4;
        }
        h3, span{
            color: #fff;
        }
    }
    .container{
        background-color: $primary-light;
        border: 1px solid $primary-light;
        img {
            opacity: 0.4;
        }
        h3, span{
            color: #fff;
        }
    }
}
