
form {
    .search{
        input[type=submit] {
            padding: 0 18px;
        }
        select{
            margin: 0 3%;
            box-sizing: border-box;
        }
    }
}

textarea {
    box-sizing: border-box;
    border: 1px solid $neutral-grey;
    padding: 10px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
}
textarea:focus {
    outline: none;
    border: 2px solid $accent;
}


button,
input[type=button],
a.button,
input[type=submit],
.drop-down-button label,
.drop-down-button.hidden label {
    background: $accent;
    padding: 8px 18px 10px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 2px;
    @include run-transition(all);
    font-weight: 500;
    line-height: 20px;
    border: none;
    box-shadow: 0 1px 1px $shadow-dark;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    &::before {
        content: " ";
        background: transparent;
        width: 1%;
        height: 1%;
        position: absolute;
        top: 0;
        left: -50%;
        @include run-transition(all);
        border-radius: 100%;
        padding: 0;
    }
}


//weird chrome hack for background color in prefilled inputs
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: $text-light !important;
}

input[type=text],
input[type=password],
input[type=search],
input[type=tel],
input[type=email] {
    color: $text-light;
    background: transparent;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}


textarea.inline-editing {
    background: transparent;
    border-bottom: 1px solid $neutral-grey;
    padding: 2px;
}
textarea.inline-editing:focus {
    border-bottom: 2px solid $accent;
    outline: none;
}


input[type=text],
input[type=password],
input[type=search],
input[type=tel],
input[type=email] {
    color: $text-light;
    background: transparent;
    border-bottom: 1px solid $neutral-grey;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    @include run-transition(border-bottom);
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=email]:focus {
    border-bottom: 2px solid $accent;
    outline: 0;
}
input.ng-invalid.ng-dirty {
    border-bottom: 2px solid $red;
}


input[type=text][disabled=disabled] {
    background: $neutral-grey;
    color: $disabled-color;
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    margin: 3px 0;
    cursor: default;
}


search-user.focus{
    label{
        color: $accent;
    }
}

select {
  background-color: $white;
  height: 34px;
  padding: 0 5px;
  border-radius: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
  outline: none;
  min-width: 150px;
  border: solid 1px $solid-grey;
  color: $darkest-grey;

  &:hover {
    border-color: $primary;
  }
}
