help {
    color: black;
    line-height: normal;
    font-size: 16px;
    p {
        color: black;
    }
    section.lightbox {
        z-index: 10002;
    }
    #TOC{
        width: 25%;
        float: left;
        li{
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        ul{
            border-left: 5px solid #FF8500;
        }
    }
    img{
        max-width: 100%;
    }

    section.lightbox > div.content div.section {
        width: 70%;
        margin-left: 25%;
        h2 {
            width: 100%;
        }
    }
}