help section.lightbox > div.content .app-single-post .app-content-section {
    width: 620px;
}
help {
    color: black;
    line-height: normal;
    font-size: 16px;
    .app-single-post {
        p {
            color: black;
        }
    }
    section.lightbox {
        z-index: 10002;
    }
}
