article.icons-view {
    padding-left: 15px;
    header {
        display: none;
    }
}

.icons-view {

    & .mini-block-container{
        padding: 0;
    }
    strong {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
    }
    
    .element, explorer {
        padding: 0;
        margin: 8px;
        width: auto;
        height: auto;
        overflow: hidden;
        vertical-align: top;
        .img.container {
            padding: 0;
            border: none;
        }
        i.inline.shared {
            width: 15px;
            height: 15px;
            top: 5px;
            left: 5px;
            right: auto;
            bottom: auto;
            background-size: 100%;
        }
        legend {
            position: absolute !important;
            left: 1px;
            bottom: 1px !important;
            width: calc(100% - 2px);
            height: auto;
            text-align: center;
            padding-top: 5px !important;
            line-height: 20px !important;
            background: $shadow-dark;
            color: $white;
            box-sizing: border-box;
            @include run-transition(all);
            a {
                color: $white;
                font-size: 15px;
                margin: 0;
                line-height: 17px;
            }
            a:first-child {
                span.badge {
                    font-size: 11px;
                    line-height: 13px;
                    position: relative;
                    background: $cyan;
                    width: 16px;
                    height: 12px;
                    border-bottom-right-radius: 0;
                    box-shadow: 0 0 0 1px $light-grey;
                    margin: 1px 4px 1px 1px;
                    z-index: 1;
                }
                span {
                    line-height: 2px;
                }
            }
            strong {
                font-style: normal;
                font-size: 10px;
                color: $white;
                @include run-transition(color);
            }
            a.author{
                display: inline;
            }
        }
        a,
        a.container,
        .img.container{
            padding: 0;
            @include run-transition(all);
            i {
                width: 117px;
                height: 117px;
                display: inline-block;
                color: $primary;
            }
        }
        a.container,
        .img.container {
            border: 1px solid $light-grey;
        }
        i.history {
            position: absolute;
            top: 6px;
            right: 14px;
            width: 21px;
            height: 21px;
            border-radius: 10px;
            background-size: 15px;
            background-position: center;
            transition: all 0.25s ease-in-out;
            filter:invert(80%);
            -webkit-filter: invert(0.8);
            background-color: $white;
            &:hover {
                background-color: rgba($white, 0.5);
                width: 23px;
                height: 23px;
                background-size: 17px;
                background-position: center;
                box-shadow: 0 0 2px $black;
                border-radius: 12px;
                filter:none;
                -webkit-filter: none;
            }
        }
    }

    .element{
        margin: 0;
    }
}
.icons-view .element.selected {
    legend {
        background: rgba(darken($primary-dark, 15%), 0.7);
    }
}
