.statistics {
  max-width: 1300px;
  margin: 0 auto;
  article {
    padding: 15px 25px 25px;
    margin-top: 0;
  }
  .stats-definitions {
    background-color: rgba($lightest-grey, 0.25);
    border: 1px solid $light-grey;
    padding: 10px;
    border-radius: 5px;
    h1 {
      font-size: 20px;
      margin: 0;
    }
  }
  .chart-granularity-container {
    font-size: 14px;
  }
  .chart-groupby-container,
  .chart-profilecriteria-container {
    border: 1px solid $light-grey;
    border-radius: 5px;
    padding: 10px;
    & > div {
      &:first-of-type {
        font-weight: bold;
      }
    }
    div > input {
      margin: 0 2px 0 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .chart-profilecriteria-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .indicator-icons-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    &.folded {
        border: 1px solid $neutral-grey;
    }
    .indicator-icon-box {
        width: calc(33% - 10px);
        min-height: 115px;
        box-sizing: border-box;
        border: 1px solid $neutral-grey;
        border-radius: 15px;
        background-color: rgba($lightest-grey, 0.25);
        padding: 5px 10px;
        margin: 5px;
        transition: background-color 0.25s ease-in-out;
        i.connection-by-visitors-icon {
            transition: background 0.25s ease-in-out;
        }
        &:hover {
            background-color: mix(lighten($primary, 30%), $lightest-grey)!important;
            i.connection-by-visitors-icon {
                @include icon(connection-by-visitors-icon-alt, 70px);
            }
        }
        .indicator-icon {
            margin-bottom: 0;
            float: left;
            background-size: 100%;
        }
        .indicator-number {
            margin: 5px 0;
            text-align: end;
            font-weight: normal;
            font-size: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: capitalize;
        }
        .indicator-name {
            font-weight: bold;
            text-align: right;
            font-size: 16px;
            text-overflow: ellipsis;
            //white-space: nowrap;
            overflow: hidden;
        }
        .indicator-since {
            text-align: right;
            font-size: 11px;
        }
    }
  }
  .indicator-container-combo {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  .indicator-list-box {
    margin: 5px 0;
    a {
      border-radius: 4px;
      background-color: rgba($lightest-grey, 0.25);
      border: 1px solid $light-grey;
      padding: 10px!important;
      color: $dark-grey;
      &:hover {
        color: $darkest-grey;
        background-color: mix(lighten($primary, 30%), $lightest-grey)!important;
        h1 {
          color: darken($primary, 10%);
        }
      }
      &.selected {
        background-color: $primary;
        color: $white;
        h1 {
          color: $white;
        }
        &:hover {
          background-color: darken($primary, 5%)!important;
        }
      }
    }
    .indicator-number {
        text-align: end;
        font-weight: normal;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        float: right;
        max-height: 40px;
        margin: 0;
        text-transform: capitalize;
    }
    .indicator-name {
        font-weight: bold;
        text-align: left;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .indicator-since {
        font-size: 14px;
        text-align: left;
        white-space: nowrap;
    }
  }
  nav.vertical {
    ul {
      border: none;
    }
  }
  
  @media screen and (max-width: $tablette) {
    article {
      padding: 0 10px;
    }
    .indicator-icons-container {
        .indicator-icon-box {
            flex: 0 0 calc(50% - 10px);
            .indicator-number {
              font-size: 20px;
            }
            .indicator-name {
              font-size: 14px;
            }
        }
    }
    .indicator-list-box {
        .indicator-since {
            display: none;
        }
        .indicator-name {
          margin-top: 5px;
        }
    }
    .indicator-name {
      font-size: 14px;
    }
    nav.vertical {
      padding-right: inherit!important;
        ul {
          li {
            width: 49% !important;
            display: inline-block;
            margin: 0.5%;
          }
        }
    }
  }
  
  @media screen and (max-width: $fat-mobile) {
    nav.vertical {
      ul {
        li {
          width: 100% !important;
          display: inline-block;
          margin: 0.25%;
        }
      }
  }
    .indicator-icons-container {
        .indicator-icon-box {
            flex: 0 0 calc(100% - 10px);
        }
    }
  }
  
  
  /* Statistics app specific styles */
  i.connection-icon{
    @include icon(connection-icon, 70px);
  }
  i.unique-visitors-icon{
    @include icon(unique-visitors-icon, 70px);
  }
  i.connection-by-visitors-icon{
    @include icon(connection-by-visitors-icon, 70px);
  }
  i.stats-service-icon{
    @include icon(stats-service-icon, 70px);
  }
  i.clock-icon{
    @include icon(clock-icon, 70px);
  }
  i.calendar-button{
    @include icon(calendar-button, 70px);
  }
  i.people-icon{
    @include icon(people-icon, 70px);
  }
  i.devices-icon{
    @include icon(devices-icon, 70px);
  }
  i.connector-icon{
    @include icon(connector-icon, 70px);
  }

  // Overrides for tipbox
  .tipbox {
    .help {
      color: $primary;
    }
    .tipbox-content {
      font-weight: normal;
    }
  }

  .img-thumbnail {
    width: 300px;
    border: 1px solid $light-grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.05);
  }
}
