.warning-text {
    color: $warning-color;
}

.alert,
.warning,
.info,
.success,
.message {
  box-shadow: 1px 1px 3px $shadow-light;
  i.close {
    color: $shadow-dark;
    &:hover {
      color: $red;
    }
  }
}

.message {
    @include message;
}
.alert {
    @include message;
    background: lighten($red, 40%);
    border: 1px solid lighten($red, 30%);
    border-left: 10px solid $red;
}
.warning {
    @include message;
    background: lighten($orange, 40%);
    border: 1px solid lighten($orange, 30%);
    border-left: 10px solid $orange;
}
.info {
    @include message;
    background: lighten($cyan, 40%);
    border: 1px solid lighten($cyan, 30%);
    border-left: 10px solid $cyan;
}
.success {
    @include message;
    background: lighten($green, 40%);
    border: 1px solid lighten($green, 30%);
    border-left: 10px solid $green;
}

.input-errors {
    @include input-message($red)
}

.input-warnings {
    @include input-message($orange)
}
