.warning-text {
    color: $warning-color;
}

.message {
    @include message;
    i{
        color: inherit;
    }
}
.alert {
    @include message;
    background: lighten($red, 40%);
    border-left: 10px solid $red;
    i{
        color: $red!important;
    }
}
.warning {
    @include message;
    background: $light-grey;
    border-left: 10px solid $pink;
    i{
        color: $pink;
    }
}
.info {
    @include message;
    //border-left: 10px solid $accent;
    i{
        color: inherit;
    }
}
.success {
    @include message;
    //border-left: 10px solid $green;
    i{
        color: inherit;
    }
}

.input-errors {
    color: $red;
    font-size: 12px;
    display: block;
    label {
        font-size: 10px !important;
        margin-left: 0;
        float: none !important;
        &:before {
            content: "* ";
        }
        &:after {
            content: "\A";
            white-space: pre;
        }
    }
}
