.tuto{
    opacity: 0;
    @include run-transition(all);
    animation: fade-in 350ms forwards;

    b:first-child{
        color: $primary;
        font-size: 14px;
    }
    i{
        color: $primary;
        margin-left: 5px;
        margin-right: 10px;
        font-weight: normal;
    }
}