.message {
    @include message;
    i{
        color: inherit;
    }
}
.alert {
    @include message;
    background: lighten($red, 40%);
    border-left: 10px solid $red;
    i{
        color: $red!important;
    }
}
.warning {
    @include message;
    background: $light-grey;
    border-left: 10px solid $pink;
    i{
        color: $pink;
    }
}
.info {
    @include message;
    //border-left: 10px solid $accent;
    i{
        color: inherit;
    }
}
.success {
    @include message;
    //border-left: 10px solid $green;
    i{
        color: inherit;
    }
}
.valid-color, .valid-color em, .valid-color i{
    color: $green!important;
}


.accent-color, .accent-color em, .accent-color i{
    color: $accent!important;
}


infotip{
    position: relative;
    display: none;
    i.close{
        transition: color 250ms ease;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        &:hover{
            color: $accent;
        }
    }
}
