.message {
    @include message;
}
.warning {
    @include message;
    background: $light-grey;
    border-left: 10px solid $pink;
}
.info {
    @include message;
    //border-left: 10px solid $accent;
}
.success {
    @include message;
    //border-left: 10px solid $green;
}

infotip{
    position: relative;
    display: block;
    i.close{
        transition: color 250ms ease;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        &:hover{
            color: $accent;
        }
    }
}