article.mailbox {
    .row.new-element {
        background: $primary-lighter;
    }

    i.mail-large {
        color: $primary-dark;
    }

    .row.checked {
        background: $primary-light;
        font-weight: bold;
    }
}