media-library {
    nav.vertical ul li a {
        text-indent: 0;
    }
    section.media-library {
        h2 {
            font-size: 20px;
            font-weight: normal;
        }
        header + section.medium-text {
            text-align: left;
        }
        slider {
            padding: 0;
        }
        .select-file {
            h2 {
                margin-bottom: 10px;
            }
            button.file-button {
                float: left!important;
            }
            input[type=text] {
                margin: 0;
            }
        }
        .compression{
            .nav-arrow{
                background: $primary;
            }
        }
    }
    .import-files{
        .cloud-upload{
            color: $primary;
        }
    }
    .import-files.dragover{
        border-color: $accent;
    }
    .loading-list{
        i.loaded{
            color: $green;
        }
        i.loading{
            color: $cyan;
        }
        .close{
            color: $red;
            &:hover{
                background: $accent;
                color: white;
            }
        }
        ul li.image-file{
            border-color: $primary;
            &:hover{
                border-color: $accent;
            }
        }
    }
}