.notification {
    @include material-card();
    padding: 7px;
    margin-bottom: 25px;
    background: $white;

    article {
        background: transparent;
        margin: 0;
        padding: 0;
        box-shadow: none;
        height: auto;

        .notification-date {
            right: 35px;
            top: 8px;
            em {
                font-style: normal;
                color: $grey;
            }
        }
        >.row{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &:after{
                width: auto;
            }
        }
        .avatar {
            float: none;
            align-self: center;
            width: auto;
            height: auto;
            margin: 15px 20px -15px 10px;
            img {
                height: 75px;
                width: 75px;
                max-width: none;
                display: block;
                border-radius: 50%;
                border: 1px solid $light-grey;
            }
        }
    }
    .content {
        padding: 0;
        margin: 20px 0;
    }

    i.sticker.app{
        position: relative;
        top: -25px;
        left: 50px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        box-shadow: 1px 1px 0px 0px $shadow-darker;
        &::before{
            color: $white!important;
            text-shadow: 1px 1px 0px $shadow-dark;
        }
    }
}

.notification div.notification-actions {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    transition: width 0.3s;
}

.notification div.notification-actions:not(.opened) {
    display: none;
}

.notification:hover div.notification-actions {
    display: block;
    width: 30px;
}

.notification div.notification-actions>.opener {
    position: relative;
    height: 100%;
    border-left: 1px solid $medium-grey;
    border-right: 1px solid $medium-grey;
    display: table;
    text-align: center;
    width: 30px;
    float: left;
    @include run-transition(all);
    color: $accent;
}

.notification div.notification-actions>.opener:hover {
    background-color: $accent;
    color: $white;
}

.notification div.notification-actions>.opener>.left-open {
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    @include run-transition(all);
}

.notification div.notification-actions>.actions {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i{
        color: $darkest-grey;
        margin-right: 10px;
    }
}

.notification div.notification-actions>.actions>.action {
    margin: 5px auto 5px 15%;
    width: 90%;
}

.notification div.notification-actions.opened>.opener>.left-open {
    transform: rotate(180deg);
}

.notification div.notification-actions.opened {
    width: 75%;
}
