.notification {
    @include material-card();

    article {
        background: transparent;
        box-shadow: none;
        .notification-date {
            em {
                font-style: normal;
                color: $grey;
            }
        }
        >.row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &:after {
                width: auto;
            }
        }
        .avatar {
            position: relative;

            img, i.system-avatar {
                height: 75px;
                width: 75px;
                max-width: none;
                display: block;
                border-radius: 50%;
                border: 1px solid $light-grey;
            }
        }
    }
    i.sticker.app {
        box-shadow: 1px 1px 0 0 $shadow-darker;
        bottom: -5px;
        left: 50px;

        &::before {
            color: $white!important;
            text-shadow: 1px 1px 0 $shadow-dark;
        }
    }
}
.notification div.notification-actions {
    background-color: white;
    @include run-transition(width, 0.3s);

    .report a[disabled] {
        color: $warning-color;
    }
}

.notification div.notification-actions>.opener {
    border-left: 1px solid $medium-grey;
    border-right: 1px solid $medium-grey;
    background-color: $white;
    color: $accent;
    @include run-transition(all);
}
.notification div.notification-actions>.opener:hover {
    background-color: $accent;
    color: $white;
}
.notification div.notification-actions>.actions {
    i {
        color: $darkest-grey;
    }
}


//only open ent (full width nav allowed)
@media screen and (max-width: $wide-screen) {
    body {
        .notification div.notification-actions.opened {
            width: 70%;
        }
    }
}
