.block-template {
    &.title {
        h1 {
            display: block;
            color: $primary;
            padding: 15px;
        }
    }
    &.image-block {
        img {
            margin: 6%;
            width: 35%;
            margin-left: 0;
            margin-top: 4px;
        }
    }

    &.title-block {
        h1{
            width: 100%;
            text-align: center;
        }
    }
}
