
.edit .pages-template-block{
    img{
        cursor: context-menu;
    }
}

// styles in toogle-panel
.toggle-panel .block-template {

    //need to be override cause toogle-panel
    h1{
        display: block;
        color: $primary;
        margin: 0;
    }

}
