

// styles in toogle-panel
.block-template {

    //need to be override cause toogle-panel
    h1{
        display: block;
        color: $primary;
        margin: 0;
    }

}

// pages templates styles

.media .drawing-zone{

    .quote-block i.quote-r + div.block-container{
        padding: 0px 40px;
        margin-top: -15px;
    }

    img{
        width: auto;
    }
}
