
.edit .pages-template-block{
    img{
        cursor: context-menu;
    }
}

// edit & view styles
.pages-template-block{

    &.quote-block{
        i.quote-r + div.block-container{
            padding: 0px 40px;
            margin-top: -15px;
        }
    }

}


// styles in toogle-panel
.toggle-panel .block-template {

    //need to be override cause toogle-panel
    h1{
        display: block;
        color: $primary;
        margin: 0;
    }

}

// responsive pages-templates-blocks


@media screen and (max-width: $small-tablette){
    .pages-template-block{
        &.quote-block{
            .block-container.overflow-hd{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $fat-mobile){
    .pages-template-block{

        &.image-block{
            .cell.block-container, .right-magnet.block-container{
                float: none!important;
                img{
                    margin: auto;
                }
            }
        }

        &.multi-col-block{
            display: block;
            img{
                margin: auto;
            }
        }

        &.quote-block{
            i.quote-r + div.block-container{
                padding: 0;
                margin-top: 0;
            }
        }


    }
}
