.schedule {
  width: calc(100% - 130px);
  height: auto;
  margin-left: 130px;
  padding-right: 0px;
  button {
    border-radius: 0;
  }
  legend.timeslots {
    width: 130px;
    background: $primary-light;
    color: $white;
    position: absolute;
    left: -130px;
  }
  .timeslot {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .days {
    width: 100%;
    .day {
      float: left;
      width: calc(100% / 7);
      &.sixDays {width: calc(100% / 6);}
      &.fiveDays {width: calc(100% / 5);}
      position: relative;
      legend {
        width: 100%;
        text-align: center;
        background: $primary-light;
        color: $white;
      }
      .timeslots {
        height: auto;
        .timeslot {
          background: #fdfdfd;
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
          width: 100%;
          box-sizing: border-box;
          hr{
            border: 0px dashed #ddd;
            margin-bottom: 9.5px;
            margin-top: 0px;
            padding: 0px !important;
          }
          &.quarterHours{
            padding-top: 9px;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
           hr{ border: 0.5px dashed #ddd;}
          }
        }
      }
    }
  }

  &.schedule-month {
    .month-day {
      border-color: #eee;
      background-color: #fdfdfd;
      position: relative;
      width: calc(100% / 7);
      height: 80px;
      float: left;
      overflow: auto;
      border-right-width: 0;
      box-sizing: border-box;
      margin-bottom: -1px;
    }
    .legend .month-day {
      background-color: $primary-light;
      color: $white;
    }

    .legend {
      > .month-day {
        height: 1.6em;
        line-height: 1.6em;
        text-align: center;
        overflow: visible;
      }
    }

    .item {
      color: $white;
    }
    .n-more {
      font-size: 0.8em;
      background: $yellow;
      color: $white;
      border-radius: 10px;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
    }
  }

  .schedule-items {
    .schedule-item {
      border: 1px solid transparent;
      border-radius: 5px;
      box-sizing: border-box;
      z-index: 500;

      .schedule-item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 12px;
        text-align: left;
        padding: 5px;
        color: $white;

        line-height: 17px;

        i.pending-status {
          position: absolute;
          bottom: 12px;
          right: 12px;
          z-index: 510;
        }
        i.validated-status {
          position: absolute;
          bottom: 12px;
          right: 12px;
          z-index: 510;
        }
        i.refused-status {
          position: absolute;
          bottom: 12px;
          right: 12px;
          z-index: 510;
        }
        i.periodic-status {
          position: absolute;
          right: 28px;
          bottom: 15px;
          z-index: 510;
        }
        i.suspended-status {
          position: absolute;
          bottom: 12px;
          right: 12px;
          z-index: 510;
        }
      }
    }
    .schedule-item.one {
      @include grid-cell-width(1);
    }
    .schedule-item.two {
      @include grid-cell-width(2);
    }
    .schedule-item.three {
      @include grid-cell-width(3);
    }
    .schedule-item.four {
      @include grid-cell-width(4);
    }
    .schedule-item.six {
      @include grid-cell-width(6);
    }
  }
}

lightbox.schedules-more-items .item {
  color: $white;
}

calendar-daily-events {
  padding-left: 130px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  display: block;
  top: 126px;
  .days {
    position: relative;
    width: 100%;
    .day {
      width: calc(100% / 7);
      &.sixDays {width: calc(100% / 6);}
      &.fiveDays{ width: calc(100% / 5);}
      height: 40px;
      border: 1px solid #eee;
      float: left;
      box-sizing: border-box;
      background: #f7f2f2;
      position: relative;
      z-index: 1;
      .opener {
        line-height: 40px;
        text-align: center;
        color: $accent;
      }
      .daily-events {
        transform: scaleY(0);
        transition: transform 200ms ease;
        padding: 7px;
        background: $white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        &.show {
          transform: scaleY(1);
        }
        .item {
          padding: 3px;
          .content {
            background: $white;
            padding: 5px;
          }
        }
      }
    }
  }
}

.date-picker-icon a {
  position: relative;
}

.calendarFiltersButtons {
  float: left;
  .displayModeButtons {
    margin: 4px 10px 0 10px;
  }
  .displayOptionsButtons button, .displayModeButtons button:not(.cyan) {
    background-color: #aaa;
  }
  .calendarOptionButtonGroup {
    display: inline-block;
    button {
      margin-bottom: 0;
    }
  }
}