.schedule{
	width: calc(100% - 130px);
	height: auto;
	margin-left: 130px;
	padding-right: 0px;
	button{
		border-radius: 0;
	}
	legend.timeslots{
		width: 130px;
		background: $primary-light;
		color: #fff;
		position: absolute;
		left: -130px;
	}
	.timeslot{
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.days{
		width: 100%;
		.day{
			float: left;
			width: calc(100% / 7);
			position: relative;
			legend{
				width: 100%;
				text-align: center;
				background: $primary-light;
				color: #fff;
			}
			.timeslots{
				height: auto;
				.timeslot{
					background: #fdfdfd;
					border-bottom: 1px solid #eee;
					border-right: 1px solid #eee;
					width: 100%;
					box-sizing: border-box;
				}
			}

		}
	}

	.schedule-items{
		.schedule-item{
			border: 1px solid transparent;
			border-radius: 5px;
			box-sizing: border-box;
			z-index: 500;

			.schedule-item-content{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 12px;
				text-align: left;
				padding: 5px;
				color: #fff;

				line-height: 17px;

				i.pending-status{
				  position: absolute;
				  bottom: 12px;
				  right: 12px;
				  z-index: 510;
				}
				i.validated-status{
				  position: absolute;
				  bottom: 12px;
				  right: 12px;
				  z-index: 510;
				}
				i.refused-status{
				  position: absolute;
				  bottom: 12px;
				  right: 12px;
				  z-index: 510;
				}
				i.periodic-status{
				  position: absolute;
                  right: 28px;
                  bottom: 15px;
				  z-index: 510;
				}
                i.suspended-status{
				  position: absolute;
				  bottom: 12px;
				  right: 12px;
				  z-index: 510;
				}

			}
		}
		.schedule-item.one{
			@include grid-cell-width(1);
		}
		.schedule-item.two{
			@include grid-cell-width(2);
		}
		.schedule-item.three{
			@include grid-cell-width(3);
		}
		.schedule-item.four{
			@include grid-cell-width(4);
		}
		.schedule-item.six{
			@include grid-cell-width(6);
		}
	}
}

calendar-daily-events{
    padding-left: 130px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    display: block;
    top: 119px;
    .days{
        position: relative;
        width: 100%;
        .day{
            width: calc(100% / 7);
            height: 40px;
            border: 1px solid #eee;
            float: left;
            box-sizing: border-box;
            background: #F7F2F2;
            position: relative;
            z-index: 1;
            .opener{
                line-height: 40px;
                text-align: center;
                color: $accent;
            }
            .daily-events{
                transform: scaleY(0);
                transition: transform 200ms ease;
                padding: 7px;
                background: #fff;
                box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
                border-radius: 5px;
                &.show{
                    transform: scaleY(1);
                }
                .item{
                    padding: 3px;
                    .content{
                        background: #fff;
                        padding: 5px;
                    }
                }
            }
        }
    }
}