.panel{
    background: url(../../img/logo-one-neo.png) no-repeat 6px 6px $primary-dark;
    background-size: 400px !important;
}

.logo {
  background: url(../../img/illustrations/logo.png) no-repeat;
  cursor: pointer;
  height: 64px !important;
  width: 206px !important;
  margin-left: 10px !important;
  background-size: contain;
}
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .logo{
    background: url(../../img/illustrations/logo.png) no-repeat;
  }
}
