<h1 class="centered-text">
  <i18n>assistant.2d.student.title.1</i18n>
</h1>
<div class="flex-row align-start justify-center centered-text apps">
  <div class="container top-spacing-four">
    <i class="userbook-large"></i>
    <p><i18n>assistant.2d.student.userbook</i18n></p>
  </div>
  <div class="container top-spacing-four">
    <i class="conversation-large"></i>
    <p><i18n>assistant.2d.student.communicate</i18n></p>
  </div>
  <div class="container top-spacing-four">
    <i class="workspace-large"></i>
    <p><i18n>assistant.2d.student.stock</i18n></p>
  </div>
</div>
