<h1 class="centered-text">Lycéen avec LEO vous pourrez...</h1>

<h4>
    Mener des projets de groupe grâce aux services collaboratifs...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">

    <div class="container">
        <i class="wiki-large"></i>
        <legend>Wiki</legend>
    </div>

    <div class="container">
        <i class="forum-large"></i>
        <legend>Forum</legend>
    </div>

    <div class="container">
        <i class="timelinegenerator-large"></i>
        <legend>Frise chronologique</legend>
    </div>

    <div class="container">
        <i class="mindmap-large"></i>
        <legend>Carte mentale</legend>
    </div>

</div>
