<h1 class="centered-text">Lycéen avec LEO vous pourrez...</h1>

<h4>
    Vous informez sur les événements de la vie lycéenne grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="actualites-large"></i>
        <legend>Actualités</legend>
    </div>

    <div class="container">
        <div class="multi-apps">
            <i class="timelinegenerator-large"></i>
            <i class="rack-large"></i>
            <i class="rbs-large"></i>
            <i class="exercizer-large"></i>
            <i class="collaborative-wall-large"></i>
            <i class="dotsx3-h"></i>
        </div>
    </div>

</div>
