.chip.selected, .sticker.app{

    &.sharebigfiles{
        background: $purple;
    }
    &.agenda{
        background: $yellow;
    }
    &.absences{
        background: $red;
    }
    &.esidoc{
        background: $purple;
    }
    &.edumedia{
        background: $cyan;
    }
    &.lesitetv{
        background: $yellow;
    }
    &.maxicours{
        background: $pink;
    }
    &.scolarite{
        background: $cyan;
    }
    &.td-base{
        background: $cyan;
    }
    &.canal-numerique{
        background: $red;
    }
    &.aide-devoirs{
        background: $green;
    }
    &.universalis{
        background: $cyan;
    }
    &.webclasseur{
        background: $cyan;
    }
    &.admission-post-bac{
        background: $red;
    }
    &.pronote{
        background: $purple;
    }
    &.cerise{
        background: $purple;
    }
    &.charlemagne{
        background: $red;
    }
    &.scolinfo{
        background: $purple;
    }
    &.paraschool{
        background: $purple;
    }
    &.vie-scolaire{
        background: $yellow;
    }
    &.pro-eps{
        background: $cyan;
    }
    &.kne{
        background: $purple;
    }
    &.picardie-cursus{
        background: $purple;
    }
    &.award{
        background: $purple;
    }
    &.bookmark-empty{
        background: $green;
    }
    &.cns{
        background: $green;
    }
    &.suitcase{
        background: $red;
    }
    &.onisep{
        background: $cyan;
    }
    &.banquesavoir{
        background: $cyan;
    }
    &.unstagepourtous{
        background: $pink;
    }
    &.bcdi{
        background: $purple;
    }
    &.ressoucesdepartementale91{
        background: $cyan;
    }
    &.assr{
        background: $red;
    }
    &.museefrancaisphoto{
        background: $purple;
    }
    &.cidj{
        background: $green;
    }
    &.onisep2{
        background: $cyan;
    }
    &.itopstore{
        background: $green;
    }
    &.cervoprint{
        background: $cyan;
    }
    &.glpi{
        background: $red;
    }
    &.elyceepicardie{
        background: $purple;
    }
    &.sacoche{
        background: $indigo;
    }
    &.planetemetierspicardie{
        background: $purple;
    }
    &.electron{
        background: $red;
    }
    &.gepi{
        background: $cyan;
    }
    &.madmagz{
        background: $yellow;
    }
    &.educagri{
        background: $purple;
    }
    &.monorientationenligne{
        background: $yellow;
    }
    &.turboself{
        background: $yellow;
    }
    &.netvibes{
        background: $green;
    }
    &.monstageenligne{
        background: $cyan;
    }
    &.matholycee{
        background: $red;
    }
    &.biblionisep{
        background: $green;
    }
    &.lesechos{
        background: $cyan;
    }
    &.edutheque{
        background: $yellow;
    }
    &.europress{
        background: $cyan;
    }
    &.picardieregion{
        background: $green;
    }
    &.lemonde{
        background: $cyan;
    }
    &.connecteurgenerique1{
        background: $cyan;
    }
    &.connecteurgenerique2{
        background: $cyan;
    }
    &.chat{
        background: $red;
    }
    &.pad{
        background: $cyan;
    }
    &.collaborativeeditor{
        background: $cyan;
    }
    &.exercizer{
        background: $purple;
    }
    &.workspace{
        background: $red;
    }
    &.news{
        background: $cyan;
    }
    &.wiki{
        background: $purple;
    }
    &.support{
        background: $green;
    }
    &.userbook{
        background: $green;
    }
    &.archive{
        background: $yellow;
    }
    &.notes{
        background: $red;
    }
    &.blog{
        background: $indigo;
    }
    &.mindmap{
        background: $cyan;
    }
    &.rack{
        background: $red;
    }
    &.community{
        background: $purple;
    }
    &.my-network{
        background: $indigo;
    }
    &.collaborative-wall, &.collaborativewall{
        background: $green;
    }
    &.pages{
        background: $red;
    }
    &.admin{
        background: $yellow;
    }
    &.rbs{
        background: $pink;
    }
    &.timelinegenerator{
        background: $yellow;
    }
    &.timeline{
        background: $indigo;
    }
    &.note{
        background: $yellow;
    }
    &.calendar{
        background: $yellow;
    }
    &.forum{
        background: $cyan;
    }
    &.poll{
        background: $cyan;
    }
    &.messagerie{
        background: $yellow;
    }
    &.stats{
        background: $purple;
    }
    &.cahier-de-texte, &.homeworks{
        background: $green;
    }
    &.scrapbook{
        background: $green;
    }
    &.scrap-book{
        background: $green;
    }
    &.schoolbook{
        background: $green;
    }
}
