
div{

    #association{
        #arrows {
            fill: $stroke-color;
        }
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
        .st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:6;
            stroke-linecap:round;
            stroke-miterlimit:10;
        }
        .st3{
            fill:$fill-color;
        }
    }

    #multiple {
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:30;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }

    #ordre{
        circle, #hand{
            fill: $stroke-color;
        }
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
        .st2{
            fill:$fill-color;
        }
    }

    #ouverte{
        #pen{
            fill:$stroke-color;
        }
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
        .st1{
            fill:$fill-color;
        }
    }

    #qcm{
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
        }
        .st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }

    #simple{
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:30;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }

    #textetrous{
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:19;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }

    #zoneselect{
        #mountain{
            fill: $stroke-color;
        }
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
        }
        .st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
            stroke-dasharray:8.4011,8.4011;
        }
        .st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
            stroke-dasharray:7.4286,7.4286;
        }
        .st3{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }

    #zonetxtselect{
        .st0{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
        }
    	.st1{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
            stroke-dasharray:8.4011,8.4011;
        }
    	.st2{
            fill:none;
            stroke:$stroke-color;
            stroke-width:8;
            stroke-miterlimit:10;
            stroke-dasharray:7.6495,7.6495;
        }
    	.st3{
            fill:none;
            stroke:$stroke-color;
            stroke-width:12;
            stroke-miterlimit:10;
        }
    }
}
