
.list-view, .share{
    tbody{
        tr{
            td.drop-line:before{
                @include fonticon;
                content: '\e866';
                color: $medium-grey;
            }
        }
        tr:hover{
            td.drop-line:before{
                color: $black;
            }
        }
        tr{
			i.history{
				@include fonticon;
				margin: 0px 3px;
			}
		  	i.history:before{
				content:'\e844';
			}
		}
    }
}

i.important {
    color: $accent;
}
//  icons for side-panel opener tool
//  delete if out from h1
i.wiki {
    display: inline-block!important;
}

i.quote, i.quote-r{
  @include fonticon;
  text-align: center;
  font-size: 16px;
}
i.quote:before, i.quote-r:before{
  content: '\e8c2';
}
i.quote-r{
    transform: rotate(180deg);
    display: inline-block;
}
.quote-block{
    i.quote, i.quote-r{
        font-size: 30px;
    }
}

i.star{
  @include fonticon;
}
i.star:before{
  content:'\e9d9';
}

i.bell{
  @include fonticon;
  text-align: center;
  color: $white;
  font-size: 20px;
  font-weight: bold;
}
i.bell:before{
  content: '\E8C9';
}
i.person{
  @include fonticon;
  text-align: center;
  font-size: 16px;
}
i.person:before{
  content: '\e905';
}
i.sad-face{
  @include fonticon;
  text-align: center;
  font-size: 16px;
}
i.sad-face:before{
  content: '\e906';
}


i.sort-asc:before{
    content: '\e924';
}
i.sort-desc:before{
    content: '\e925';
}
i.sort:before{
    content: '\e926';
}


i.arrow{
    @include fonticon;
    text-align: center;
    color: $white;
    margin-top: 2px;
    @include run-transition(all);
}
i.arrow:before{
    font-family: none; //unicode NOT from generic icon font
    content: '\25B2';
    font-size: 20px;
    font-weight: bold;
}


i.left-open{
    text-align: center;
    font-size: 14px;
    &:before{
      content: '\e87b';
    }
}

i.open-right{
    text-align: center;
    font-size: 14px;
    &:before{
      content: '\e823';
    }
}
//si pas tag i
.open-right{
    @include fonticon;
    &:before{
      content: '\e823';
    }
}

i.history{
  @include fonticon;
  text-align: center;
  font-size: 12px;
}
i.history:before{
  content: '\e844';
}

i.check-circle::before{
    content: "\e916";
}

/* UI & indication type icons */

i.conversation-large, i.type.messagerie, i.mail{
  @include fonticon;
}

i.conversation-large::before, i.type.messagerie::before, i.mail::before{
  content: "\e804";
  color: $yellow;
}


i.validated-icon-large, i.validated-icon{
  @include fonticon;
}
i.validated-icon-large::before, i.validated-icon::before{
  content: '\e871';
  color: $green;
}


i.suspended-icon-large, i.suspended-icon{
  @include fonticon;
}
i.suspended-icon-large::before, i.suspended-icon::before{
  content: '\e856';
  color: $orange;
}

i.refused-icon-large, i.refused-icon{
  @include fonticon;
}
i.refused-icon-large::before, i.refused-icon::before{
  content: '\e866';
  color: $red;
}

i.pending-icon-large, i.pending-icon, table.colored i.pending-icon{
  @include fonticon;
}
i.pending-icon-large::before, i.pending-icon::before, table.colored i.pending-icon::before{
  content: '\e85c';
  color: $purple;
}


/* main indication type icons */
i.searchengine-large, i.searchengine.cas, i.type.searchengine, i.searchengine, i.search{
  @include fonticon;
  &:before{
      content: '\e8d0';
  }
}

i.home-large, i.home.cas, i.home{
  @include fonticon;
}
i.home-large::before, i.type.home::before, i.home::before{
  content: '\e82b';
}

i.apps-large, i.apps.cas, i.apps{
  @include fonticon;
}
i.apps-large::before, i.type.apps::before, i.apps::before{
  content: '\e86c';
}

i.mail-large, i.mail.cas, i.mail{
  @include fonticon;
}
i.mail-large::before, i.type.mail::before, i.mail::before{
  content: '\e804';
}

i.download{
    //reset css-lib
    width: auto;
    height: auto;
    //for ico itself
    margin-top: -5px;
}

i.mail-in, i.download{
  @include fonticon;
  text-align: center;
}
i.mail-in:before, i.download:before{
  content: '\e83f';
  font-size: 12px;
}

i.mail-out, i.upload{
  @include fonticon;
  text-align: center;
}
i.mail-out:before, i.upload:before{
  content: '\e84e';
  font-size: 12px;
}

i.mail-new{
  @include fonticon;
  text-align: center;
}
i.mail-new:before{
  content: '\e828';
  font-size: 12px;
}

i.attachment{
    width: auto;
    height: auto;
    @include fonticon;
    &:before{
        content: '\e805';
    }
}

nav.horizontal > a{
    i.help{
        display: block;
    }

    i.help:before{
        font-size: 34px;
        line-height: 62px;
    }
}



i.disconnect-large, i.disconnect.cas, i.disconnect{
  @include fonticon;
}
i.disconnect-large::before, i.type.disconnect::before, i.disconnect::before{
  content: '\e842';
}



/* status icons */

i.globe{
  @include fonticon;
}
i.globe::before{
	content:'\E8D1';
}

i.public{
  @include fonticon;
}
i.public::before{
	content:'\e863';
}

i.prive{
  @include fonticon;
  cursor: pointer;
}
i.prive::before{
 content:'\e860';
}

i.mine{
  @include fonticon;
  cursor: pointer;
}
i.mine::before{
 content: '\e870';
}

i.pending-action{
  @include fonticon;
  cursor: pointer;
}
i.pending-action::before{
 content: '\e85c';
}

i.dates{
  @include fonticon;
  cursor: pointer;
}
i.dates::before{
  content: '\e834';
}

/* actions icons */


i.send-mail{
  @include fonticon;
  margin: 7px;
  @include run-transition(background);
}
i.send-mail::before{
  content: '\e804';
  color: $white;
}
.domino{
    i.send-mail::before{
      color: $primary;
    }
}
i.send-mail:hover{
    &::before{
        color: $accent;
    }
}
.action-item{
    i.send-mail{
        line-height: 43px;
        &::before{
            color: $primary;
        }
    }
    &:hover{
        i.send-mail{
            &::before{
                color: $accent;
            }
        }
    }
}

nav.stamps.vertical{
    article.clip.fluid{
        .bottom-locked{
            right: 0;
        }
        i.send-mail::before{
            color: $primary;
            font-size: 22px;
        }

        i.send-mail:hover{
            &::before{
                color: $accent;
            }
        }
    }
    article.clip.fluid.selected{
        i.send-mail:hover{
            &::before{
                color: $white;
            }
        }
    }
}


i.show-icons{
	@include fonticon;
	opacity: 0.2;
    margin: 0 5px;
}
i.show-icons:before{
  content: '\e837';
  font-size: 28px;
}
i.show-icons.selected{
  opacity: 0.6;
}

i.show-admin{
	@include fonticon;
 	 text-align: center;
      opacity: 0.3;
}
i.show-admin:before{
	content: '\e81a';
 	 font-size: 28px;
}
i.show-admin.selected{
  opacity: 0.6;
}

i.show-calendar{
	@include fonticon;
	opacity: 0.2;
	margin-left: 2px;
	margin-right: 2px;
	@include right-magnet;
}
i.show-calendar:before{
  content: '\e834';
  font-size: 28px;
  padding: 0 10px;
}
i.show-calendar.selected{
	opacity: 0.6;
}

i.show-details{
	@include fonticon;
	opacity: 0.2;
}
i.show-details:before{
  content: '\e86d';
  font-size: 28px;
}

//rack download
.element i.download{
    position: absolute;
    top: 15px;
    right: 15px;
    @include invert-colors();
    background-color: rgba($white, 0.5);
    background-size: 55%;
    background-position: 5px 5px;
    border: 1px solid $black;
    border-radius: 50%;

    a{
        width: 25px;
        height: 25px;
        display: block;
    }
}



//annuaire

.account{
    i.show-details, i.show-icons{
        width: 35px;
        height: 35px;
        line-height: 36px;
        margin: 0;
    }
    i.show-details + i.show-icons{
        margin-right: 10px;
        &:before{
            font-size: 43px;
        }
    }
}

i.show-details.selected{
  opacity: 0.6;
}

i.show-list{
  @include fonticon;
	opacity: 0.2;
	text-align: center;
}
i.show-list:before{
  content: '\e8bc';
  font-size: 24px;
}
i.show-list.selected{
  opacity: 0.6;
}

i.show-carousel{
	@include icon(show-carousel, 24px);
	opacity: 0.2;
	background-size: 100% 93%;
	margin-top: -4px;
}
i.show-carousel:before{
  /*attention icone en cours de création*/
}
i.show-carousel.selected{
	opacity: 0.6;
}

i.close{
	@include fonticon;
	text-align: center;
}
i.close:before{
  content: '\e866';
	font-size: 12px;
}


i.manage{
	@include fonticon;
	text-align: center;
}
i.manage:before{
    //content: '\e870'; user
    content: '\e854';
	font-size: 14px;
}

i.edit{
	@include fonticon;
	text-align: center;
}
i.edit:before{
    content: '\e858';
	font-size: 14px;
}

i.view{
	@include fonticon;
	text-align: center;
}
i.view:before{
    content: '\e873';
	font-size: 14px;
}


i.close-2x{
  @include fonticon;
  text-align: center;
  position: relative!important;
}
i.close-2x:before{
  content: '\e866';
  font-size: 16px;
}
section.lightbox-window .close-lightbox i{
  background-image: none;
}

i.tools{
	@include fonticon;
  	display: block;
    text-align: center;
    text-indent: 2px;
}

i.remove-small{
  @include fonticon;
  text-align: center;
}
i.remove-small:before{
  content: '\e866';
  font-size: 12px;
}




/* types icons */


i.file-text:before{
    content: '\e919';
}

i.file-upload{
    &:before{
        content:"\e922";
    }
}
i.file-interactive{
    &:before{
        content:"\e923";
    }
}


i.unknown-large, i.doc-large{
  @include fonticon;
  text-align: center;
}
i.unknown-large:before, i.doc-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e850';
}
i.unknown, i.doc{
  @include fonticon;
  text-align: center;
}
i.unknown:before, i.doc:before{
  font-size: 18px;
  content: '\e850';
}

i.xls-large{
  @include fonticon;
  text-align: center;
}
i.xls-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e881';
}
i.xls{
  @include fonticon;
  text-align: center;
}
i.xls:before{
  font-size: 18px;
  content: '\e881';
}

i.ppt-large{
  @include fonticon;
  text-align: center;
}
i.ppt-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e85f';
}
i.ppt{
  @include fonticon;
  text-align: center;
}
i.ppt:before{
  font-size: 18px;
  content: '\e85f';
}

i.pdf-large{
  @include fonticon;
  text-align: center;
}
i.pdf-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e857';
}
i.pdf{
  @include fonticon;
  text-align: center;
}
i.pdf:before{
  font-size: 18px;
  content: '\e857';
}

i.video-large{
  @include fonticon;
  text-align: center;
}
i.video-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e872';
}
i.video{
  @include fonticon;
  font-size: 18px;
  text-align: center;
}
i.video:before{
  content: '\e872';
}

i.word-large{
  @include fonticon;
  text-align: center;
}
i.word-large:before{
  font-size: 43px;
  display: block;
  line-height: 78px;
  content: '\e880';
}
i.word{
  @include fonticon;
  text-align: center;
}
i.word:before{
  font-size: 18px;
  content: '\e880';
}

i.folder-large{
  @include fonticon;
  text-align: center;
}
i.folder-large:before{
  content: '\e846';
  font-size: 43px;
  display: block;
  line-height: 78px;
}
i.folder{
  @include fonticon;
  text-align: center;
}
i.folder:before{
  content: '\e846';
  font-size: 18px;
}

i.zip{
  @include fonticon;
  text-align: center;
}
i.zip:before{
  content: '\e81d';
  font-size: 25px;
}
i.zip-large{
  @include fonticon;
  text-align: center;
}
i.zip-large:before{
  content: '\e81d';
  font-size: 43px;
  display: block;
  line-height: 78px;
}

i.audio{
  @include fonticon;
  text-align: center;
}
i.audio:before{
  content: '\e839';
  font-size: 25px;
}
i.audio-large{
  @include fonticon;
  text-align: center;
}
i.audio-large:before{
  content: '\e839';
  font-size: 43px;
  display: block;
  line-height: 78px;
}

i.img{
  @include fonticon;
  text-align: center;
}
i.img:before{
  content: '\e84a';
  font-size: 20px;
}
i.image::before {
    content: '\e84a';
}
i.sound::before {
    content: '\e839';
}
i.wallpaper-add, i.image-background{
    &:before{
      content: '\e929';
    }
}
i.wallpaper-remove, i.image-background-delete{
    &:before{
      content: '\e92a';
    }
}


///////////////////

i.link{
    @include fonticon;
    &:before{
        content: '\e84d';
    }
}
i.new-tab:before{
  content: '\e8aa';
}

////////logbook///////////

i.timer-off{
    &:before{
        content: '\e426';
    }
}
i.trending-up{
    &:before{
        content: '\e8e5';
    }
}
i.grades{
    &:before{
        content: '\e614';
    }
}
i.nobody{
    &:before{
        content: '\e901';
    }
}
i.dotsx3:before{
    content:"...";
}

i.dotsx3-h{
    @include fonticon;
    &:before{
        content: '\e913';
    }
}
i.dotsx3-v, dots-menu i.opener{
    @include fonticon;
    &:before{
        content: '\e912';
    }
}



.menu-items{
    i{
      background: none;
      @include fonticon;
      color: black;
    }


    i.image, input[type=button].image, input[type=button].image:hover{
      background: none;
    }
    	//i.image:before, input[type=button].image:before, input[type=button].image:before:hover{
    i.image:before, li > div.image:before{
      content: '\e84a';
      @include fonticon;
      display: block;
      position: absolute;
      line-height: 35px;
      font-size: 22px;
      color: black;
      text-align: center;
    }

    i.sound, input[type=button].sound, input[type=button].sound:hover{
      background: none;
    }
    i.sound:before, li > div.sound:before{
      content: '\e839';
      @include fonticon;
      display: block;
      position: absolute;
      line-height: 35px;
      font-size: 22px;
      color: black;
      text-align: center;
    }

    i.video{
      font-size: 20px;
      background: none;
      @include fonticon;
      text-align: left;
      color: black;
    }
    	i.video:before{
      content: '\e872';
    }

    i.grid{
      font-size: 23px;
      background: none;
      @include fonticon;
      text-align: left;
      color: black;
    }

    i.sniplet{
      font-size: 26px;
      background: none;
      @include fonticon;
      text-align: left;
      color: black;
    }
    	i.sniplet:before {
      content: '\e837';
    }

}

.schedule .schedule-items .schedule-item-content{
    i{
      @include fonticon;
    }
}



.pending-status{
  @include fonticon;
}
.pending-status:before{
  content: '\e85c';
  font-size: 16px;
  position: static!important;
}

.validated-status{
  @include fonticon;
}
.validated-status:before{
  content: '\e871';
}

.refused-status{
  @include fonticon;
}
.refused-status:before{
  content:  '\e848';
  font-size: 15px;
}

.periodic-status{
  @include fonticon;
}
.periodic-status:before{
  content: '\e844';
  font-size: 15px;
}

.suspended-status{
  @include fonticon;
}
.suspended-status:before{
  content: '\e856';
  font-size: 15px;
}


.date-picker-icon{
    a{
        i.calendar{
          @include fonticon;
		  background: none;
          box-shadow: none;
          font-size: 20px;
          opacity: 0.7;
          @include run-transition(opacity);
		}
		i.calendar:before{
  			content:'\e834';
		}
		i.calendar:hover{
			opacity: 1;
		}
    }

}


input-password{
    button{
        @include fonticon;
    }
    button::before{
		content: '\e873' !important;
    }
}

// timeline support notif avatar
i.system-avatar {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 0;
    display: block;
    background-image: url(../../img/illustrations/system-avatar.svg);
    background-position: center;
    background-size: 100%;
}




i.warning:before, i.report:before{
  content: '\e903';
  font-size: 18px;
}
i.eye-slash:before, i.discard:before{
  content: '\e904';
  font-size: 18px;
}

.eye{
  @include fonticon;
}
.eye:before{
  content: '\e873';
  font-size: 15px;
}
.down-open{
  @include fonticon;
}
.down-open:before{
  content: '\e841';
  font-size: 15px;
}
.up-open{
  @include fonticon;
}
.up-open:before{
  content: '\e840';
  font-size: 15px;
}
.angle-double-right{
  @include fonticon;
}
.angle-double-right:before{
  content: '\e8cc';
  font-size: 15px;
}
.angle-double-left{
  @include fonticon;
}
.angle-double-left:before{
  content: '\e8cd';
  font-size: 15px;
}
.doc-text{
  @include fonticon;
}
.doc-text:before{
  content: '\e850';
  font-size: 15px;
}
.check{
  @include fonticon;
}
.check:before{
  content: '\e83e';
  font-size: 15px;
}
.info-pic{
  @include fonticon;
}
.info-pic:before{
  content: '\e8bb';
  font-size: 15px;
}
.trash{
  @include fonticon;
}
.trash:before{
  content: '\e8cf';
  font-size: 15px;
}

i.add-icon{
  @include fonticon;
  color: $accent;
}
i.add-icon:before{
  content: '\e8A1';
  font-size: 25px;
}
i.add-icon:hover{
  color: $dark-accent;
}



//support messages

i.redminemsg::before {
    content: "\E8D2";
    color: $pink;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.redmineinfo::before {
    content: "\E8D3";
    color: $pink;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketmsg::before {
    content: "\F0E5";
    color: $primary-dark;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketnew::before {
    content: "\E8D3";
    color: $green;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketinfo::before {
    content: "\E8D3";
    color: $primary-dark;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.move::before, i.drag::before{
  content: '\e847';
}

i.grid {
    content: '\e90c';
}

i.add-page::before {
    content: "\e90b";
    font-size: 20px;
    display: block;
}

i.visible::before{
    content: "\e873";
}

i.copy::before, i.duplicate::before {
    content: '\e820';
}

i.hidden::before {
    content: "\e904";
}

i.right-click:before{
    content: "\e928";
}

i.text::before {
    content: 'T';
}

.sniplet {
    .carousel.workspace::before {
        content: '\e90d';
    }

    .navigation.pages::before {
        content: '\e84f';
    }

    i.sound::before {
        content: '\e839';
    }

    i.image::before {
        content: '\e84a';
    }
}

i.grid::before {
    content: '\e90c';
}

i.desktop::before {
    content: '\e92d';
}

i.leave-fullscreen::before{
  content: '\e865';
}

i.tools:before{
  content: '\e855';
  font-size: 23px;
}