
/* Homepage widgets ico */

.widgets-picker i{
  color: $white;
  @include fonticon;
  font-size: 35px;
  line-height: 55px;
}

i.my-apps-icon::before{
  content: '\e86c';
}

i.record-me-icon::before{
	content: '\e864';
}
i.notes-icon::before{
	content: '\e806';
}
i.calendar-widget-icon::before{
	content: '\e834';
}
i.last-infos-widget-icon::before{
	content: '\e85b';
}
i.rss-widget-icon::before{
	content: '\e861';
}
i.bookmark-widget-icon::before{
	content: '\e80c';
}
i.maxicours-widget-icon::before{
    content: '\e818';
	/*content: '\e825';*/
}
i.cursus-widget-icon::before{
    content: '\e921';
}
i.logbook::before, i.carnet-de-bord-icon::before{
    content: '\e902';
}


/////// WIDGETS ////////////


.last-infos-widget{
	.last-infos-config-button::before{
		@include fonticon;
        content: "\e854";
	}
}


.bookmark-widget{
      .bookmark-config-button::before{
          @include fonticon;
          content: "\e854";
      }
}

.rss-widget.widget{
    h1{
        &:before{
            color: $primary
        }
        text-align: center;

        .rss-config-button{
            @include fonticon;
            display: block;
            font-size: 30px;
            float: left;
            margin-left: 15px;
            &:hover{
                color: $accent;
            }
        }
        .rss-config-button::before {
            content: "\e854";
        }
        .rss-refresh-button{
            @include fonticon;
            display: block;
            font-size: 30px;
            float: right;
            margin-right: 15px;
            &:hover{
                color: $accent;
            }
        }
        .rss-refresh-button::before {
            content: "\e874";
        }
    }
}
