body.evaluations {
  -webkit-font-smoothing:antialiased !important;
  &.evaluations {
    .datepicker{
      z-index: 120000 !important;
    }
  }


  @media screen and (max-device-width:$fat-mobile) {
    .responsive-table table thead {
      display: none !important;
    }

    input[type=text], input[type=password], input[type=search], input[type=tel], input[type=email] {
      text-align: center !important;
    }
  }

  table thead tr, ul.list-view thead tr {
    color: #fff !important;
  }

  @media screen and (min-device-width:$tablette ) {
    .menuLeft {
      position: fixed !important;
      width: 16% !important;
      top: 140px;
      left: 0;
      padding: 0 0 0 35px;
      background: $lightest-grey;
      z-index: 1;
      height: 100%;
    }
    .custom-mobile-releve{
      display: none;
    }
  }
  .pannel-in-cell {
    margin: 10px;
    padding: 15px;
    background: #fff;
    @include box-shadow(rgba(0,0,0,0.26) 0 1px 3px);
  }


  th{
    &.colDevoir {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center !important;
    }
  }
  @media screen and (min-device-width: $tablette ) {

    .overflowXScroll {
      overflow-x: scroll !important;
    }
    .marginTopZero {
      margin-top: 0px;
    }

    .nav-releve {
      margin-top: -50px;
    }

    .tableReleves {
      overflow-x: auto;
      margin-left: 5px;
      margin-top: 5px;
      .responsive-table {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border:none;
      }
      #tableReleveStats {
        box-shadow: 0 0 0px 0 grey !important;
      }
    }

    .tableReleve {
      tr{
        display: flex !important;
        td {
          border-left: solid 1px #e0d8d8;
        }
        td.colMoyenne {
          border-right: solid 1px #e0d8d8;
        }
      }
      th.devoir-with-comp {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .colDevoir {
        width: 100px !important;
      }
      .colMoyenne {
        text-align: center !important;
      }
      .input-note {
        text-align: center;
        margin: 0 auto !important;
        width: 5em;
      }

      tbody {
        display: block;
        max-height: 410px;
        overflow-y: scroll;
        tr {
          height: 25px;
        }
      }

      thead {
        th{
          height: 15px;
        }
      }
    }
    .col1 {
      width: 200px !important;
    }
    .colMoyenne {
      width: 100px !important;
      text-align: center !important;
    }
  }
  .moyenneClasse {
    color: $primary-dark;
    font-weight: bold;
  }
  .minClasse {
    color: $red;
    font-weight: bold;
  }
  .maxClasse {
    color: $green;
    font-weight: bold;
  }
  .display-check{
    height: 24px;
    text-align: center;
  }
  .statClasse {
    box-shadow: 0 0 1px 0 grey;
    tbody{
      tr{
        &:nth-child(2n){
          background-color: rgba(0, 0, 0,0.05);
        }
        &:hover{
          background-color: rgba(0, 0, 0,0.15);
        }
      }
    }
  }
  .tableReleve {
    box-shadow: 0 0 1px 0 grey;
    tbody{
      tr{
        &:nth-child(2n){
          background-color: rgba(0, 0, 0,0.05);
        }
        &:hover{
          background-color: rgba(0, 0, 0,0.15);
        }
      }
    }
    thead{
      a{
        color: $white;
      }
    }
  }
  .ligneReleve{
    &.visible{
      &:nth-child(2n){
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
  .tableRelevePadding{
    > tbody{
      > tr{
        > td{
          padding: 0px 10px !important;
          input[type="text"]{
            width: 5em;
            text-align: center;
          }
        }
      }
    }
  }
  .input-note{
    text-align: right;
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  input[type=text]{
    &.input-note, &.input-appreciation{
      border-bottom: 1px solid rgb(75, 175, 213) !important;
      margin-bottom: 0 !important;
      padding: 0;
      &:focus {
        border-bottom: 2px solid $orange !important;
      }
    }
  }
  .input-moyenne{
    font-weight: bold;
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .menuLeftStyle {
    padding: 8px;
    border-radius: 5px;
    margin: 5px 5px 10px 5px;
  }
  .headerStyle {
    padding: 8px;
    margin-bottom: 30px;
    background: $white;
    border-radius: 5px;
  }
  .paddingHeight {
    padding: 8px;
  }
  .expandable{
    &:nth-child(2n){
      background-color: rgba(0,0,0,0.05);
    }
    &.opened{
      .plus-input{
        &::after{
          font-family: "FontAwesome";
          content: "\f068";
        }
      }
    }
    &.cell{
      &:hover{
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
  .devoir-header{
    &::after{
      content: none !important;
      clear: none !important;
    }
    .cell{
      border-left: solid 1px rgba(0, 0, 0, 0.3);
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      color: rgba(0,0,0,0.6);
      overflow: hidden;
      &:first-child{
        border-left: none;
      }
    }
  }

  .header-grade-disable {
    color: rgba(0, 0, 0, 0.2);
  }

  .grade-disable {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.2);

    > input {
      cursor: not-allowed;
      border:0px !important;
      margin:0px !important;
      background: none !important;
      height:1em;
    }
  }
  .row{
    input:not(input[type="button"]){
      height: 20px !important;
      margin-bottom: 2px !important;
    }
    .devoirs-header{
      display: block;
      background-color: $white;
      height: 45px !important;
      padding: 12px 5px;
      box-sizing: border-box;
      vertical-align: middle;
      @include transition(all 200ms ease);
      border-bottom: solid 1px $light-grey;

      &.card {
        background-color: $white;
      }
    }
  }
  .indent-five{
    text-indent: 5px;
  }
  .indent-fifteen{
    text-indent: 15px;
  }
  .coche-case{
    padding:5px 0 0 10px;
    box-sizing:border-box;
  }
  .expandable-liste{
    .expandable{
      border-bottom: solid 1px rgba(0,0,0,0.2);
      background-color: $white;
      @include transition(all 100ms ease-out);
      height: 36px;
      overflow: hidden;
      padding: 5px;
      box-sizing: border-box;

      &.opened{
        height: auto;
        z-index: 1;
        transform: scale(1.005);
        .row{
          &:first-child{
            border-bottom: solid 1px rgba(0,0,0,0.2);
          }
          &:nth-child(2){
            color: $text-light;
            text-indent: 40px;
          }
        }
      }
      &:first-child{
        //margin-top:15px;
      }
    }
    &.notes-devoir-liste{
      .expandable{
        height: auto;
      }
    }
    .expandable-content{
      padding: 0px 10px 0px 6px;
      font-size: 14px;
      > label{
        margin-top: 2px;
        display: block;
      }
    }
  }
  @media screen and (max-width: $tablette) {
    .expandable-liste{
      .expandable-content{
        padding: 0;
      }
    }

    body .two-mobile {
      padding-left: 8px;
    }

    .headerStyle {
      margin-bottom: 0;
    }

    .nav-devoirs button {
      position: inherit !important;
      bottom: 12px !important;
      right: 0 !important;
      margin: 0 !important;
    }

    button.microbox {
      float: none;
      width: 100%;
    }

    .microbox-content {
      margin: 5px auto;
      padding: 5px;

      .criterion {
        padding: 5px;
        margin:0;

        &.card {
          box-shadow: none;
        }
      }
    }

    input[type=text], input[type=password], input[type=search], input[type=tel], input[type=email] {
      margin-bottom: 2px;
    }

    button.microbox-close {
      float: none;
      width: 100%;
    }

    .microbox-content .microbox-material {
      padding-bottom: 5px;
    }


  }
  .openedEleve {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
    padding: 10px;
    z-index: 1;
    transform: scaleY(1.005);
    background: white;
  }

  .devoir .row:nth-child(3){
    color: $text-light;
    text-indent: 40px;
  }
  .col1ReleveEleve {
    width: 300px;
    vertical-align: top;
    border-right: 1px solid $medium-grey;
  }
  .colMoyenneReleveEleve {
    width: 100px;
    border-left: 1px solid $medium-grey;
  }
  .noteDevoir {
    padding: 5px;
    background-color: $cyan;
    margin: 5px;
    border-radius: 5px;
    color: $white;
    position: relative;
    width: auto;
    min-height: 50px;
    min-width: 70px;
    white-space: nowrap;
  }
  .gradetooltip{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
  }

  .tooltip{
    .content{
      >	p{
        margin: 0;
        padding: 0;
      }
    }
  }
  .noteMoyenne {
    color: $primary-dark;
  }
  .alignCenterVertically {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
  .notesDevoir {
    display: inline-flex;
    height: 100%;
  }
  .moyenneGenerale {
    padding: 5px;
  }
  .nomEnseignant {
    text-transform: capitalize;
    font-style: italic;
    font-weight: lighter;
  }
  .alignMatiere {
    margin-top: 5px;
    display: block;
    font-weight: 500;
  }
  .ligneReleve {
    height: 4.5em;
  }
  .center {
    text-align: center;
  }
  .buttonHeader{
    .button{
      margin-left: 15px !important;
      margin-bottom: 15px !important;
      &:first-child{
        margin-left: 0px !important;
      }
    }
  }
  .shadow{
    @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.35));
  }
  .criteres{
    &.opened{
      height: 180px;
    }
  }
  .criteres, .statistiques-devoir, .detail-devoir, .student-info, .devoir-info{
    position: relative;
    .plus-input{
      right: 5px;
      position: absolute;
      top: 11px;
      &::after{
        content: "\f067";
        font-family: 'FontAwesome';
        font-size: 15px;
        color: $grey;
        font-weight: 300;
        opacity: 0.8;
        cursor: pointer;
        border: none;
        background-color: inherit;
      }
      &:hover::after{
        color: $cyan;
      }
      &::after{
        content: "\f068";
      }
    }
  }
  .criteres, .statistiques-devoir, .detail-devoir, .devoir-info{
    height: 25px;
    overflow: hidden;
    @include transition(all 100ms ease-out);
  }
  .fiche{
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px !important;
    background-color: $white;
    position: relative;
    &.student-info, &.devoir-info{
      height: 40px;
      overflow: hidden;
      @include transition(all 100ms ease-out);
      &.opened{
        min-height: 100px;
        height: auto;
      }
    }
    &.student-info{
      h2{
        color: $grey;
        line-height: 37px;
      }
    }
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    > div{
      padding: 0 10px;
    }
    .head{
      padding: 3px;
      text-align: left;
      margin: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #fff;
      text-indent: 7px;
      color: $cyan;
      width: 80%;
    }
  }
  .datepicker{
    z-index:10002 !important;
    table {
      line-height: 24px !important;
    }
  }
  h1, h2, h3, h4, h5{
    > span{
      font-style: italic;
    }
  }
  .header-opt{
    font-style: italic;
    font-weight: bold !important;
  }
  .controls-fixed{
    background-color:rgba(0, 0, 0, 0.1);
    bottom:0;
    left:0;
    padding:10px 15px;
    position:fixed;
    top:auto;
    width:100%;
  }
  .imgEleve{
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    img{
      width: 40%;
    }
  }
  .close-input{
    right: 18px;
    position: absolute;
    top: 5px;
    &::after{
      content: '\f00d';
      font-family: 'FontAwesome';
      font-size: 15px;
      color: $grey;
      font-weight: 300;
      opacity: 0.8;
      cursor: pointer;
      border: none;
      background-color: inherit;
    }
    &:hover::after{
      color: $cyan;
    }
  }
  .header-fixed{
    position: fixed;
    top: 64px;
    width: 100%;
    background: $lightest-grey;
    height: 95px;
    padding: 0;
    line-height: 88px;
    z-index: 2;
    text-indent: 4px;
    margin-left: 15px;
  }
  .absolute-button-header-releve{
    position: absolute !important;
    right: 1%;
    top: 34px;
  }
  .header-outter-fixed{
    padding: 74px 0 0 0;
    position: relative;
    display: block;
  }
  .detail-devoir{
    &.opened{
      min-height: 100px;
      height: auto;
    }
  }
  .statistiques-devoir{
    &.opened{
      height: 152px;
    }
  }
  .children-list{
    text-align: center;
    .dominos{
      margin-bottom: 0px !important;
      text-align: center;
      .item{
        float: none !important;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  .lightbox-parent{
    section{
      &.ligtbox{
        > div{
          &.content{
            width: 400px;
          }
        }
      }
    }
  }
  .print-icon {
    font-size: 1.5em;
    padding: 6px 8px;
    display: inline-block;
    position: relative;
    margin: 5px 0;
    &::before{
      font-family: "FontAwesome";
      content : "\f02f";
      margin-right: -10px;
    }
  }
  .ul-competences{
    list-style-type: none;
    li{
      padding: 5px;
    }
  }
  .ul-domaines{
    margin-top: 20px;
  }
  /**
      DIRECTIVE COLOR COMPETENCE
  **/
  .green{background-color: $green !important;}
  .yellow{background-color: $yellow !important;}
  .orange{background-color: $orange !important;}
  .red{background-color: $red !important;}
  .grey{background-color: $grey !important;}
  .suivi-proportion{
    height: 20px;
    display: inline-block;
    @include transition(all 200ms ease);
  }
  .competence-color{
    display: inline-block;
    padding: 15px 0px 10px 35px;
    position: relative;
    overflow: hidden;
    min-width: 165px;
    width: auto;
    max-width: 1000px;
    white-space: nowrap;
    text-indent: 0;
    border: solid 1px rgba(0, 0, 0, 0);
    @include transition(all 200ms ease);
    background-color: transparent !important;
    float: left;
    &:hover{
      border: solid 1px rgba(0, 0, 0, 0.3);
    }
    &.opened{
      > .skills-text-overflow{
        &::before{
          content: "\f0d7";
        }
      }
    }
    > .skills-text-overflow{
      &::before{
        font-family: "FontAwesome";
        content: "\f0da";
        /*left: 0px;*/
        /*position: absolute;*/
        @include transition(all 200ms ease);
        position: absolute;
        left: 10px;
        top: 15px;
      }
    }
  }
  .competence-color-header{
    display: inline-block;
    padding: 10px 50px 10px 0px;
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: 320px;
    white-space: nowrap;
    text-indent: 0;
    border: solid 1px rgba(0, 0, 0, 0);
    @include transition(all 200ms ease);
    background-color: transparent !important;
    float: none;
    &:after{
      top: 17px;
      right: 65px;
    }
  }
  .competence-color, .competence-color-header{
    &:after{
      content : "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;;
      background-color: #000;
      right: 20px;
      top: 19px;
      cursor: pointer;
      @include transition(all 200ms ease);
    }
    > span{
      &.competence-vignette{
        padding: 0 50px 0 0;
        position: relative;
        cursor: pointer;
        border: solid 1px transparent;
        border-radius: 2px;
        @include transition(all 200ms ease);
        width: 100%;
        display: inline-block;
        overflow: hidden;
        z-index: 2;
      }
    }
    &.grey{
      &:after{
        background-color: $grey !important;
      }
    }
    &.green{
      &:after{
        background-color: $green !important;
      }
    }
    &.yellow{
      &:after{
        background-color: $yellow !important;
      }
    }
    &.orange{
      &:after{
        background-color: $orange !important;
      }
    }
    &.red{
      &:after{
        background-color: $red !important;
      }
    }
  }
  .competence-text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .competence-eye{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 5px;
    cursor: zoom-in;
    &:hover{
      height: 100%;
      ~ .competence-text-overflow{
        > .competence-nom{
          white-space: normal;
        }
      }
    }
  }
  .rounded-color-vignette{
    top: 9px;
    right: -10px;
  }
  .rounded{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    @include transition(all 200ms ease);

    &:focus {
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      outline: none;
    }
  }
  .competence-color-popup-close{
    position: absolute;
    left: 3px;
    top: 0;
    text-align: center;
    cursor: pointer;
  }
  .tooltip-overlay{
    position: absolute;
    width: 43px;
    height: 34px;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  .competence-color-popup{
    position: absolute;
    left: 0;
    top: 400px;
    border-radius: 2px;
    background-color: $white;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    @include transition(all 200ms ease);
    &.opened{
      top: 0;
    }
    h4{
      margin: 0;
      padding: 10px;
    }
    > h4 {
      &:first-child{
        border-bottom: solid 1px rgba(0,0,0,0.3);
      }
      &:last-child{
        border-top: solid 1px rgba(0,0,0,0.3);
      }
    }
  }
  .color-list{
    min-width: 200px;
    max-width: 300px;
    text-indent: 0;
    text-align: center;
    ul{
      width: 90%;
      padding: 15px 0;
      margin: 0 0 0 5%;
      height: 30px;
      li{
        display: inline-block;
        list-style-type: none;
        width: 23%;
        text-align: center;
        height: 30px;
        cursor: pointer;
        position: relative;
        .rounded{
          >.rounded{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 20px;
            height: 20px;
          }
        }
        &:hover{
          .rounded{
            > .rounded{
              opacity: 0.25;
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
  .skills-h4{
    margin: 0;
  }
  .competence-nom{
    width: 95%;
    display: block;
    overflow: hidden;
  }
  /***
                      DIRECTIVE COLOR SKILLS LIST : cColorSkillsList
  ***/

  /***
                      DIRECTIVE SKILLS LIST
  ***/
  .skills-list{
    width: 90%;
    margin-left: 5%;
    list-style-type: none;
    padding: 0;
    ul{
      list-style-type: none;
      padding: 0;

    }
    li{
      position: relative;
    }
  }
  @media screen and (min-width: $tablette){
    .skills-list{
      ul{
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
  }


  .skills-header{
    cursor: pointer;
    @include transition(all 200ms ease);
    &.skill-50{
      height: 50px;
      overflow: hidden;
    }
    &.skill-30{
      height: 30px;
      overflow: hidden;
    }
    &.skill-40{
      height: 40px;
      overflow: hidden;
    }
    &.opened{
      height: auto;
      overflow: visible;
      @include transition(all 200ms ease);
      > .skills-text-overflow{
        &::before{
          content: "\f0d7";
        }
      }
    }
    > span{
      padding: 10px 35px 10px 50px;
      border-bottom: solid 1px #e0e0e0;
      display: block;
      cursor: pointer;
      &.skills-teach{
        padding: 10px 35px 20px 20px;
      }
    }
    > .skills-text-overflow{
      &::before{
        font-family: "FontAwesome";
        content: "\f0da";
        left: 0px;
        position: absolute;
        @include transition(all 200ms ease);
        font-size: larger;
      }
    }
  }
  .skills-text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    @include transition(all 200ms ease);
  }
  .skills-list-connaissance{
    margin: 10px 5px 0 45px;
    cursor: pointer;
    padding: 0 0 0 15px;
  }
  .skills-checkbox{
    left: 30px;
    position: absolute;
    top: 9px;
  }
  .skills-headers-checkbox{
    left: 20px;
  }
  .skill-connaissance-eye{
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 0px;
    color: $grey;
    cursor: zoom-in;
    @include transition(all 200ms ease);;
    &:before {
      padding: 6px;
    }
    &:hover{
      color: rgba(0,0,0,1);
      ~ .skills-text-overflow{
        white-space: normal;
      }
    }
  }

  .skills-label{
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
  }
  /**
          DIRECTIVE SKILLS COLOR PAGE
  **/
  .skills-color-page{
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 0.2%;
    top: 136px;
    li{
      display: inline-block;
      height: 34px;
      width: 43px;
      position: relative;
      > .rounded, > .rounded > .rounded{
        position: absolute;
        left: 0;
        top:0;
      }
    }
  }
  .grey-skill-page {
    background-color: $grey!important;
  }

  .skills-color-column {
    list-style-type: none;
    padding: 0px 0px 0px 9px !important;
    margin: 0;
    li{
      display: inline-block;

      label.checkbox {
        text-indent: 0;
        display: block;
        height: 20px;
        width: 30px;
      }
    }
  }

  .compselected {
    transform: scale(1.3);
    box-shadow: 1px 2px 3px grey;
  }
  .skills-eleve-list{
    list-style-type: none;
    padding: 0;
    margin: 3px;
    height: 20px;
    li {
      display: inline-block;
      height: 20px;
    }
  }
  .devoir-icons-view{
    text-align: center;
    .devoir-icons-element{
      display: inline-block;
      float: none;
      transition: all 0.2s ease-in-out;
      min-height: 190px;
      height: auto;
      margin: 10px;
      border-radius: 7px;
      min-width: 280px;
      max-width: 280px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 1px 2px rgba(0,0,0,0.24);
      &:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .devoir-icons-container {
        background: $white none repeat scroll 0 0 ;
        border : 1px solid transparent;
        box-sizing: border-box;
        display: block;
        transition: all 0.2s ease-in-out;
        float: none;
        min-height: 190px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 7px;
        text-align: left;
        padding: 24px 8px;
        position: relative;
        overflow: hidden;
      }
    }
  }
  .devoir-icons-name{
    font-weight: 300;
    font-size: 20px;
  }
  .devoir-icons-description{
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 23px;
    font-style: italic;
  }
  .devoir-icons-checkbox{
    top: 15px;
    position: absolute;
    right: 10px;
    z-index: 2;
    > footer{
      font-weight: 500;
      > .devoir-icons-coef{
        float: right;
      }
    }
    > header, > footer{
      display: block;
      width: 100%;
      min-height: 20px;
      padding: 5px 0;
      > .devoir-icons-date, > .devoir-icons-class{
        float: left;
      }
    }
  }
  .releve-coef {
    display: block;
  }
  .nav-devoirs{
    //position: fixed !important;
    width: 96% !important;
    //height: 146px;
    background-color: $lightest-grey;
    z-index: 3;
    //margin-bottom: 25px;
    top:0;
    button {
      position: absolute;
      bottom: 21px;
      right: 90px;
      margin: 0;
    }
  }
  .button-devoir{
    margin-left: 0;
  }
  .text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .devoir-percent{
    background-color: $cyan;
    height: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header-releve{
    nav{
      margin-right: 50px;
      .button{
        margin-left: 10px;
      }
    }
  }
  .releve-header-content{
    width: 95%;
    padding-left: 0;
    margin-left: 0;
    left: 0;
  }
  .nav-buttons{
    width: 100%;
    > button{
      width: 100%;
      top: 20px;
    }
  }
  .header-notes{
    > h2{
      text-align: left;
      margin: 0;
      display: block;
      width: 100% !important;
    }
  }
  .headerReleve {
    width: 100% !important;
    text-align: left;
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    > h1{
      font-size: 25px;
    }
  }
  .switch-view-buttons{
    position: absolute !important;
    bottom: 20px;
    right: 1%;
  }
  //.list-devoirs{
  //    margin-top: 60px;
  //}
  .notes-help{
    .legend {
      > ul{
        list-style-type: none;
        margin: 0;
        > li{
          position: relative;
          text-indent: 15px;
          margin: 15px;
          > .rounded{
            position: absolute;
            left: -15px;
            &::before{
              /*content: counter(step-counter)".";*/
              content : " ";
              font-weight: 400;
              color: #444;
              opacity: 0.8;
              position: absolute;
              left: 0;
              font-size: 17px;
            }
          }
        }
      }
    }

    > .eleven{
      margin-left: 4%;
      > h4{
        border-bottom: solid 1px rgba(0,0,0,0.15);
        font-weight: 400;
        text-indent: 15px;
      }
    }
  }

  @media screen and(min-width: $tablette) {
    .addRemplacement {
      .addRemplacementTable {
        padding: 15px 40px;

        .addRemplacementTable__libelle {
          text-align: right;
          text-align-last: right;
          padding-right: 10px;
          padding-top: 10px;
          padding-top: 10px;
        }
      }

      .listRemplacementsTable {
        margin:auto;
      }
    }
  }

  @media screen and(min-width: $tablette) {
    .addDevoir {
      .skills-list {
        margin: 0 0 0 5% !important;
        width: 95% !important;
      }

      .selectable-list {
        margin-top: 3%;
      }

      .fixed-top-right {
        position: fixed;
        right: 15px;
        top: 135px;
        max-height: 80%;
        overflow: auto;
      }

      .margin-left {
        margin: 10px 0;
      }
    }


    .addDevoirTable{
      padding: 15px 40px;

      .addDevoirTable__libelle {
        text-align: right;
        text-align-last: right;
        padding-right: 10px;
        padding-top: 10px;
        padding-top: 10px;
      }

    }

  }

  .button-add-devoir{
    margin-left: 10px !important;
    height: auto !important;
  }

  .button-edit-devoir {
    position: fixed !important;
    right: 1%;
    top: 85px;
  }

  .button-edit-devoir-not-fixed {
    margin-top: -18px !important;
  }

  .button-fixed-top-right {
    position: fixed !important;
    right: 1.5%;
    top: 90px;
  }

  .devoir-recapitulatif {
    i18n.bold {
      width: 50% !important;
      display: inline-block;
    }
  }
  .devoir-recapitulatif i18n.bold {
    width: 50% !important;
    display: inline-block;
  }

  .devoir-skills-list{
    padding: 0;
    list-style-type: none;

    .skills-list-connaissance {
      margin: 10px 5px 0 -10px !important;
    }
  }

  .criterion {
    background: $white;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;

    select {
      width: 100%;
      border: solid 1px;
      border-radius: 2px;
      cursor: pointer;
      background: transparent;
    }

    .header {
      h2 {
        color : $grey;
        margin-top: 0;
      }
    }
  }

  .criterion-fixed{
    position: fixed !important;
    top: 144px !important;
  }
  .fixed-container{
    left: 17.66% !important;
  }
  .devoir-with-comp {
    border-bottom: solid 4px $orange !important;
  }
  .resume-competence {
    color: $orange;
    padding: 0 10px;
  }

  i.show-chart{
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after{
      content:"\e810";
    }

    &.selected{
      opacity: 0.6;
    }
  }

  i.show-suivi-eleve{
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after{
      content:"\e824";
    }

    &.selected{
      opacity: 0.6;
    }
  }

  i.show-bilan-eleve{
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after{
      content:"\e8b8";
    }

    &.selected{
      opacity: 0.6;
    }
  }

  i.show-bilan-fin-cycle{
    @include fonticon;
    font-size: 24px;
    opacity: 0.2;

    &::after{
      content:"\e8b3";
    }

    &.selected{
      opacity: 0.6;
    }
  }

  i.icon-back{
    @include fonticon;

    &::after{
      content:"\e84c";
    }

    margin-right: 15px;
  }

  i.icon-chat {
    @include fonticon;

    &::after {
      content : "\e817";
    }
  }

  .appreciation {
    color: $orange;
  }

  .add-appreciation {
    color: $shadow;
    cursor: pointer;
    @include transition(all 200ms ease);

    &:hover {
      color: $grey;
    }

    float: right;
    margin-right: 10px;
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }

  .show-appreciation {
    height:2em;
  }

  .hide-appreciation {
    height: 0;
  }

  .recap-liste-competence-container {
    position: fixed;
    right: 1%;
    top: 170px;
    height: 77%;
    overflow: auto;
  }

  .recap-liste-competence {
    padding: 15px;
    .competence {
      @include transition(all 200ms ease);
      list-style-type: none;
      padding: 5px;
      margin: 0;
      border-bottom: solid 1px $light-grey;

      &:last-child {
        border-bottom: none;
      }

      &.highlighted {
        background-color: $cyan;
        color: $white;
        font-weight: bold;
      }
    }
  }

  .content-suivi-eleve {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    overflow : hidden;

    .suivi-eleve-ctl {
      background-color: $white;
      min-height: 95px;
      border-bottom: solid 1px $primary-dark;
    }

    .suivi-eleve-slider {
      width: 200%;
    }

    i.show-chart{
      margin-right: 15px;
    }

    i.show-suivi-eleve{
      margin-right: 15px;
    }

    i.show-bilan-eleve{
      margin-right: 15px;
    }

    i.show-bilan-fin-cycle{
      margin-right: 15px;
    }

    i.icon-back{
      font-size: 24px;
    }

    .suivi-eleve, .detail-competence {
      float: left;
    }

    .classe-view {
      .border-green{
        border: solid 3px $green;
      }
      .border-yellow{
        border: solid 3px $yellow;
      }
      .border-orange{
        border: solid 3px $orange;
      }
      .border-red{
        border: solid 3px $red;
      }
      .border-grey{
        border: solid 3px $grey;
      }

      .dominos {
        .item {
          .domino {
            transition: all 0.2s ease-in-out;

            &:hover {
              box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }
            .bottom {
              padding: 0px 10px 85% 10px;
            }
          }
        }
      }
    }

    .suivi-eleve {
      margin-right: 15px;
      @include transition(all 200ms ease-out);

      &.slide {
        margin-right: 0;
        margin-left: -100%;
      }

      .competence-line {
        white-space: nowrap;
      }

      .align-top {
        vertical-align: top;
      }

      .competence {
        white-space: inherit;
      }

      .suivi-eleve-item {
        height: 30px;
      }

      .content-bilan-eleve {
        .moyenne {
          text-align: right;
        }

        .padding-left {
          padding-left: 3em;
        }
      }

      .content-bilan-fin-cycle {
        .domaine-display {
          padding: 23px 0;
        }

        .domaine-line{

          &::after{
            content: ' ';
            display: block;
            clear: both;
          }
        }
      }
    }

    .detail-competence {

      .addDevoirTable__libelle {
        padding-right: 2px;
      }

      h2 {
        margin: 0 auto;
      }

      .detail {
        width: 100%;
        overflow: auto;
        &.table-view, &.graph-view {
          table {
            margin: 50px auto;
          }
        }

        &.graph-view {
          table {

            tr {
              border-top: solid 1px transparent;

              &:hover {
                background: none;
              }

              &:last-child {
                border-top: solid 1px $grey;
              }

              td {
                &:nth-child(1) {
                  border-right: solid 1px $grey;
                }
              }
            }
          }

          .reversed {
            transform: rotate(-45deg);
            display: block;
            margin-top: 20px;
          }
        }
      }
    }
  }

  .selectable-filter-list {
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px;

      .rounded{
        opacity: 0.45;
        &.selected {
          opacity: 1;
        }
      }
    }
  }


  .indent-eight{
    padding-top:8px;
  }

  .graphe-widget{
    height:240px !important;

  }
  .RechercheAcceuil{
    margin-left: 60px !important;
  }

  .RechercheSuiviEleve{
    margin-left: 8.3% !important;
    width: 83.5%;

  }
  .detail{

    .info{
      margin-left: 8.5%!important;
    }

  }
  .headerAccueil{
    margin-left: 4%;
  }

  .openedSectionDom{
    height: 0 !important;
    overflow: hidden!important;

  }

  .Domaine{
    &::before {
      font-family: "FontAwesome";
      margin-right: 0.5%;
      content: "\f0d7";
    }
    &.openedDom {
      &::before {
        margin-right: 1%;
        content: "\f0da";
      }
    }
  }

  .rounded{
    &.filterSpan{
      opacity: 0.45;
      &.selectedFilterGrey {
        opacity: 1;
      }
    }
  }


  .chartSuiviEleve{
    //width : 90% !important;
    //height: 90% !important;
    margin: 2%;
  }

  .conversion-legend.bfc {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      height: 50px;

      div{
        vertical-align: top;
        height: 100%;
        position: relative;

        &:nth-child(1) {
          width: 50px;
          text-align: right;
        }

        .maxval{
          position: absolute;
          top: -10px;
          right: 10px;
        }

        .last-minval {
          position: absolute;
          right: 10px;
          bottom: -5px;
        }

        .libelle {
          height: 50px;
          display: block;
          line-height: 50px;
          text-indent: 10px;
        }
      }
    }

    .legend-line{
      position: relative;

      .tick {
        width: 13px;
        height: 1px;
        display: block;
        position: absolute;
        left: -5px;
        z-index: 10;
        background-color: $black;

        &.first-tick{
          top: 0;
        }
      }

      &::before{
        content: ' ';
        width: 3px;
        height: 100%;
        display: block;
      }

      &.green{
        &:before{
          background-color: $green;
        }
      }
      &.orange{
        &:before{
          background-color: $orange;
        }
      }
      &.yellow{
        &:before{
          background-color: $yellow;
        }
      }
      &.red{
        &:before{
          background-color: $red;
        }
      }
    }
  }
}
