@mixin box-shadow($in) {
  box-shadow: $in;
  -moz-box-shadow: $in;
  -o-box-shadow: $in;
  -webkit-box-shadow: $in;
}

@mixin box-shadow2($in, $in2) {
  box-shadow: $in, $in2;
  -moz-box-shadow: $in, $in2;
  -o-box-shadow: $in, $in2;
  -webkit-box-shadow: $in, $in2;
}

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin keyframes($animationName){
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animation){
  animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
}

