:root {
  --ode-border-color-translucent: rgba(0, 0, 0, 0.175);
}
.popover {
  --ode-popover-zindex: 1070;
  --ode-popover-max-width: 276px;
  --ode-popover-font-size: 14px;
  --ode-popover-bg: #fff;
  --ode-popover-border-width: 1px;
  --ode-popover-border-color: var(--ode-border-color-translucent);
  --ode-popover-border-radius: 12px;
  --ode-popover-inner-border-radius: calc(12px - 1px);
  --ode-popover-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  --ode-popover-header-padding-x: 10px;
  --ode-popover-header-padding-y: 6px;
  --ode-popover-header-font-size: 16px;
  --ode-popover-header-color: ;
  --ode-popover-header-bg: #f0f0f0;
  --ode-popover-body-color: #4a4a4a;
  --ode-popover-arrow-width: 10px;
  --ode-popover-arrow-height: 5px;
  --ode-popover-arrow-border: var(--ode-popover-border-color);
  --ode-popover-border-color: #fafafa;
  --ode-popover-body-padding-x: 12px;
  --ode-popover-body-padding-y: 8px;
  --ode-popover-max-width: 250px;
  --ode-popover-footer-color: #4a4a4a;
  --ode-popover-header-bg: transparent;
  --ode-popover-header-color: #4a4a4a;
  display: none;
  opacity: 0;
  width: var(--ode-popover-max-width);
  z-index: var(--ode-popover-zindex);
  max-width: var(--ode-popover-max-width);
  font-family: var(--ode-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
  font-size: var(--ode-popover-font-size);
  word-wrap: break-word;
  background-color: var(--ode-popover-bg);
  background-clip: padding-box;
  border: var(--ode-popover-border-width) solid var(--ode-popover-border-color);
  border-radius: var(--ode-popover-border-radius);
}

.popover-body {
  padding: var(--ode-popover-body-padding-y) var(--ode-popover-body-padding-x);
  color: var(--ode-popover-body-color);

  img {
    max-width: 100%;
  }
}

.popover::before {
  content: "▲";
  position: absolute;
  top: -20px;
  left: 50%;
  z-index: 0;
  display: block;
  width: 20px;
  font-family: none;
  font-size: 20px;
  color: #fff;
  transform: translateX(-50%);
}

.popover::after {
  display: none;
}

.popover-footer {
  color: var(--ode-popover-footer-color);
}

.popover-trigger:hover .popover {
  display: block;
  opacity: 1;
}

.bookmarked-app {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: 0 1 74px;
  height: 74px;
  aspect-ratio: 1/1;
  font-size: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.4s;
  transition-property: border-color;
}

@media (hover: hover) {
  .bookmarked-app:hover {
    border-color: #f2f2f2;
  }
}

@media (min-width: 800px) {
  .header.no-1d .collapse:not(.show) {
    display: inline-flex;
  }
}

@media (min-width: 800px) {
  .header .container-fluid,
  .header .container-sm,
  .header .container-md,
  .header .container-lg,
  .header .container-xl,
  .header .container-xxl {
    padding-inline: 0;
  }
}

.header * {
  box-sizing: border-box;
}

.header .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar-title {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .navbar {
  --ode-navbar-padding-y: 0;
  width: 100%;
  background: linear-gradient(to bottom, $primary, darken($primary, 5%));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  height: auto;
}

.header .navbar .container {
  padding-top: 0;
  padding-bottom: 0;
}

.header .navbar .navbar-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.header .navbar .navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.header .navbar .navbar-brand {
  --ode-navbar-brand-padding-y: 0;
  --ode-navbar-brand-padding-x: 0;
  --ode-navbar-brand-margin-end: 0;
}

.header .navbar .navbar-brand .logo {
  margin-block: 0;
  height: 30px;
  object-fit: contain;
  object-position: left;
}

@media (min-width: 800px) {
  .header .navbar .navbar-nav {
    margin-right: 2rem !important;
  }

  .header .navbar .navbar-brand {
    padding: 0;
    margin-right: 0;
  }

  .header .navbar .navbar-brand .logo {
    display: inline-block;
    height: 52px;
  }
}

.header .nav-item {
  list-style: none;
}

.header {
  @media only screen and (max-width: 800px) {
    position: fixed;
    top: 0;
    z-index: 99999999;
    left: 0;
    right: 0;

    & + .centered.container.row {
      padding-top: 40px;
    }
  }

  .nav-link {
    display: block;
    padding: var(--ode-nav-link-padding-y) var(--ode-nav-link-padding-x);
    font-size: var(--ode-nav-link-font-size);
    font-weight: var(--ode-nav-link-font-weight);
    color: var(--ode-nav-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
}

.header .navbar .nav-link {
  display: block;
  align-self: self-end;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 0;
}

.header .navbar .nav-link:hover {
  border-bottom: 3px solid #ff8d2e;
}

.header .navbar .nav-link:not(.dropdown-item) .nav-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.header .navbar .nav-link .badge {
  --ode-badge-padding-x: 0.55em;
  --ode-badge-padding-y: 0.35em;
  //--ode-badge-font-size: 0.55em;
  right: 0;
  top: 4px;
  background-color: #f59700 !important;
}

.header .btn-naked {
  all: unset;

  &:before {
    display: none;
  }
}

.header .dropdown {
  position: relative;
}

@media (min-width: 800px) {
  .header .navbar .nav-link .badge {
    top: 12px;
  }
}

.header .navbar .nav-link > svg {
  display: block;
}

@media (min-width: 800px) {
  .header .navbar .nav-link {
    padding: 16px 8px;
  }

  .header .navbar .nav-link > svg {
    width: 32px;
    height: 32px;
  }

  .header .navbar .nav-link .ic-help {
    font-size: 32px;
  }
}

.header .navbar .dropdown-menu {
  --ode-dropdown-padding-y: 0;
  --ode-dropdown-font-size: 12px;
  padding: 0;
  position: absolute;
}

.header .dropdown-item:hover,
.dropdown-item:focus {
  color: var(--ode-dropdown-link-hover-color);
  background-color: var(--ode-dropdown-link-hover-bg);
}

.header .navbar .dropdown-menu .icon {
  color: #4a4a4a;
  width: 16px;
  height: 16px;
}

@media (max-width: 767.98px) {
  .header .navbar .dropdown-menu .dropdown-item {
    padding: 5px;
    display: flex;
    gap: 8px;
    border-bottom: 0;
  }
}

.header .dropdown-menu.show {
  display: block;
}

.header .dropdown-menu {
  --ode-dropdown-zindex: 1000;
  --ode-dropdown-min-width: 100%;
  --ode-dropdown-padding-x: 0;
  --ode-dropdown-padding-y: 0.5rem;
  --ode-dropdown-spacer: 0.125rem;
  --ode-dropdown-font-size: 1.6rem;
  --ode-dropdown-color: #4a4a4a;
  --ode-dropdown-bg: #fff;
  --ode-dropdown-border-color: var(--ode-border-color-translucent);
  --ode-dropdown-border-radius: 0.8rem;
  --ode-dropdown-border-width: 1px;
  --ode-dropdown-inner-border-radius: calc(0.8rem - 1px);
  --ode-dropdown-divider-bg: var(--ode-border-color-translucent);
  --ode-dropdown-divider-margin-y: 0.5rem;
  --ode-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --ode-dropdown-link-color: #909090;
  --ode-dropdown-link-hover-color: black;
  --ode-dropdown-link-hover-bg: rgba(42, 156, 200, 0.1);
  --ode-dropdown-link-active-color: #fff;
  --ode-dropdown-link-active-bg: #2a9cc8;
  --ode-dropdown-link-disabled-color: #c7c7c7;
  --ode-dropdown-item-padding-x: 1rem;
  --ode-dropdown-item-padding-y: 0.25rem;
  --ode-dropdown-header-color: #b0b0b0;
  --ode-dropdown-header-padding-x: 1rem;
  --ode-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--ode-dropdown-zindex);
  display: none;
  min-width: var(--ode-dropdown-min-width);
  padding: var(--ode-dropdown-padding-y) var(--ode-dropdown-padding-x);
  margin: 0;
  font-size: var(--ode-dropdown-font-size);
  color: var(--ode-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--ode-dropdown-bg);
  background-clip: padding-box;
  border: var(--ode-dropdown-border-width) solid
    var(--ode-dropdown-border-color);
  border-radius: var(--ode-dropdown-border-radius);
}

@media (min-width: 800px) {
  .header .navbar .dropdown-menu {
    --ode-dropdown-padding-y: 0;
    --ode-dropdown-padding-x: 0;
    --ode-dropdown-border-width: 0;
    --ode-dropdown-box-shadow: none;
    --ode-dropdown-bg: transparent;
    display: flex;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }

  .header .navbar .dropdown-menu .icon {
    color: #fff;
    width: 32px;
    height: 32px;
  }

  .header .navbar .dropdown-menu .nav-text {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

@media (max-width: 767.98px) {
  .header .navbar .dropdown-menu .popover {
    display: none !important;
  }

  .header .navbar .dropdown-menu .avatar {
    --ode-avatar-size: 20px;
  }
}

.header .navbar .dropdown-divider {
  --ode-dropdown-divider-margin-y: 0;
  padding: 0;
  height: 0;
  margin: var(--ode-dropdown-divider-margin-y) 0;
  overflow: hidden;
  border-top: 1px solid var(--ode-dropdown-divider-bg);
  opacity: 1;
}

.header .navbar .dropdown-menu-end {
  right: 0;
}

.header .position-relative {
  position: relative;
}

.header .position-absolute {
  position: absolute;
}

.top-100 {
  top: 100%;
}

.start-50 {
  left: 50%;
}

.translate-middle-x {
  transform: translateX(-50%);
}

.header .ic-help {
  color: $white;
  font-size: 24px;
}

.header .search {
  margin: 0;
}

.header .avatar {
  --ode-avatar-size: 80px;
  --ode-avatar-svg-size: 50px;
  --ode-avatar-bg-color: #fff;
  background-color: var(--ode-avatar-bg-color);
  border-radius: 8px;
  overflow: clip;
  width: var(--ode-avatar-size);
  height: var(--ode-avatar-size);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.header .avatar.avatar-sm {
  --ode-avatar-size: 32px;
  --ode-avatar-svg-size: 24px;
}

.header .avatar > img {
  object-fit: cover;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.header .rounded-circle {
  border-radius: 50%;
}

.header {
  .d-flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .widget-footer-action {
    text-align: center;
  }

  .border-top {
    --ode-border-width: 1px;
    --ode-border-style: solid;
    --ode-border-color: #f2f2f2;
    border-top: var(--ode-border-width) var(--ode-border-style)
      var(--ode-border-color) !important;
  }

  .popover-footer {
    color: var(--ode-popover-footer-color);
  }

  .form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #4a4a4a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e4e4;
    appearance: none;
    border-radius: 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
  }

  .form-control.form-control-sm {
    padding: var(--ode-input-padding-y-sm) var(--ode-input-padding-x-sm);
    font-size: var(--ode-input-font-size-sm);
    border-radius: var(--ode-input-border-radius-sm);
  }

  .input-group > .form-control,
  .input-group > .form-select,
  .input-group > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }

  .btn.btn-search {
    --ode-btn-border-color: #e4e4e4;
    --ode-btn-border-width: 0.1rem;
    height: 42px;
    background-color: #e4f4ff;
    color: #4a4a4a;
    margin: 0;
    box-shadow: none;
    float: none;
    border-radius: 12px;
  }

  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group {
    display: flex;
    align-items: stretch;
  }

  .form-control {
    --ode-input-padding-y: 8px;
    --ode-input-padding-x: 12px;
    --ode-input-padding-y-lg: 12px;
    --ode-input-padding-x-lg: 16px;
    --ode-input-font-size-lg: 16px;
    --ode-input-padding-y-sm: 4px;
    --ode-input-padding-x-sm: 12px;
    --ode-input-font-size-sm: 14px;
    --ode-input-border-color: #e4e4e4;
    --ode-input-disabled-bg: #f2f2f2;
    --ode-input-disabled-color: #909090;
    --ode-input-disabled-border-color: #c7c7c7;
    --ode-input-placeholder-color: #b0b0b0;
    --ode-input-focus-border-color: #aadaed;
    --ode-input-filled-border-color: #b0b0b0;
    --ode-input-border-radius: 12px;
    --ode-input-border-radius-sm: 8px;
    --ode-input-border-radius-lg: 12px;
    margin-bottom: 0;
    height: 42px;
    line-height: 2.2rem;
    padding: var(--ode-input-padding-y) var(--ode-input-padding-x);
    border-color: var(--ode-input-border-color);
    font-size: var(--ode-input-font-size-lg);
    min-height: inherit;
    border-radius: var(--ode-input-border-radius);

    &:focus {
      border-color: #aadaed !important;
      box-shadow: none !important;
    }
  }

  .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
  .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
  .input-group:not(.has-validation)
    > .form-floating:not(:last-child)
    > .form-control,
  .input-group:not(.has-validation)
    > .form-floating:not(:last-child)
    > .form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: 800px) {
    .d-md-none {
      display: none !important;
    }
  }

  .widget-footer-action .link,
  .widget-footer-action .feed-item .zone-text .report a,
  .feed-item .zone-text .report .widget-footer-action a {
    display: block;
    padding: 4px 0;
    font-size: 14px;
    color: #b0b0b0;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 0.4s;
    transition-property: background-color, color;
  }

  .link,
  .feed-item .zone-text .report a,
  .link a {
    transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-weight: 400;
    color: #2a9cc8;
    text-decoration: none;
  }

  .input-group .form-control + .btn-search {
    padding: 8px 12px;
  }

  .btn.btn-search svg {
    height: 24px;
    width: 24px;
    min-width: 24px;
  }

  @media (hover: hover) {
    .widget-footer-action .link:hover,
    .widget-footer-action .feed-item .zone-text .report a:hover,
    .feed-item .zone-text .report .widget-footer-action a:hover {
      color: #ff8d2e;
      background-color: #f2f2f2;
    }
  }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
