.logo {
  display: inline-block;
  height: 64px;
  max-width: 300px;
  object-fit: contain;
  object-position: left;
  margin-left: 1rem !important;
}

.row {
  max-width: 100%;
}

header.main {
  height: $header-height;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
}
.container {
  .main.wrapper {
    padding-top: 0 !important;
    max-width: none;
  }
  .main {
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.row.rigid-grid > .centered {
  max-width: 800px;
}

//// overrides css-lib
.vertical-spacing {
  margin-top: 20px !important;
  margin-bottom: 20px;
}
