.sniplets {
    .sniplet {
        display: inline-block;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 60px;
        background: #eee;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        border-radius: 4px;
        margin: 5px;
        transition: all 250ms ease;
        vertical-align: top;
        cursor: move;

        > i::before {
            color: #666;
            font-size: 32px;
            transition: color 250ms ease;
        }

        &:hover {
            box-shadow: none;
            & > i::before{
                color: $accent;
            }
        }
    }
}

.flash{
    background: $accent;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-editor{
    margin-top: 100px;
}

.grid-row{
    transition: all 250ms ease;
    border: 2px solid transparent;
}

.grid-row.dragover {
    border-color: $accent !important;
    border-width: 2px !important;
    border-style: dashed !important;
    background: #eee;
}

.edit grid-cell {
    cursor: move;

    // check if used ?? !!
    .color-picker {
        opacity: 0;
        pointer-events: none;
    }

    sniplet-source{
        .open-source{
            height: 100%;
            position: absolute;
            width: 100%;
            min-height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    sniplet {
        editor.both, editor.html, editor.edit {
            background: #fff;
            border: 1px solid #ddd;
            margin-top: 20px;
            margin-bottom: 26px;
        }
    }

    .text-wrapper{
        [bind-html]{
            min-height: 180px;
        }
        
        editor.both, editor.html, editor.edit  > div > [contenteditable] {
            border-color: transparent !important;
            min-height: 200px !important;
            padding: 0;
        }
    }

    &.drag-over:hover {
        .header {
            height: 0;
        }
    }

    .media-wrapper{
        padding: 25px 19px 25px 19px;
    }
}




.audio-wrapper, .video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    min-height: 200px;

    audio {
        position: relative;
        max-width: 90%;
        margin: 0;
        left: 0;
        top: 0;
    }
}

.image-wrapper {
    height: 100%;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body grid-cell editor {
    &.edit, &.both, &.html {
        editor-toolbar {
            position: fixed;
            top: 143px;
            left: 0;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            transition: opacity 250ms ease;
            border-bottom: 1px solid #ddd;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            height: 0;
        }

        code {
            top: 0 !important;
        }

        &.focus {
            editor-toolbar {
                opacity: 1;
                height: auto;
            }

            > popover {
                opacity: 1;
                pointer-events: all;
            }
        }

        > popover {
            position: fixed;
            top: 140px;
            opacity: 0;
            transition: opacity 250ms ease;
            pointer-events: none;
        }
    }
}

.dragging{
    .new-row{
        background: $light-grey;
        cursor: pointer;
        > div{
            height: 100%;
        }
    }
}

.new-row{
    height: 30px;
    width: 100%;
    background: transparent;
    transition: height 400ms linear;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
    border: 2px dashed transparent;

    &:last-child{
        height: 100px;
        .show-default{
            line-height: 100px;
        }
        .show-highlight{
            line-height: 100px;
        }
    }

    > div{
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .show-default{
        transform: scaleX(1);
        opacity: 1;
        color: $accent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 250ms ease;
    }
    .show-highlight{
        transition: transform 250ms ease;
        transform: scaleX(0);
        color: $primary;
    }

    &.highlight{
        background: $light-grey;
        height: 100px;
        border: 2px dashed $accent;
        .show-default{
            transform: scaleX(0);
            opacity: 0;
        }
        .show-highlight{
            transform: scaleX(1);
        }
    }
}

drawing-grid {
    display: block;
    transition: margin 250ms ease;
    height: auto;
    min-height: 1000px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 200px;
    margin-top: 30px;
}

.drawing-grid.edit{
    padding-left: 80px;
    padding-right: 80px;
}

.toggle .info {
    background: #4aa3c5;
    color: #dedede;
    border-color: #58c3eb;
    margin-left: 0;
}

.drawing-grid.edit grid-cell {
    border: 2px solid $light-grey;

    image-select > div::before {
        left: 0;
    }

    i.trash{
        position: absolute;
        top: 5px;
        right: 30px;
        opacity: 0;
        transition: opacity 250ms ease;
        z-index: 10;

        &:hover{
            &::before{
                color: $accent;
            }
        }
        &::before{
            transition: color 250ms ease;
            color: $darkest-grey;
            font-size: 14px;
            text-shadow: 0px 0px 5px $white;
        }
    }

    dots-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        border-radius: 15px;
        height: 35px;
        transition: all 250ms ease;
        width: 20px;
        opacity: 0;

        &.opened{
            opacity: 1;
        }

        &:hover {
            .opener {
                color: $accent;
                cursor: pointer!important;
            }
        }

        &.opened {
            background: none;
        }

        .opener {
            font-size: 16px;
            color: $darkest-grey;
            text-shadow: 0px 0px 5px $white;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            display: flex;
            align-items: center;
            transition: color 250ms ease;
        }

        .options {
            margin-right: 3px;
            margin-top: 7px;
            cursor: pointer!important;
        }
    }
}

// set same cells size between edit and view mode
.drawing-grid.view.pages-grid{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 20px 0;
    width: calc(100% - 80px);
    background: $white;
    box-shadow: 0px 0px 0px 2px rgba($primary, 0.5);
    .drawing-grid.view.pages-grid{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: auto;
        box-shadow: none;
    }
}


.drawing-grid.view grid-cell {
    background: transparent;

    i.trash{
        display: none;
    }

    &.shadow {
        // shadow allow blocks look like cards
        .media-container {
            // box-shadow: 0 1px 3px rgba(0,0,0,0.26);
            // background: #fff;
        }
    }

    .media-wrapper .media-container{
        padding: 25px;
        box-sizing: border-box;
    }

    .text-wrapper {
        background: #fff;
        box-sizing:border-box;
        overflow: auto;

        & > div{
            padding-bottom: 15px
        }
    }

    img{
        cursor: auto!important;
    }
}

.drawing-grid.edit grid-cell:hover{
    border-color: rgba($primary, 0.5);
    i.trash, dots-menu{
        opacity: 1;
    }
}

grid-cell {
    word-break: break-word;

    editor.both, editor.html, editor.edit {
        padding: 0;
        margin: 0;

        textarea {
            min-height: 200px;
        }

        editor-toolbar {
            position: fixed;
        }
    }

    &.dragging {
        border: 2px dashed $primary!important;
        z-index: 2000;
        transition: none;
    }

    &.ew-resize-over, &.ew-resize{
        border-right: 2px dashed $primary!important;
        box-shadow: none!important;
    }
    &.ns-resize-over, &.ns-resize{
        border-bottom: 2px dashed $primary!important;
        box-shadow: none!important;
    }
    &.nwse-resize-over, &.nwse-resize{
        border-right: 2px dashed $primary!important;
        border-bottom: 2px dashed $primary!important;
        box-shadow: none!important;
    }

    &.editor-focus{
        border: 2px dashed $accent!important;
        box-shadow: none!important;
        cursor: default;
    }

    &.height-undefined, &.height-zero {
        min-height: 200px;
        height: auto;

        .media-wrapper {
            &.has-title {
                margin-top: 50px;
                top: 0 !important;
            }
        }
    }

    .text-wrapper {
        height: 100%;

        editor {
            height: 100%;
            min-height: 100%;
        }
    }

    .media-wrapper {
        &.has-title {
            top: 50px !important;
            height: calc(100% - 50px) !important;
            min-height: 0 !important;
        }
    }

    h2.cell-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0!important;
        margin: 0;
        text-align: center;
        font-size: 28px;
        line-height: 50px;
        font-weight: bold;
        background: $light-grey;
        overflow: hidden;
    }
}

.breadcrumbs{
    a::after{
        content: " > ";
        color: $medium-grey;
    }
    a:last-child::after{
        content: ""
    }
}

.info.inline{
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
}

.edit .media.cell {
    background: rgba(255,255,255,0.4);
}

.list-view {
    i {
        transition: color 250ms ease;
        color: #888;
        font-size: 20px;

        &.visible, &.hidden {
            float: right;
        }
    }

    a i {
        font-size: 25px;
        margin-right: 15px;
    }

    .drag, .visible, .hidden {
        color: transparent;
    }

    dots-menu .opener {
        color: transparent;
    }

    li:hover {
        dots-menu {
            &.opened {
                .opener {
                    color: $accent;
                }
            }

            .opener {
                color: #888;
            }
        }

        .drag, .visible, .hidden {
            color: #888;
        }
    }
}

.paginate {
    .current::before, .before::before, .next::before {
        content: '\2022';
    }
}

// templates preview
.block-preview {
    box-shadow: 1px 1px 3px rgba($black, 0.4);
    background: #eee;
    color: #666;
    border-radius: 5px;
    height: 150px;
    position: relative;
    width: 250px;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: move;

    &:hover {
        .block-description {
            opacity: 0.8;
        }
    }

    .block-description {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
        opacity: 0;
        background: #fff;
        transition: opacity 250ms ease;
        position: absolute;
        z-index: 1;
    }

    .block-template {
        transform: scale(0.5);
        transform-origin: 0 0;
        height: 300px;
        background: #eee;
        color: #666;
        width: 500px;
        padding: 35px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        & > div{
            height: 230px;
            overflow: hidden;
        }
    }
}

css-editor {
    .preview {
        width: 30%;
        float: left;
        position: relative;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;

        .preview-content {
            background: #efefef;
            padding: 18px;
            box-sizing: border-box;
            border-radius: 5px;
            margin-top: -10px;
        }
    }

    .css-editor {
        float: left;
        width: 70%;
        position: relative;

        pre code {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            pointer-events: none;
            background-color: transparent;
            padding: 10px;
            box-sizing: border-box;
            overflow: hidden;
            border: 1px solid transparent;
            white-space: pre-wrap;
            word-break: break-word;
            font-size: 16px;
        }

        textarea {
            position: absolute;
            top: 0;
            left: 0;
            float: left;
            box-sizing: border-box;
            transition: width 250ms ease;
            margin: 0;
            line-height: 1.5em;
            font-family: monospace;
            tab-size: 4;
            font-size: 16px;
            border: 1px solid #ddd;
            padding: 10px;
            white-space: pre-wrap;
            word-break: break-word;
            min-height: 333px;
        }
    }
}


// pages styles in cells (edit & view)
grid-cell.media .media-container{

    img{
        width: auto;
    }
}
