.bubble-right {
  &:before {
    @include triangle-left(25px, $white);
  }
}

.row.centered-text > i.dotsx3 {
  border-top: 1px solid #c9ced5;
  color: transparent;
  display: block;
  margin-top: 15px;
  font-size: 30px;
  line-height: 10px;
  -webkit-text-stroke: 2px #8c939e;
  font-family: "generic-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: none;
  font-weight: normal !important;
}
