.color-picker {
  height: 33px;
  button.colors-opener {
    margin: 6px 0px 3px -5px;
    &:before {
      display: none;
    }
  }

  .colors-list {
    margin-top: 3px;
  }
}
.toolbar .color-picker button.colors-opener {
  margin: 9px 0px 3px 5px;
}

///// PICTOS

// .color-picker{
//     button.colors-opener {
//         @include fonticon;
//         width: 20px;
//         box-shadow: none;
//         margin: 0;
//         padding: 0;
//         border: none;
//         position: absolute;
//         right: -20px;
//         top: 1px;
//     }
//     button.colors-opener:before{
//       content: '\e83b';
//       text-indent: 13px;
//       color: black;
//     }
// }
