.dominos {
  .folder,
  .item {
    @include box-shadow3(2px, 2px, 5px);
    .domino {
      border: none;
      .top {
        background-color: $grey;
      }
      .bottom {
        .content {
          span {
            color: $primary;
          }
          em.smaller-text span {
            font-size: 11px !important;
            color: $grey;
          }
        }
      }
    }
  }
}
.dominos.centered-text {
  .item {
    .domino {
      .top {
        background-color: white;
      }
    }
  }
}

.dominos.fallen {
  .two-lines {
    max-height: 42px;
    overflow: hidden;
  }
}

sniplet .dominos .item {
  box-shadow: 2px 2px 5px $shadow-light;
}

@media screen and (min-width: $wide-screen) {
  .user-infos {
    margin-top: 44px;
  }
  .dominos-infos {
    margin-top: 82px;
  }
  .group-infos {
    margin-top: 50px;
  }
  .favorite-infos {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1800px) {
  .dominos .item,
  .dominos .folder {
    width: calc(20% - 20px);
  }
}
@media screen and (max-width: 1400px) {
  .dominos .item,
  .dominos .folder {
    width: calc(33% - 20px);
  }
}
@media screen and (max-width: 1000px) {
  .dominos .item,
  .dominos .folder {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 600px) {
  .dominos .item,
  .dominos .folder {
    width: calc(100% - 20px);
  }
}

// Resize cards if they are contained in .margin-four (= left panel)
@media screen and (max-width: 1800px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(20% - 20px);
    }
  }
}
@media screen and (max-width: 1650px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(33% - 20px);
    }
  }
}
@media screen and (max-width: 1200px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(50% - 20px);
    }
  }
}
@media screen and (max-width: 1000px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(100% - 20px);
    }
  }
}
@media screen and (max-width: 800px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(50% - 20px);
    }
  }
}
@media screen and (max-width: 600px) {
  .margin-four {
    .dominos .item,
    .dominos .folder {
      width: calc(100% - 20px);
    }
  }
}
