#my-photo {
  margin-top: 0;
  padding: 5px 0;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

image-select.droptarget {
  > div {
    background-color: $light-grey;
    border: 1px dashed $accent;
  }
}

image-select {
  overflow: hidden;
  & > div > img {
    box-sizing: border-box;
    border: 1px dashed $medium-grey;
    @include run-transition(all);
  }
  & > div > i:hover {
    color: $accent;
  }
}
image-select:hover > div > img {
  border: 1px dashed $primary;
}
