.selectable-categories {
  figure {
    width: 110px;
  }
  .selected .sticker,
  .sticker:hover {
    opacity: 1;
  }
  .sticker {
    color: $white;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    @include run-transition(all);
    &.various {
      background: $indigo;
    }
    &.outing {
      background: $green;
    }
    &.leisure {
      background: $yellow;
    }
    &.canteen {
      background: $accent;
    }
    &.last-minute {
      background: $red;
    }
    &.event {
      background: $purple;
    }
  }
}

.schoolbook-word section.wizard h2,
.bubble-right h2 {
  i {
    display: inline-block;
    font-weight: normal !important;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    &.various {
      background: $indigo;
    }
    &.outing {
      background: $green;
    }
    &.leisure {
      background: $yellow;
    }
    &.canteen {
      background: $accent;
    }
    &.last-minute {
      background: $red;
    }
    &.event {
      background: $purple;
    }
  }
}
//( # date in cal icon)
i.calendar-o + span.sticker.absolute {
  top: 5px;
  color: white;
}
