.timeline-story {
  clear: none;

  &::before {
    background-color: $disabled-color;
  }

  .round {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0 auto;
    border: solid 3px $lightest-grey;

    &.orange {
      background-color: $orange;
    }
    &.green {
      background-color: $green;
    }
    &.red {
      background-color: $red;
    }
    &.purple {
      background-color: $purple;
    }
    &.indigo {
      background-color: $indigo;
    }
    &.pink {
      background-color: $pink;
    }
    &.cyan {
      background-color: $cyan;
    }
    &.yellow {
      background-color: $yellow;
    }
  }
}
