<h1 class="centered-text">Enseignant avec LEO vous pourrez...</h1>

<h4>
Accompagner le travail des élèves grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <!-- <div class="container">
        <i class="exercizer-large"></i>
        <legend>Exercices et évaluations</legend>
    </div> -->
    <div class="container">
        <i class="workspace-large"></i>
        <legend>Documents</legend>
    </div>
    <div class="container">
        <i class="pages-large"></i>
        <legend>Pages</legend>
    </div>

</div>
