<h1 class="centered-text">Enseignant avec LEO vous pourrez...</h1>

<h4>
Donner de la visibilité à un projet grâce aux services...
</h4>

<hr>

<div class="flex-row flex-start justify-center centered-text apps">
    <div class="container">
        <i class="blog-large"></i>
        <legend>Blog</legend>
    </div>
    <div class="container">
        <i class="timelinegenerator-large"></i>
        <legend>Frise chronologique</legend>
    </div>
    <div class="container">
        <i class="pages-large"></i>
        <legend>Pages</legend>
    </div>
    <div class="container">
        <div class="multi-apps">
            <i class="timelinegenerator-large"></i>
            <i class="rack-large"></i>
            <i class="rbs-large"></i>
            <i class="exercizer-large"></i>
            <i class="collaborative-wall-large"></i>
            <i class="dotsx3-h"></i>
        </div>
    </div>

</div>
