
.scrapbook-infos,
nav.scrapbook-buttons{
    button.colors-opener {
        background-image: url("../../img/icons/colorpicker.png");
    }

    button.colors-opener {
        &:before{
            display: none;
        }
    }

}

.scrapbook-infos{
    .color-picker{
        position: static;
        float: left;
        button.colors-opener{
            position: static;
        }
    }
}
